<ion-content  [scrollEvents]="true" (ionScroll)="scrollEvent($event)" id="background-content" class="ion-padding-bottom  ion-padding-top">
  <div id="locationTitle" class="centerContent">
    <div>
    <i [ngStyle]="{display: (selectedRoom == -120) ? 'none' : 'flex'}" id="roomIcon" class="headerIcon"></i>
  </div>
    <span class="locationNameTitle">{{selectedLocation.locationName}}</span>
</div>
  
  <div id="roomsContent" class="gridContainer">

    <!--#region ROOMS-->
    <!--<div id="cft_roomUI">-->
    <!--ROOMS TILES-->
    <div *ngFor="let room of rooms" class="flex-container" (click)="selectRoom(room)"
      [ngStyle]="{display: (selectedRoom == -120) ? 'flex' : 'none'}" (press)="presentRoomsActionSheet($event, room)">
      <div class="inteliappContainer" style="flex-grow:56;">
        <i *ngIf="room.roomType != 'inteliGadget'" class="intelihogarIcon icon-{{room.roomType}}"></i>
      </div>
    
      <div style="flex-grow:15;">
        <div class="lineDivider"></div>
      </div>

      <div style="flex-grow:15;" class="st-title">
        {{room.roomAlias}}
      </div>
      <!--</div>-->
    </div>

    <!--Backbutton-->
    <div id='roomBackButton' class='backButton' (click)="goBack()"
      [ngClass]="{'iosFixedNavigationButton': currentPlatforms.includes('ios')}"
      [ngStyle]="{display: (selectedRoom == -120) ? 'none' : 'block'}">
      <i class='icon-back addIcon'></i>
      <div class='addTitle'>Regresar</div>
    </div>

    <!--Add device button-->
    <div id='addDeviceButton' class='addNewFavorite' (click)="addDeviceToRoom()"
      [ngClass]="{'iosFixedNavigationButton': currentPlatforms.includes('ios')}"
      [ngStyle]="{display: (selectedRoom == -120) ? 'none' : 'block'}">
      <ion-icon name="add-sharp" class="addIcon"></ion-icon>
      <div class='addTitle'>Agregar</div>
    </div>
  </div>
  <!--#endregion-->

  <!--#region DEVICES-->
  <!-- <div id="cft_deviceUI"> -->
  <div id="confortContent" class="gridContainer">

    <!--MODES-->
    <div *ngFor="let mode of deviceList.modes" [id]="'cft_' + mode.id"
      [ngClass]="{'no-access': mode.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1}"
      [ngStyle]="{display: (mode.roomId == selectedRoom) && (mode.visible) ? 'flex' : 'none'}"
      (press)="(mode.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1) ? '' : presentActionSheet($event, mode)"
      (click)="checkIfUserHasAccess(mode, 'mode')" class="flex-container">

      <!-- <ion-icon *ngIf="device.favorite" (click)="showToast('Tienes habilitadas las notificaciones para este dispositivo');" class="notificationsIcon" name="notifications-sharp"></ion-icon> -->

      <div class="inteliappContainer" style="flex-grow:56;">
        <img class="inteliappImage"
          [src]="'../../assets/imgs/inteliApps/' + 'routine' + ((mode.status != undefined) ? '-' + mode.status : '') + '.png'">
      </div>

      <div style="flex-grow:15;">
        <div class="lineDivider"></div>
      </div>

      <div style="flex-grow:15;" class="st-title">
        {{mode.alias}}
      </div>
    </div>

    <!--DEVICES ACTION-->
    <div *ngFor="let device of deviceList.devicesAction; index as idx" [id]="'cft_'+device.id" class="flex-container"
      [ngClass]="{'no-access': device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1}"
      avoid-super-tabs="true"
      [ngStyle]="{display: (device.roomId == selectedRoom) && (device.visible) ? 'flex' : 'none'}"
      (click)="checkIfUserHasAccess(device, 'toggle')"
      (press)="(device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1) ? '' : presentActionSheet($event, device)">

      <ion-icon *ngIf="device.notification"
        (click)="showToast('Tienes habilitadas las notificaciones para este dispositivo'); $event.stopPropagation();"
        class="notificationsIcon" name="notifications-sharp"></ion-icon>

      <div style="flex-grow:56;" class="inteliappContainer">
        <img class="inteliappImage"
          *ngIf="device.type=='inteliAppsGeneral' || device.type=='inteliAppsMedical' || device.type=='inteliAppsSecurity' || device.type=='inteliAppsEnergy' || device.type=='routine'"
          [src]="'../../assets/imgs/inteliApps/' + device.type + ((device.status != undefined) ? '-' + device.status : '') + '.png'">
        <i *ngIf="device.type!='inteliAppsGeneral' && device.type!='inteliAppsMedical' && device.type!='inteliAppsSecurity' && device.type!='inteliAppsEnergy' && device.type!='routine'"
          class="intelihogarIcon"
          [ngClass]="'icon' + '-' + device.type + ((device.status != undefined) ? '-' + device.status : '')"></i>
        <span class="group-batch" *ngIf="device.group">g</span>
      </div>

      <div *ngIf="device.type == 'smartBlind'" class="curtainButtonsContainer">
        <ion-icon (click)="checkIfUserHasAccess(device, 'open'); $event.stopPropagation();"
          class="curtainPlayPauseButtons" name="caret-up-outline">
        </ion-icon>
        <ion-icon (click)="checkIfUserHasAccess(device, 'pause'); $event.stopPropagation();"
          class="curtainPlayPauseButtons" name="pause-outline">
        </ion-icon>
        <ion-icon (click)="checkIfUserHasAccess(device, 'close'); $event.stopPropagation();"
          class="curtainPlayPauseButtons" name="caret-down-outline"></ion-icon>
      </div>

      <div *ngIf="device.type == 'window' || device.type == 'curtain'" class="windowButtonsContainer">
        <ion-icon (click)="checkIfUserHasAccess(device, 'open'); $event.stopPropagation();"
          class="windowPlayPauseButtons" name="caret-back-outline">
        </ion-icon>
        <ion-icon (click)="checkIfUserHasAccess(device, 'pause'); $event.stopPropagation();"
          class="windowPlayPauseButtons" name="pause-outline">
        </ion-icon>
        <ion-icon (click)="checkIfUserHasAccess(device, 'close'); $event.stopPropagation();"
          class="windowPlayPauseButtons" name="caret-forward-outline"></ion-icon>
      </div>

      <div style="flex-grow:15;" *ngIf="device.type != 'adjustableLight' && device.type != 'dimmer'">
        <div class="lineDivider"
          [ngClass]="{'windowsLineDivider': device.type == 'window' || device.type == 'curtain'}"></div>
        <label *ngIf="device.type == 'window'" class="windowsLevelLabel">{{device.level}}</label>
      </div>

      <div style="flex-grow:15;" class="full-width-slider"
        *ngIf="device.type == 'adjustableLight' || device.type == 'dimmer'"
        (change)="sendCommand(device.type, device.id,  device.level);">
        <input class="slider" type="range" [(ngModel)]="device.level"
          [disabled]="device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1">
        <label>{{device.level}}</label>
      </div>

      <div style="flex-grow:15;" class="st-title">
        {{device.alias}}
      </div>
    </div>

    <!--DEVICES STATE-->
    <div *ngFor="let device of deviceList.devicesState" [id]="'cft_'+device.id" class="flex-container"
      [ngClass]="{'no-access': device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1}"
      [ngStyle]="{display: (device.roomId == selectedRoom) && (device.visible) ? 'flex' : 'none'}"
      (press)="(device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1) ? '' : presentActionSheet($event, device)">

      <ion-icon *ngIf="device.notification"
        (click)="showToast('Tienes habilitadas las notificaciones para este dispositivo');" class="notificationsIcon"
        name="notifications-sharp"></ion-icon>

      <div style="flex-grow:70;" class="tempAndBattContainer">
        <div class="tempAndBattIcon"
          *ngIf="device.type=='temperature' || device.type=='battery' || device.type=='lightSensor'">
          <i class="intelihogarIcon" [ngClass]="'icon' + '-' + device.type"></i>
          <p class='textStatus'>{{device.status}}</p>
        </div>
        <i *ngIf="device.type!='temperature' || device.type!='battery' || device.type!='lightSensor' || device.type!='energy' || device.type!='power' || device.type!='humidity'"
          class="intelihogarIcon"
          [ngClass]="'icon' + '-' + device.type + ((device.status != undefined) ? '-' + device.status : '')"></i>
      </div>

      <div style="flex-grow:15;">
        <div class="lineDivider"></div>
      </div>

      <!-- <div class='footer'>
          <i *ngIf="device.type=='temperature' || device.type=='battery' || device.type=='energy' || device.type=='power' || device.type=='humidity'"
            class='icon-{{device.type}}' style='font-size: 2em;'></i>
        </div> -->

      <div style="flex-grow:15;" class="st-title">
        {{device.alias}}
      </div>
    </div>

    <!--DEVICES COLOR LIGHT-->
    <div *ngFor="let device of deviceList.devicesColorLight" [id]="'cft_'+device.id" class="flex-container"
      [ngClass]="{'no-access': device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1}"
      avoid-super-tabs="true"
      [ngStyle]="{display: (device.roomId == selectedRoom) && (device.visible) ? 'flex' : 'none'}"
      (press)="(device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1) ? '' : presentActionSheet($event, device)">

      <ion-icon *ngIf="device.notification"
        (click)="showToast('Tienes habilitadas las notificaciones para este dispositivo');" class="notificationsIcon"
        name="notifications-sharp"></ion-icon>

      <div class="flexColorContainer">
        <div class="warmColor" (click)="checkIfUserHasAccess(device, 'warmColor'); $event.stopPropagation();"></div>
        <div class="coldColor" (click)="checkIfUserHasAccess(device, 'coldColor'); $event.stopPropagation();"></div>
        <img (click)="checkIfUserHasAccess(device, 'changeColor')" class="colorPickerCircle"
          src="../../../../assets/imgs/colorPicker.png" alt="colorPicker">
      </div>

      <i style="flex-grow:40;" class="intelihogarIcon" (click)="checkIfUserHasAccess(device, 'toggle,')"
        [ngClass]="'icon-' + device.type + ((device.status != undefined) ? '-' + device.status : '')"></i>
      <span class="group-batch" *ngIf="device.group">g</span>

      <div style="flex-grow:30;" class="full-width-slider">
        <input [disabled]="device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1"
          [class]="'sliderMobile lineDividerMobile '+ device.type + '_' + device.id" type="range" [(ngModel)]="device.level"
          (change)="sendCommand(device.type, device.id, device.level + '')">
        <label>{{device.level}}</label>
      </div>

      <div style="flex-grow:30;" class="st-title">
        {{device.alias}}
      </div>
    </div>

    <!--DEVICES MULTI WHITE LIGHT-->
    <div *ngFor="let device of deviceList.devicesMultiWhiteLight" [id]="'cft_'+device.id" class="flex-container"
      [ngStyle]="{display: (device.roomId == selectedRoom) && (device.visible) ? 'flex' : 'none'}"
      (press)="(device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1) ? '' : presentActionSheet($event, device)"
      avoid-super-tabs="true">

      <ion-icon *ngIf="device.notification"
        (click)="showToast('Tienes habilitadas las notificaciones para este dispositivo'); $event.stopPropagation();"
        class="notificationsIcon" name="notifications-sharp"></ion-icon>

      <div class="flexColorContainer">
        <div class="warmColor" (click)="checkIfUserHasAccess(device, 'warmColor'); $event.stopPropagation();"></div>
        <div class="coldColor" (click)="checkIfUserHasAccess(device, 'coldColor'); $event.stopPropagation();"></div>
      </div>

      <i style="flex-grow:40;" class="intelihogarIcon" (click)="checkIfUserHasAccess(device, 'toggle')"
        [ngClass]="'icon-' + device.type + ((device.status != undefined) ? '-' + device.status : '')"></i>
      <span class="group-batch" *ngIf="device.group">g</span>

      <div style="flex-grow:30;" class="full-width-slider">
        <input [disabled]="device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1"
          [class]="'slider '+ device.type + '_' + device.id" type="range"
          [(ngModel)]="device.status == 'off' ? 0 : device.level"
          (change)="sendCommand(device.type, device.id, device.level + '')">
        <label>{{device.level}}</label>
      </div>

      <div style="flex-grow:30;" class="st-title">
        {{device.alias}}
      </div>
    </div>

    <!--DEVICES THERMOSTAT-->
    <div *ngFor="let device of deviceList.devicesThermostat" [id]="'cft_'+device.id" class="flex-container"
      [ngClass]="{'no-access': device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1}"
      [ngStyle]="{display: (device.roomId == selectedRoom) && (device.visible) ? 'flex' : 'none'}"
      (click)="checkIfUserHasAccess(device, 'thermostat')"
      (press)="(device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1) ? '' : presentActionSheet($event, device)">

      <ion-icon *ngIf="device.notification"
        (click)="showToast('Tienes habilitadas las notificaciones para este dispositivo');" class="notificationsIcon"
        name="notifications-sharp"></ion-icon>

      <i style="flex-grow:70;" class="intelihogarIcon"
        [ngClass]="'icon-' + device.type + ((device.status != undefined) ? '-' + device.status : '')"></i>

      <div style="flex-grow:15;">
        <div class="lineDivider"></div>
      </div>

      <!-- <div class='footer'>
          <i class='icon-{{device.type}}' style='font-size: 2em;'></i>
          <span>{{device.temperature}}</span>
        </div> -->

      <div style="flex-grow:15;" class="st-title">
        {{device.alias}}
      </div>
    </div>

    <!--Add room button-->
    <div id="addRoomButton" class='addNewFavorite'
      [ngClass]="{'iosFixedNavigationButton': currentPlatforms.includes('ios')}"
      [ngStyle]="{display: (selectedRoom == -120) ? 'block' : 'none'}" (click)="showRoomPrompt()">
      <ion-icon name="add-sharp" class="addIcon"></ion-icon>
      <div class="addTitle">Agregar</div>
    </div>

  </div>
  <!--#endregion -->
  <footer class="hide-on-small-only confortFooterStyle" id="confortFooter">
    <ion-tabs>
      <ion-tab-bar id="confortTabsNavBar" class="tabStyle" slot="bottom">
        <ion-tab-button class= "colorSelectedFav" tab="favorites">
            <!-- <ion-icon name="star"></ion-icon> -->
            <img class="tabsImageMargin" src="../../../assets/imgs/favoritesIcon.png" alt="favorites">
            <ion-label>Favoritos</ion-label>
        </ion-tab-button>
        <div class="verticalLine"></div>
        <ion-tab-button class= "colorSelectedConf" tab="confort">
            <!-- <ion-icon name="apps"></ion-icon> -->
            <img class="tabsImageMargin" src="../../../assets/imgs/confortIcon.png" alt="confort">
            <ion-label id="labelConfort">Confort</ion-label>
        </ion-tab-button>
        <div class="verticalLine"></div>
        <ion-tab-button class= "colorSelectedSec" tab="security">
            <!-- <ion-icon name="lock-closed"></ion-icon> -->
            <img class="tabsImageMargin" src="../../../assets/imgs/securityIcon.png" alt="security">
            <ion-label>Seguridad</ion-label>
        </ion-tab-button>
        <div class="verticalLine"></div>
        <ion-tab-button class= "colorSelectedEnerg" tab="energy-saving">
            <!-- <ion-icon name="leaf"></ion-icon> -->
            <img class="tabsImageMargin" src="../../../assets/imgs/energyIcon.png" alt="energy">
            <ion-label>Energía</ion-label>
        </ion-tab-button>
        <!-- <ion-tab-button tab="user-profile" style="display: none">
    <img [src]="user.userImage" alt="actualUserImage" class="tabsImage">
    </ion-tab-button> -->
    
    </ion-tab-bar>
    <div class="container">
      <div class="row noMarginBottom">
          <div class="col s6 m3">
              <ul>
                  <li>
                      <img loading="lazy" src="../../../assets/imgs/landingPageIcons/help.webp"
                          class="ih-16-x-16 marginBottom" alt="Ayuda">
                      <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/preguntasFrecuentes"
                          ng-click="manageColors('default')">Preguntas
                          Frecuentes</a>
                  </li>
                  <li>
                      <img loading="lazy" src="../../../assets/imgs/landingPageIcons/comments.webp" class="ih-16-x-16"
                          alt="Blog">
                      <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/inicioBlog"
                          ng-click="manageColors('default')">Blog</a>
                  </li>
              </ul>
          </div>
          <div class="col s6 m3">
              <ul>
                  <li>
                      <img loading="lazy" src="../../../assets/imgs/landingPageIcons/lock.webp"
                          class="ih-16-x-16 marginBottom" alt="Políticas de privacidad">
                      <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/politicasDePrivacidad"
                          ng-click="manageColors('default')">Política de
                          Privacidad</a>
                  </li>
                  <li>
                      <img loading="lazy" src="../../../assets/imgs/landingPageIcons/document.webp" class="ih-16-x-16"
                          alt="ToS">
                      <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/terminosCondiciones"
                          ng-click="manageColors('default')">Términos y
                          Condiciones</a>
                  </li>
              </ul>
          </div>
          <div class="col s6 m3">
              <ul>
                  <li>
                      <img loading="lazy" src="../../../assets/imgs/landingPageIcons/facebook.webp"
                          class="ih-16-x-16 marginBottomF" alt="Facebook">
                      <a class="footerFonts blackColorText cursorPointer" ng-click="goToFacebook();">Siguenos
                          en
                          Facebook </a>
                  </li>
                  <li>
                      <a class="footerFonts callText" href="https://www.intelihogar.com/#!/contactanos" ng-click="manageColors('default')">
                          <i class="material-icons callIcon">call</i> Contáctanos
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col s6 m3">
              <ul>
                  <li class="ih-footer-logo-margin">
                      <img src="../../../assets/imgs/inteliLogo-img.webp" alt="InteliHogar" class="ih-60-x-60-casa footerImage">
                      <img src="../../../assets/imgs/inteliLogo-name.webp" alt="InteliHogar" class="ih-image-inteli-desk">
                  </li>
                  <li class="ih-footer-rm-margin">
                      <span class="footerFonts footerFontsStyle">InteliHogar
                          2015-2021</span>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  </ion-tabs>
    
     <!--Add shortcut button-->
  <!--Add room button-->
  
<!--Backbutton-->
<div id='roomBackButtonFooter' class='backButtonFooter' (click)="goBack()"
[ngClass]="{'iosFixedNavigationButton': currentPlatforms.includes('ios')}"
[ngStyle]="{display: (selectedRoom == -120) ? 'none' : 'block'}">
<i class='intelihogarIcon icon-back addIcon'></i>
<div class='addTitle'>Regresar</div>
</div>
<div id="addRoomButtonFooter" class='addNewFavoriteFooter'
  [ngClass]="{'iosFixedNavigationButton': currentPlatforms.includes('ios')}"
  [ngStyle]="{display: (selectedRoom == -120) ? 'block' : 'none'}" (click)="showRoomPrompt()">
  <ion-icon name="add-sharp" class="addIcon"></ion-icon>
  <div class="addTitle">Agregar</div>
</div>
<div id="addDeviceButtonFooter" class='addNewDeviceFooter'
  [ngClass]="{'iosFixedNavigationButton': currentPlatforms.includes('ios')}"
  [ngStyle]="{display: (selectedRoom == -120) ? 'none' : 'block'}" (click)="addDeviceToRoom()">
  <ion-icon name="add-sharp" class="addIcon"></ion-icon>
  <div class="addTitle">Agregar</div>
</div>
  </footer>

</ion-content>