#background-content {
    // --background: url(../../../../assets/imgs/background.png) 0 0/100% 100% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    --background: #F4F8F8;
}

.floating-windows {
    width: 100%;
    height: 100%;
}


.lineDividerMobile {
    width: 86%;
    height: 2.5px;
    margin-left: 10px;
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
    position: relative;
    display: -webkit-inline-box;
}
.addNewFavorite {
    position: fixed;
    bottom: 0px;
    right:17px;
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
    height: 82px;
    width: 50px;
    font-size: 0.6em;
    float: right;
    border-radius: 10px 0 0 0;
    z-index: 1;
    cursor:pointer;
}

.addNewDeviceFooter {
    position: absolute;
    bottom: 71px;
    left: calc(46% + 18.5vw);
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
    height: 53px;
    width: 48px;
    font-size: 0.86em;
    float: right;
    border-radius: 0 10px 10px 0;
    z-index: 0;
    cursor:pointer;
}

.addNewFavoriteFooter {
    position: absolute;
    bottom: 72px;
    left: calc(46% + 18.5vw);
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
    height: 53px;
    width: 50px;
    font-size: 0.86em;
    float: right;
    border-radius: 0 10px 10px 0;
    z-index: 0;
    cursor:pointer;
}

.iosFixedNavigationButton {
    bottom: 50px !important;
}

.backButton {
    position: fixed;
    bottom: 0px !important;
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
    height: 60px;
    width: 50px;
    font-size: 0.6em;
    float: left;
    border-radius:0 10px 10px 0;
    z-index: 1;
    cursor:pointer;
}
.backButtonFooter{
    position: absolute;
    bottom: 71px;
    right: calc(54% + 18.5vw);
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
    height: 53px;
    width: 48px;
    font-size: 0.86em;
    float: left;
    border-radius:10px 0 0 10px;
    cursor:pointer;
}
.confortFooterStyle {
    position: absolute;
    padding-top: 10px !important;
    //padding-left: 5%;
    width: 108%;
    background: #fff!important;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
    height: 61px;
    margin-top: 7% !important;
    
}

.floating-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 900;
    /* -webkit-transition: all .5s;
    transition: all .5s;*/
}

.curtainPlayPauseButtons {
    color: #3F75FF;
    font-size: 2.3em;
    margin: 25% 0;
}

.windowsLineDivider {
    float: left;
    width: 81%;
    margin-top: 7%;
}

.windowsLevelLabel {
    top: 20%;
    position: relative;
}

.windowButtonsContainer {
    position: relative;
    margin: -15% 0 0 0;
    top: 4%;
}

.curtainButtonsContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5%;
    top: 5%;
}

.windowPlayPauseButtons {
    color: #3F75FF;
    font-size: 2.3em;
    margin: 0 4%;
}

.slider {
    display:-webkit-inline-box;
    -webkit-appearance: none;
    height: 2px;
    width: 85%;
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
    outline: none;
    -webkit-transition: .2s;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
.slidermobile {
    display:-webkit-inline-box;
    -webkit-appearance: none;
    height: 2px;
    width: 85%;
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
    outline: none;
    -webkit-transition: .2s;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    display: -webkit-inline-box;
}

.thermo-container {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -119px;
    margin-top: -119px;
    width: 238px !important;
    height: 238px !important;
    --background: url(https://s3.amazonaws.com/intelihogar/config/dev/Nest_238.png) 0 0/100% 100% no-repeat;
}

.thermo-title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110px;
    margin-top: -104px;
    margin-left: -55px;
    font-size: 0.9em;
    color: white;
    text-align: center;
    z-index: 10;
    line-height: 12px;
}

.thermo-control {
    position: absolute;
    cursor: pointer;
    top: 90px;
    left: 87px;
}

.thermo-slider {
    background-color: transparent;
    position: relative;
    top: -43%;
    left: 18.5%;
}

.thermo-mode {
    position: relative;
    cursor: pointer;
    z-index: 1020;
    top: 30%;
    font-size: 1.2em;
    text-align: center;
    color: white;
    width: 100px;
    left: 30%;
}

.thermo-mode:active {
    transform: translateY(2px);
}

.thermo-temp {
    position: relative;
    cursor: pointer;
    z-index: 1030;
    top: 30%;
    text-align: center;
    font-size: 3em;
    color: white;
    width: 100px;
    left: 30%;
}

.thermo-icon {
    z-index: 10000;
    position: relative;
    top: 27%;
    font-size: 0.7em;
    left: 45.5%;
    color: white;
}

.thermo-close {
    cursor: pointer;
    position: relative;
    color: white;
    left: 45.5%;
    top: 35%;
    font-size: 0.7em;
    z-index: 10000;
}

.thermo-close:active {
    transform: translateY(2px);
}

.thermo-close-button {
    position: fixed;
    top: 5%;
    right: 5%;
    font-size: 2em;
    color: #aaa;
    cursor: pointer;
    transition: 0.3s;
}

.rs-bg-color {
    background-color: blue;
}

.rs-overlay {
    background-color: transparent !important;
}

.rs-tooltip-text {
    /*top: -15px !important;
    left: 45% !important;*/
    position: relative;
    top: -55px !important;
    left: 40% !important;
    color: white;
    font-size: 1.5em;
    margin-left: 0 !important;
}

.color-picker {
    position: relative;
    top: 22.5%;
    left: 11.5%;
}

.color-title {
    line-height: 15px;
    margin-top: -100px;
    font-size: 1em !important;
}

.roomSelectorDiv {
    position: relative;
    left: 20%;
    background-color: transparent;
}

.roomSelector {
    background-color: transparent;
    font-size: 1.4em;
    border-radius: 5px;
    color: white;
    text-shadow: 2px;
    text-shadow: 2px 2px #3c3a3a
}

.roomOption {
    color: black;
}

.disabledTile {
    pointer-events: none;
    opacity: 0.7;
}

.loading-state {
    animation: rotation 2s infinite linear;
}

.no-access {
    background: #eeeeee;
    // pointer-events: none;
    // color: #ffffffaa;
}

.notificationsIcon {
    position: absolute;
    padding: 4%;
    font-size: 1.4em;
    color: #3f75ff;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@media only screen and (max-width: 480px) {
    .st-tile {
        width: 47%;
        height: 150px;
    }

    .st-tile2 {
        width: 60.5%;
    }
}

@media only screen and (max-width: 565px) and (min-width: 481px) {
    .st-tile {
        width: 25%;
    }

    .st-tile2 {
        width: 50.5%;
    }
}

@media only screen and (max-width: 650px) and (min-width: 566px) {
    .st-tile {
        width: 20%;
    }

    .st-tile2 {
        width: 40.5%;
    }
}

@media only screen and (max-width: 850px) and (min-width: 651px) {
    .st-tile {
        width: 24%;
    }

    .st-tile2 {
        width: 32.5%;
    }
}

@media only screen and (max-width: 1050px) and (min-width: 851px) {
    .st-tile {
        width: 14%;
    }

    .st-tile2 {
        width: 28.5%;
    }
}

@media only screen and (min-width: 1051px) {
    .st-tile {
        width: 19%;
    }

    .st-tile2 {
        width: 24.5%;
    }
}

@media only screen and (min-width: 681px) {
    .thermo-container {
        margin-left: -238px;
        margin-top: -238px;
        width: 476px !important;
        height: 476px !important;
        --background: url(https://s3.amazonaws.com/intelihogar/config/dev/Nest_476.png) 0 0/100% 100% no-repeat;
    }

    .thermo-title {
        width: 110px;
        margin-top: -104px;
        margin-left: -55px;
        font-size: 0.9em;
        line-height: 12px;
    }

    .thermo-control {
        top: 90px;
        left: 87px;
    }

    .thermo-slider {
        top: -12%;
        left: 18.5%;
    }

    .thermo-mode {
        top: 30%;
        font-size: 1.2em;
        width: 100px;
        left: 30%;
    }

    .thermo-temp {
        top: 30%;
        font-size: 3em;
        width: 100px;
        left: 30%;
    }

    .thermo-icon {
        top: 27%;
        font-size: 0.7em;
        left: 45.5%;
    }

    .thermo-close {
        left: 45.5%;
        top: 35%;
        font-size: 0.7em;
    }

    .thermo-close-button {
        top: 5%;
        right: 5%;
        font-size: 2em;
    }
}

@media only screen and (max-width: 600px) {

    .addBackground {
        bottom: -25px !important;
    right: 0;
    }
    .backButton{
        left: 0px !important;
    }

    .addBackground {
        height: 76px;
        width: 50px;
        position: absolute;
        bottom: 10px;
        right: 0px;
        background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
        z-index: 1;
    }
    .slider {
       display:-webkit-inline-box;
    }
    // .gridContainer {
    //     grid-template-columns: 139px 144px !important;
    //     grid-template-rows: 139px 220px !important;
    // }
     
}

.lineDivider {
    width: 86%;
    height: 2px;
    margin-left: 10px;
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
    position: relative;
} 

.tabStyle {
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 30px 30px 0 0;
    height: 75px;
    //--color-selected: red;
    width: 37vw;
    left: 46%;
    position: fixed;
    bottom: 33px; //antes72px
    transform: translate(-50%, -50%);

}

.verticalLine {
    width: 2px;
    height: 50px;
    background: #F4F8F8;
    position: relative;
}
// .gridContainer {
//     padding: 2vw 0 75px;
//     display: grid;
//     grid-template-columns: 220px 220px 220px;
//     grid-gap: 20px;
//     grid-template-rows: 220px 220px;
//     justify-content: center;
 
//     height: auto;
// }

.colorSelectedFav{
    --color-selected: #3f75ff;
    
}

.colorSelectedConf{
    --color-selected: #c23fff;
    
}
.colorSelectedSec{
    --color-selected: #ff553f;
    
}
.colorSelectedEnerg{
    --color-selected: #139730;
    
}

.headerIcon {
    font-size: 4em;
    position: relative;
    margin: 10px 0;
}

#locationTitle{
    max-height: 30px;
    padding-bottom: 20px; 
    padding-top: 69px; 
}

@media only screen and (min-width: 600px) {
    .addNewFavorite {
        left: calc(48.9% + 18.5vw) !important;
        height: 53px !important;
        border-radius: 0 10px 10px 0 !important;
    }
    .backButton{
        right: calc(50.9% + 18.5vw);
        height: 53px !important;
            border-radius: 10px 0 0 10px !important;
        }
        .sliderMobile {
            top: 1.5vw;
        }
       
}
