.backgroundContent {
    --background: #f4f8f8;
}

.generalTitle {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #3F75FF;
    margin: 4% 0;
    margin-top: 72px;
}

.backButton {
    position: fixed;
    bottom: 0px;
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
    height: 82px;
    width: 50px;
    font-size: 0.6em;
    float: left;
    border-radius:0 10px 0 0;
    z-index: 1;
    cursor:pointer;
}
.backButtonFooter {
    position: absolute;
    bottom: 71px;
    right: calc(50.4% + 18.6vw);
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
    height: 53px;
    width: 50px;
    font-size: 0.86em;
    float: left;
    border-radius:10px 0 0 10px;
    z-index: 1;
    cursor:pointer;
}



.addNewFavorite {
    position: fixed;
    bottom: 0px;
    right: 17px;
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
    height: 82px;
    width: 50px;
    font-size: 0.6em;
    float: right;
    border-radius:10px 0 0 0;
    z-index: 1;
    cursor:pointer;
}
.addNewFavoriteFooter {
    position: absolute;
    bottom: 72px;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    left: calc(49.55% + 18.5vw);
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
    height: 53px;
    width: 50px;
    font-size: 0.9em;
    float: right;
    border-radius: 0 10px 10px 0;
    cursor:pointer;
}

@media only screen and (max-width: 600px) {
    .reorderRoomContent {
    --padding-start: 10%;
    --padding-end: 10%;
    } 
    .backButton {
        left:0 !important;
    }

    .generalTitle {
        margin-top: 24vw !important;
    }
}
.indexFooterStyleReorder {
    position: absolute;
    padding-top: 10px !important;
    width: 100%;
    background: #fff !important;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
    height: 62px;
    left: 0;
    margin-top: 15%;
}
.tabStyle {
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 30px 30px 0 0;
    height: 75px;
   // --color-selected: red;
    width: 37vw;
    left: 49.55%;
    position: fixed;
    bottom: 34px;
    transform: translate(-50%, -50%);

}

@media only screen and (min-width: 600px) {
    .addNewFavorite {
        left: calc(48.9% + 18.5vw) !important;
        height: 53px !important;
        border-radius: 0 10px 10px 0 !important;
    }
    .backButton{
    right: calc(50.9% + 18.5vw) !important;
    height: 53px !important;
        border-radius: 10px 0 0 10px !important;
    }
    #reorderRoomsContent {
        min-height: 60%;
       
         margin: auto;
         max-width: 660px;
         min-width: 380px;
    }
}