.backgroundContent {
    --background: #f4f8f8;
}

.roundedInput {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 38px;
    margin: auto;
    width: calc(75vw + 40px);
    max-width: 700px;
}

.titleLabel {
    font-weight: 600;
    font-size: 12px;
    color: #3F75FF;
    width: calc(75vw + 40px);
    max-width: 700px;
    margin: 10% auto 2% auto;
    margin-top: 24%;
}

.iconContainer {
    margin:0;
    font-size: 4.5em;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 25vw;
    height: 25vw;
    max-width:220px;
    max-height: 220px;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    background: white;
  
}

.iosFixedNavigationButton {
    bottom: 50px !important;
}

.selectedIcon {
    color: #5C8FF0;
    font-size: 0.3em;
    position: absolute;
    right: 0;
    top: 0;
}

.mainIcon {
    color: black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.selectedIconBorder {
    border: 1px solid #C456E5;
}

.blankSpace {
    background: #f4f8f8;
    box-shadow: none;
    display:none;
}

#iconSetGroup {
    box-sizing: border-box;
}

.noClick {
    pointer-events: none;
}
@media only screen and (max-width: 600px) {
    .addNewFavorite {
        bottom: -25px !important;
        right:0px !important;
        height:82px !important;
        border-radius: 10px 0 !important;
        

    }

    .iconContainer {
        width: 20vw !important;
        height: 20vw !important;
    }
    .gridStyle{
        grid-gap:10px !important;
        margin-bottom: 40px;
    }

    .roundedInput {
        margin-top: 2%;
        margin-left: 8vw;
        position:absolute;
    }

}

.addNewFavorite {
    position: fixed;
    bottom: 0px;
    right: 17px;
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
    height: 82px;
    width: 50px;
    font-size: 0.6em;
    float: right;
    border-radius: 0 10px 10px 0;
    cursor:pointer;
}
.addNewFavoriteFooter{
    position: absolute;
    bottom: 66px;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    left: calc(46% + 18.5vw);
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
    height: 53px;
    width: 50px;
    font-size: 0.9em;
    float: right;
    border-radius: 0 10px 10px 0;
    cursor:pointer;
}

.backButton {
    position: fixed;
    bottom: 0px;
    //left:0px;
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
    height: 82px;
    width: 50px;
    font-size: 0.6em;
    float: left;
    border-radius: 0 10px 0 0 ;
    z-index: 1;
    cursor:pointer;
}
.backButtonFooter{
    position: absolute;
    bottom: 66px;
    right: calc(53.9% + 18.5vw);
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
    height: 53px;
    width: 50px;
    font-size: 0.86em;
    float: left;
    border-radius:10px 0 0 10px;
    z-index: 1;
    cursor:pointer;
}


@media only screen and (min-width: 601px) {
    
    .blankSpace {
        display: none;
    }

    .tabStyle {
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
        border-radius: 30px 30px 0 0;
        height: 75px;
        --color-selected: red;
        width: 37vw;
        left: 46%;
        position: fixed;
        bottom: 27px; //antes72px
        transform: translate(-50%, -50%);

    }

    .titleLabel {
        margin: 5% auto 2% auto !important;
        margin-top: 10% !important;
    }

}
.indexFooterStyleCreate {
    position: absolute;
    padding-top: 10px !important;
    width: 108%;
    background: #fff !important;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
    height: 55px;
    left: 0;
    margin-top: 11%;
}
.colorSelectedFav{
    --color-selected: #3f75ff;
    
}
.colorSelectedConf{
    --color-selected: #c23fff;
    
}
.colorSelectedSec{
    --color-selected: #ff553f;
    
}
.colorSelectedEnerg{
    --color-selected: #139730;
    
}
.gridStyle{
    display:grid;
    grid-template-columns:repeat(3, max-content);
    grid-gap: 20px;
    justify-content: center;
}
@media only screen and (min-width: 600px) {
    .addNewFavorite {
        left: calc(48.8% + 18.5vw) !important;
        height: 53px !important;
        border-radius: 0 10px 10px 0 !important;
    }
    .backButton{
    right: calc(50.9% + 18.5vw)!important;
    height: 53px !important;
        border-radius: 10px 0 0 10px !important;
    }
}
