<ion-content [scrollEvents]="true" (ionScroll)="scrollEvent($event)" class="backgroundContent">
<div id="mainContent">
  <div class="titleLabel">
    <ion-label>Escribe el nombre de la habitación</ion-label>
  </div>

  <ion-item class="roundedInput">
    <ion-input (keyup.enter)="updateRoom()" type="text" placeholder="Nombre de habitación" [(ngModel)]="roomName"></ion-input>
  </ion-item>

  <div class="titleLabel">
    <ion-label>Selecciona el icono de la habitación</ion-label>
  </div>

  <div id="iconSetGroup" class="gridStyle">
    <ion-card class="iconContainer" *ngFor="let icon of iconSet" [ngClass]="{'blankSpace noClick': !icon.iconName, 'selectedIconBorder': (icon.iconName == selectedIcon)}"
      (click)="selectedIcon = icon.iconName">
      <i class="mainIcon" [ngClass]="icon.iconName"></i>
      <div class="selectedIcon" *ngIf="icon.iconName == selectedIcon">
        <ion-icon name="checkmark-outline"></ion-icon>
      </div>
    </ion-card>
  </div>

  <div *ngIf="!isKeyboardShowing" id='editBackButton' class='backButton' (click)="goBack()" [ngClass]="{'iosFixedNavigationButton': currentPlatforms.includes('ios')}">
    <i class=' icon-back addIcon'></i>
    <div class='addTitle'>Regresar</div>
  </div>

  <div *ngIf="!isKeyboardShowing" id='da_addRoomButton' class='addNewFavorite' (click)="updateRoom()" [ngClass]="{'iosFixedNavigationButton': currentPlatforms.includes('ios')}">
    <ion-icon name="checkmark-sharp" class="addIcon"></ion-icon>
    <div class='addTitle'>Confirmar</div>
 
</div>  
  <footer class="hide-on-small-only indexFooterStyleCreate" id="createEditFooter">
    <ion-tabs>
      <ion-tab-bar id="createEditTabsNavBar" class="tabStyle" slot="bottom">
        <ion-tab-button class= "colorSelectedFav" tab="favorites">
            <!-- <ion-icon name="star"></ion-icon> -->
            <img class="tabsImageMargin" src="../../../assets/imgs/favoritesIcon.png" alt="favorites">
            <ion-label>Favoritos</ion-label>
        </ion-tab-button>
        <div class="verticalLine"></div>
        <ion-tab-button  class= "colorSelectedConf" tab="confort">
            <!-- <ion-icon name="apps"></ion-icon> -->
            <img class="tabsImageMargin" src="../../../assets/imgs/confortIcon.png" alt="confort">
            <ion-label>Confort</ion-label>
        </ion-tab-button>
        <div class="verticalLine"></div>
        <ion-tab-button class= "colorSelectedSec" tab="security">
            <!-- <ion-icon name="lock-closed"></ion-icon> -->
            <img class="tabsImageMargin" src="../../../assets/imgs/securityIcon.png" alt="security">
            <ion-label>Seguridad</ion-label>
        </ion-tab-button>
        <div class="verticalLine"></div>
        <ion-tab-button class= "colorSelectedEnerg" tab="energy-saving">
            <!-- <ion-icon name="leaf"></ion-icon> -->
            <img class="tabsImageMargin" src="../../../assets/imgs/energyIcon.png" alt="energy">
            <ion-label>Energía</ion-label>
        </ion-tab-button>
        <!-- <ion-tab-button tab="user-profile" style="display: none">
    <img [src]="user.userImage" alt="actualUserImage" class="tabsImage">
    </ion-tab-button> -->
    
    </ion-tab-bar>
    <div class="container">
        <div class="row noMarginBottom">
            <div class="col s6 m3">
                <ul>
                    <li>
                        <img loading="lazy" src="../../../assets/imgs/landingPageIcons/help.webp"
                            class="ih-16-x-16 marginBottom" alt="Ayuda">
                        <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/preguntasFrecuentes"
                            ng-click="manageColors('default')">Preguntas
                            Frecuentes</a>
                    </li>
                    <li>
                        <img loading="lazy" src="../../../assets/imgs/landingPageIcons/comments.webp" class="ih-16-x-16"
                            alt="Blog">
                        <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/inicioBlog"
                            ng-click="manageColors('default')">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="col s6 m3">
                <ul>
                    <li>
                        <img loading="lazy" src="../../../assets/imgs/landingPageIcons/lock.webp"
                            class="ih-16-x-16 marginBottom" alt="Políticas de privacidad">
                        <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/politicasDePrivacidad"
                            ng-click="manageColors('default')">Política de
                            Privacidad</a>
                    </li>
                    <li>
                        <img loading="lazy" src="../../../assets/imgs/landingPageIcons/document.webp" class="ih-16-x-16"
                            alt="ToS">
                        <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/terminosCondiciones"
                            ng-click="manageColors('default')">Términos y
                            Condiciones</a>
                    </li>
                </ul>
            </div>
            <div class="col s6 m3">
                <ul>
                    <li>
                        <img loading="lazy" src="../../../assets/imgs/landingPageIcons/facebook.webp"
                            class="ih-16-x-16 marginBottomF" alt="Facebook">
                        <a class="footerFonts blackColorText cursorPointer" ng-click="goToFacebook();">Siguenos
                            en
                            Facebook </a>
                    </li>
                    <li>
                        <a class="footerFonts callText" href="https://www.intelihogar.com/#!/contactanos" ng-click="manageColors('default')">
                            <i class="material-icons callIcon">call</i> Contáctanos
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col s6 m3">
                <ul>
                    <li class="ih-footer-logo-margin">
                        <img src="../../../assets/imgs/inteliLogo-img.webp" alt="InteliHogar" class="ih-60-x-60-casa footerImage">
                        <img src="../../../assets/imgs/inteliLogo-name.webp" alt="InteliHogar" class="ih-image-inteli-desk">
                    </li>
                    <li class="ih-footer-rm-margin">
                        <span class="footerFonts footerFontsStyle">InteliHogar
                            2015-2021</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </ion-tabs>
    
     <!--Add shortcut button-->
  <!-- <div id='da_addShortCutButton' class='addNewFavorite' (click)='showInputDevicesAlert()'
  [ngClass]="{'iosFixedNavigationButton': currentPlatforms.includes('ios')}">
  <ion-icon name="add-sharp" class="addIcon"></ion-icon>
  <div class='addTitle'>Agregar</div>
  </div> -->
  <div *ngIf="!isKeyboardShowing" id='footerAddRoomButton' class='addNewFavoriteFooter' (click)="updateRoom()">
    <ion-icon name="checkmark-sharp" class="addIcon"></ion-icon>
    <div class='addTitle'>Confirmar</div>
  </div>
  <div *ngIf="!isKeyboardShowing" id='footerBackButton' class='backButtonFooter' (click)="goBack()">
    <i class='intelihogarIcon icon-back addIcon'></i>
    <div class='addTitle'>Regresar</div>
  </div>
  </footer>
</div>
</ion-content>
