@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yaggph');
  src:  url('fonts/icomoon.eot?yaggph#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yaggph') format('truetype'),
    url('fonts/icomoon.woff?yaggph') format('woff'),
    url('fonts/icomoon.svg?yaggph#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-warning:before {
  content: "\e934";
}
.icon-windowContact:before {
  content: "\e994";
}
.icon-windowContact-on:before {
  content: "\e995";
}
.icon-windowContact-off:before {
  content: "\e996";
}
.icon-smartBlind-off:before {
  content: "\e98a";
}
.icon-smartBlind-on:before {
  content: "\e98b";
}
.icon-smartBlind:before {
  content: "\e98c";
}
.icon-cooler-off:before {
  content: "\ea43";
}
.icon-cooler-on:before {
  content: "\ea44";
}
.icon-heater-off:before {
  content: "\ea45";
}
.icon-heater-on:before {
  content: "\ea46";
}
.icon-externalSiren:before {
  content: "\ea0a";
}
.icon-externalSiren-off:before {
  content: "\ea0b";
}
.icon-externalSiren-on:before {
  content: "\ea0c";
}
.icon-heater:before {
  content: "\ea0d";
}
.icon-internalSiren:before {
  content: "\ea0e";
}
.icon-internalSiren-off:before {
  content: "\ea0f";
}
.icon-internalSiren-on:before {
  content: "\ea10";
}
.icon-lightSensor:before {
  content: "\ea11";
}
.icon-cooler:before {
  content: "\ea3f";
}
.icon-doorbell:before {
  content: "\ea40";
}
.icon-doorbell-off:before {
  content: "\ea41";
}
.icon-doorbell-on:before {
  content: "\ea42";
}
.icon-alarm-active:before {
  content: "\ea09";
}
.icon-subsBasic:before {
  content: "\e904";
}
.icon-multiWhiteLight-off:before {
  content: "\ea06";
}
.icon-multiWhiteLight-on:before {
  content: "\ea07";
}
.icon-multiWhiteLight:before {
  content: "\ea08";
}
.icon-rocket:before {
  content: "\ea05";
}
.icon-shop:before {
  content: "\ea04";
}
.icon-alarmNotInstalled:before {
  content: "\ea03";
}
.icon-energyConsumed:before {
  content: "\ea01";
}
.icon-energyGenerated:before {
  content: "\ea02";
}
.icon-moon:before {
  content: "\e9fe";
}
.icon-sun:before {
  content: "\e9ff";
}
.icon-edit:before {
  content: "\ea00";
}
.icon-subsTotal:before {
  content: "\e9fb";
}
.icon-subsPro:before {
  content: "\e9fc";
}
.icon-subsFree:before {
  content: "\e9fd";
}
.icon-configuration:before {
  content: "\e903";
}
.icon-help:before {
  content: "\e902";
}
.icon-chart:before {
  content: "\e901";
}
.icon-generator:before {
  content: "\e900";
}
.icon-adjustableLight:before {
  content: "\e905";
}
.icon-adjustableLight-off:before {
  content: "\e906";
}
.icon-adjustableLight-on:before {
  content: "\e907";
}
.icon-alarma:before {
  content: "\e908";
}
.icon-alarmaAgua:before {
  content: "\e909";
}
.icon-alarmaAgua-off:before {
  content: "\e90a";
}
.icon-alarmaAgua-on:before {
  content: "\e90b";
}
.icon-alarmaGas:before {
  content: "\e90c";
}
.icon-alarmaGas-off:before {
  content: "\e90d";
}
.icon-alarmaGas-on:before {
  content: "\e90e";
}
.icon-alarmaIncendio:before {
  content: "\e90f";
}
.icon-alarmaIncendio-off:before {
  content: "\e910";
}
.icon-alarmaIncendio-on:before {
  content: "\e911";
}
.icon-alarmaIntrusos:before {
  content: "\e912";
}
.icon-alarmaIntrusos-off:before {
  content: "\e913";
}
.icon-alarmaIntrusos-on:before {
  content: "\e914";
}
.icon-alarma-off:before {
  content: "\e915";
}
.icon-alarma-on:before {
  content: "\e916";
}
.icon-alerta:before {
  content: "\e917";
}
.icon-alerta-off:before {
  content: "\e918";
}
.icon-alerta-on:before {
  content: "\e919";
}
.icon-Apagar:before {
  content: "\e91a";
}
.icon-away:before {
  content: "\e91b";
}
.icon-back:before {
  content: "\e91c";
}
.icon-bar:before {
  content: "\e91d";
}
.icon-bath-guest:before {
  content: "\e91e";
}
.icon-bath-kid:before {
  content: "\e91f";
}
.icon-bath-owner:before {
  content: "\e920";
}
.icon-bath-young:before {
  content: "\e921";
}
.icon-battery:before {
  content: "\e922";
}
.icon-battery-eighty:before {
  content: "\e923";
}
.icon-battery-empty:before {
  content: "\e924";
}
.icon-battery-fifty:before {
  content: "\e925";
}
.icon-battery-fourty:before {
  content: "\e926";
}
.icon-battery-full:before {
  content: "\e927";
}
.icon-battery-low:before {
  content: "\e928";
}
.icon-battery-medium:before {
  content: "\e929";
}
.icon-battery-ninety:before {
  content: "\e92a";
}
.icon-battery-seventy:before {
  content: "\e92b";
}
.icon-battery-sixty:before {
  content: "\e92c";
}
.icon-battery-ten:before {
  content: "\e92d";
}
.icon-battery-thirty:before {
  content: "\e92e";
}
.icon-battery-twenty:before {
  content: "\e92f";
}
.icon-bed-guest:before {
  content: "\e930";
}
.icon-bed-kid:before {
  content: "\e931";
}
.icon-bed-owner:before {
  content: "\e932";
}
.icon-bed-young:before {
  content: "\e933";
}
.icon-camera:before {
  content: "\e983";
}
.icon-camera-off:before {
  content: "\e984";
}
.icon-camera-on:before {
  content: "\e985";
}
.icon-colorLight:before {
  content: "\e986";
}
.icon-colorLight-off:before {
  content: "\e987";
}
.icon-colorLight-on:before {
  content: "\e988";
}
.icon-config:before {
  content: "\e989";
}
.icon-curtain:before {
  content: "\e98d";
}
.icon-curtain-off:before {
  content: "\e98e";
}
.icon-curtain-on:before {
  content: "\e98f";
}
.icon-dimmer:before {
  content: "\e990";
}
.icon-dimmer-off:before {
  content: "\e991";
}
.icon-dimmer-on:before {
  content: "\e992";
}
.icon-dinning:before {
  content: "\e993";
}
.icon-doorContact:before {
  content: "\e9f5";
}
.icon-doorContact-off:before {
  content: "\e9f6";
}
.icon-doorContact-on:before {
  content: "\e9f7";
}
.icon-Encender:before {
  content: "\e997";
}
.icon-energia:before {
  content: "\e998";
}
.icon-energia2:before {
  content: "\e999";
}
.icon-energy:before {
  content: "\e99a";
}
.icon-familia:before {
  content: "\e99b";
}
.icon-garage:before {
  content: "\e99c";
}
.icon-garage-off:before {
  content: "\e99d";
}
.icon-garage-on:before {
  content: "\e99e";
}
.icon-gas:before {
  content: "\e99f";
}
.icon-gas-off:before {
  content: "\e9a0";
}
.icon-gas-on:before {
  content: "\e9a1";
}
.icon-hall:before {
  content: "\e9a2";
}
.icon-Historico-de-eventos:before {
  content: "\e9a3";
}
.icon-home:before {
  content: "\e9a4";
}
.icon-house-0:before {
  content: "\e9a5";
}
.icon-house-1:before {
  content: "\e9a6";
}
.icon-house-2:before {
  content: "\e9a7";
}
.icon-house-3:before {
  content: "\e9a8";
}
.icon-house-4:before {
  content: "\e9a9";
}
.icon-house-5:before {
  content: "\e9aa";
}
.icon-humidity:before {
  content: "\e9ab";
}
.icon-humidity-off:before {
  content: "\e9ac";
}
.icon-humidity-on:before {
  content: "\e9ad";
}
.icon-Informacion-general:before {
  content: "\e9ae";
}
.icon-intake:before {
  content: "\e9af";
}
.icon-invitado:before {
  content: "\e9b0";
}
.icon-kitchen:before {
  content: "\e9b1";
}
.icon-laundry:before {
  content: "\e9b2";
}
.icon-living:before {
  content: "\e9b3";
}
.icon-lock:before {
  content: "\e9b4";
}
.icon-lockDoor:before {
  content: "\e9b5";
}
.icon-lockDoor-off:before {
  content: "\e9b6";
}
.icon-lockDoor-on:before {
  content: "\e9b7";
}
.icon-lock-off:before {
  content: "\e9b8";
}
.icon-lock-on:before {
  content: "\e9b9";
}
.icon-monoxide:before {
  content: "\e9ba";
}
.icon-monoxide-clear:before {
  content: "\e9bb";
}
.icon-monoxide-detected:before {
  content: "\e9bc";
}
.icon-motion:before {
  content: "\e9bd";
}
.icon-motion-off:before {
  content: "\e9be";
}
.icon-motion-on:before {
  content: "\e9bf";
}
.icon-night:before {
  content: "\e9c0";
}
.icon-notificaciones-activas:before {
  content: "\e9c1";
}
.icon-nuevo-usuario:before {
  content: "\e9c2";
}
.icon-office:before {
  content: "\e9c3";
}
.icon-outdoor:before {
  content: "\e9c4";
}
.icon-outerDoor:before {
  content: "\e9c5";
}
.icon-outerDoor-off:before {
  content: "\e9c6";
}
.icon-outerDoor-on:before {
  content: "\e9c7";
}
.icon-panic:before {
  content: "\e9c8";
}
.icon-panic-off:before {
  content: "\e9c9";
}
.icon-panic-on:before {
  content: "\e9ca";
}
.icon-pool:before {
  content: "\e9cb";
}
.icon-power:before {
  content: "\e9cc";
}
.icon-rutina:before {
  content: "\e9cd";
}
.icon-rutina2:before {
  content: "\e9ce";
}
.icon-salud:before {
  content: "\e9cf";
}
.icon-salud2:before {
  content: "\e9d0";
}
.icon-seguridad:before {
  content: "\e9d1";
}
.icon-seguridad2:before {
  content: "\e9d2";
}
.icon-simulacionPresencia:before {
  content: "\e9d3";
}
.icon-simulacionPresencia-off:before {
  content: "\e9d4";
}
.icon-simulacionPresencia-on:before {
  content: "\e9d5";
}
.icon-sirena:before {
  content: "\e9d6";
}
.icon-sirena-off:before {
  content: "\e9d7";
}
.icon-sirena-on:before {
  content: "\e9d8";
}
.icon-smoke:before {
  content: "\e9d9";
}
.icon-smoke-off:before {
  content: "\e9da";
}
.icon-smoke-on:before {
  content: "\e9db";
}
.icon-stay:before {
  content: "\e9dc";
}
.icon-switch:before {
  content: "\e9dd";
}
.icon-switchLight:before {
  content: "\e9de";
}
.icon-switchLight-off:before {
  content: "\e9df";
}
.icon-switchLight-on:before {
  content: "\e9e0";
}
.icon-switch-off:before {
  content: "\e9e1";
}
.icon-switch-on:before {
  content: "\e9e2";
}
.icon-temperature:before {
  content: "\e9e3";
}
.icon-temperature-off:before {
  content: "\e9e4";
}
.icon-temperature-on:before {
  content: "\e9e5";
}
.icon-thermostat:before {
  content: "\e9e6";
}
.icon-thermostat-auto:before {
  content: "\e9e7";
}
.icon-thermostat-cool:before {
  content: "\e9e8";
}
.icon-thermostat-heat:before {
  content: "\e9e9";
}
.icon-thermostat-off:before {
  content: "\e9ea";
}
.icon-thermostat-on:before {
  content: "\e9eb";
}
.icon-valve:before {
  content: "\e9ec";
}
.icon-valve-off:before {
  content: "\e9ed";
}
.icon-valve-on:before {
  content: "\e9ee";
}
.icon-Volume-down:before {
  content: "\e9ef";
}
.icon-Volume-up:before {
  content: "\e9f0";
}
.icon-water:before {
  content: "\e9f1";
}
.icon-water-off:before {
  content: "\e9f2";
}
.icon-water-on:before {
  content: "\e9f3";
}
.icon-window:before {
  content: "\e9f4";
}
.icon-window-off:before {
  content: "\e9f8";
}
.icon-window-on:before {
  content: "\e9f9";
}
.icon-yard:before {
  content: "\e9fa";
}
