<ion-content>
  <i class="ico-times" role="img" aria-label="Cancel" style="position: absolute;margin-left: 94%;cursor: pointer;"
    (click)="this.closeModal()"></i>

  <div class="2faConfirmation" id="confirmModal" style="display: block;margin-top: 50%;">
    <img src="assets\imgs\2fa-icon.png" style="width: 50%;position: absolute;margin-left: 24%;margin-top: -47%;" alt="">
    <label class="text2fa paddingModal shadowBottom"> Estas seguro que quieres activar la verificacion en 2 pasos?
    </label>
    <button class="buttonDeny" (click)="closeModal()"> No </button>
    <button class="buttonconfirmation" (click)="nextPage('modal1')"> Si </button>
  </div>

  <div id="infoVerify" class="infoVerification" style="display: none;">
    <div class="img2fa">
      <img src="assets/imgs/2f.png" alt="">
      <div>
        <label class="text2fa">Protege tu cuenta con la verificación en dos pasos </label>
        <label class="label2fa"> Cada vez que accedas a tu cuenta, necesitarás tu contraseña y un código de
          verificación.</label>
      </div>
      <div class="img2faOne" style="display: flex;">
        <img src="assets/imgs/2fa.png" style="width: 25%;" alt="">
        <label class="titleDescription" style="position: absolute;right: 22px;">Agrega un nivel de seguridad
          adicional</label> <br>
        <label class="description2fa" style="margin: auto;"> Ingresa tu contraseña y el código de verificación único que
          se envió a tu teléfono.</label>
      </div>
      <div class="img2faTwo" style="display: flex;">
        <div class="img2fa"></div>
        <img src="assets/imgs/2faa.png" style="width: 25%;" alt="">
        <label class="titleDescription" style="position: absolute;right: 22%;">Mantén alejados a los
          intrusos</label><br>
        <label class="description2fa" style="margin: auto;"> Incluso si alguien consigue tu contraseña, no será
          suficiente para acceder a tu cuenta.</label>
        <ion-button class="nextPageButton" (click)="nextPage('modal2')">
          >
        </ion-button>

      </div>

    </div>


  </div>

  <div class="confirmPassword" id="confPassword" style="display: none;overflow: auto;">

    <div class="divConfirmAccount">
      <img src="assets/imgs/G-Icon.png" class="gIcon" alt="">
    </div>
    <label class="text2fa"> Porfavor Inicia sesion con Google y da click en el boton </label>
    <ion-button class="nextPageButton2" (click)="nextPage('modal3')">
      >
    </ion-button>

  </div>

  <div id="screenVerify" class="screenVerification" style="display: none;">
    <div class="img2fa">
      <img src="assets/imgs/2f.png" alt="">
    </div>
    <div [hidden]="user">

      <div class="title">!Hemos enviado un sms de verificacion a tu numero telefonico registrado!</div>
      <div>
        <label class="label2fa"> Por favor instroduce el código de verificación que se te envio a tu celular.</label>
        <button style="display:none;" id="signInButton">signIn</button>
      </div>
      <ion-input placeholder="Codifo de verificacion" [(ngModel)]="inputValue" style=" width: 42%; margin: auto;"></ion-input>
      <button style="margin: 0vw 42% 0vw 42%;">Verificar</button>

      <div id="recaptcha-container"></div>
      <div *ngIf="windowRef.confirmationResult">
        <input type="text" name="code" [(ngModel)]="verificationCode" class="input"
          style="width: 100px;position: relative;display: table;margin: 1vw 1vw 1vw 0vw;">
        <button (click)="verifyLoginCode()" style="margin: 0vw 0vw 0vw 3vw;">Verify</button>
      </div>
    </div>
    <div *ngIf="user">
      you have successfully logged in with your phone number.
    </div>

  </div>

</ion-content>