.title {
    padding: 2vw 5vw 2vw 5vw;
    font-size: x-large;
}

.text2fa {
    color: #202124;
    font-size: 20px;
    padding-top: 20px;
    display: flex;
    padding: 10px 10px 0 10px;
    text-align: center;
}

.label2fa {
    color: #3c4043;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    padding: 1vw 1vw 1vw 1vw;
}

.titleDescription {
    color: #202124;
    font-size: 13px;
    font-weight: bolder;

}

.description2fa {
    color: #3c4043;
    font-size: 12px;
    font-weight: 400;
    width: 55%;
    margin-left: 0px !important;

}

.nextPageButton {
    position: relative;
    width: 50px;
    height: 50px;
    --border-radius: 50%;
    bottom: -35px;
    right: 10px;
}
.nextPageButton2{
    position: relative;
    width: 50px;
    height: 50px;
    --border-radius: 50%;
    bottom: 0px;
    left: 80%;
}

.buttonconfirmation {
    height: 36px;
    background: -webkit-gradient(linear, left top, right top, from(#3F75FF), to(#2AD8DA));
    background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    border-radius: 10px;
    color: white;
    width: 90px;
    position: relative;
    margin-top: 4%;
    left: 40%;

}

.buttonDeny {
    height: 36px;
    background: -webkit-gradient(linear, left top, right top, from(#3F75FF), to(#2AD8DA));
    background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    border-radius: 10px;
    color: white;
    width: 90px;
    margin-left: 3%;
    margin-top: 10%;

}


.shadowBottom {
    border-bottom: 1px solid #ccc;
    margin: 0;
}

.paddingModal {
    padding: 3vw 1vw 1vw 1vw !important;
}
.ico-times:before{ content: "\2716"; }

.gIcon{
    margin: 15% 25% 15% 25%;
    width: 50%;
}