<div class='floating-background'>
  <div class='thermo-container'>
      <div class='thermo-title'>{{thermostat.alias}}</div>
      <div class='thermo-mode' (click)="sendCommand('thermostat', thermostat.id, 'toggle')">
          <span id="thermoMode">
            {{thermostat.status}}
          </span>
      </div>
      <div id="thermoTemp" class='thermo-temp' (click)="sendCommand('thermostat', thermostat.id, 'toggle')">
        {{thermostat.temperature}}
      </div>
      <div class='thermo-icon' (click)="sendCommand('thermostat', thermostat.id, 'toggle')">
          set<i class="intelihogarIcon" [ngClass]= "'icon-thermostat-' +  thermostat.status" style='visibility: hidden'></i>
      </div>
      <div class='thermo-close' (click)="sendCommand('thermostat', thermostat.id, 'setThermostatOff')"><i class='intelihogarIcon icon-Apagar'></i></div>
      <div class='thermo-close-button' (click)="closeWindow()">
          <span style='font-weight: bold;'>&times;</span>
      </div>
      <div id="thermo-slider-temp" class='thermo-slider'></div>
  </div>
</div>