.floating-windows {
    width: 100%;
    height: 100%;
}
.floating-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 900;
}
.thermo-container {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -119px;
    margin-top: -119px;
    width: 238px !important;
    height: 238px !important;
    //--background: url(../../../assets/imgs/nest_238.png) 0 0/100% 100% no-repeat;
    background-image: url("../../../assets/imgs/nest_238.png");
}
.thermo-title {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 110px;
    margin-top: -104px;
    margin-left: -55px;
    font-size: 0.9em;
    color: white;
    text-align: center;
    z-index: 10;
    line-height: 12px;
}
.thermo-control {
    position: absolute;
    cursor: pointer;
    top: 90px;
    left: 87px;
}
.thermo-slider {
    background-color: transparent;
    position: relative;
    top: -43%;
    left: 18.5%;
}
.thermo-mode {
    position: relative;
    cursor: pointer;
    z-index: 1020;
    top: 30%;
    font-size: 1.2em;
    text-align: center;
    color: white;
    width: 100px;
    left: 30%;
}
.thermo-mode:active {
    transform: translateY(2px);
}
.thermo-temp {
    position: relative;
    cursor: pointer;
    z-index: 1030;
    top: 30%;
    text-align: center;
    font-size: 2.5em;
    color: white;
    width: 100px;
    left: 30%;
}
.thermo-icon {
    z-index: 10000;
    position: relative;
    top: 27%;
    font-size: 0.7em;
    left: 45.5%;
    color: white;
}
.thermo-close {
    cursor: pointer;
    position: relative;
    color: white;
    left: 43.5%;
    top: 30%;
    font-size: 0.7em;
    z-index: 10000;
    width: 35px;
}
.thermo-close:active {
    transform: translateY(2px);
}
.thermo-close-button {
    position: fixed;
    top: 5%;
    right: 5%;
    font-size: 2em;
    color: #aaa;
    cursor: pointer;
    transition: 0.3s;
}
.rs-bg-color {
    background-color: blue;
}
.rs-overlay {
    background-color: transparent !important;
}
.rs-tooltip-text {
    /*top: -15px !important;
    left: 45% !important;*/
    position: relative;
    top: -55px !important;
    left: 40% !important;
    color: white;
    font-size: 1.5em;
    margin-left: 0 !important;
}
