<ion-header>

  <ion-toolbar>
    <ion-title>Dispositivos</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="changeDevicesRoomModal">
  <ion-item-group class="devicesList">
    <ion-list>
      <i class="icon-alarma CDRi"></i>
      <span class="CDRspan">Alarmas</span>
      <ion-item *ngFor="let device of alarms">
        <ion-label>{{device.alias}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <i class="icon-colorLight CDRi"></i>
      <span class="CDRspan">Luces</span>
      <ion-item *ngFor="let device of lightDevices">
        <ion-label>{{device.name}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <i class="icon-colorLight CDRi"></i>
      <span class="CDRspan">Luces ajustables</span>
      <ion-item *ngFor="let device of adjustableLightDevices">
        <ion-label>{{device.name}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <i class="icon-colorLight CDRi"></i>
      <span class="CDRspan">Luces de color</span>
      <ion-item *ngFor="let device of colorLightDevices">
        <ion-label>{{device.name}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <i class="icon-doorContact CDRi"></i>
      <span class="CDRspan">Puertas</span>
      <ion-item *ngFor="let device of doorDevices">
        <ion-label>{{device.name}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <i class="icon-windowContact CDRi"></i>
      <span class="CDRspan">Ventanas</span>
      <ion-item *ngFor="let device of windowDevices">
        <ion-label>{{device.name}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <i class="icon-garage-on CDRi"></i>
      <span class="CDRspan">Cocheras</span>
      <ion-item *ngFor="let device of garageDevices">
        <ion-label>{{device.name}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <i class="icon-curtain-on CDRi"></i>
      <span class="CDRspan">Cortinas</span>
      <ion-item *ngFor="let device of curtainDevices">
        <ion-label>{{device.name}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <i class="icon-motion-on CDRi"></i>
      <span class="CDRspan">Movimiento</span>
      <ion-item *ngFor="let device of motionDevices">
        <ion-label>{{device.name}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <i class="icon-smoke-on CDRi"></i>
      <span class="CDRspan">Humo</span>
      <ion-item *ngFor="let device of smokeDevices">
        <ion-label>{{device.name}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <i class="icon-house-5 blue-color CDRi"></i>
      <span class="CDRspan">InteliApps</span>
      <ion-item *ngFor="let device of inteliApps">
        <ion-label>{{device.alias}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <i class="icon-battery CDRi"></i>
      <span class="CDRspan">Baterías</span>
      <ion-item *ngFor="let device of batteryDevices">
        <ion-label>{{device.alias}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <i class="icon-house-5 purple-color CDRi"></i>
      <span class="CDRspan">Rutinas</span>
      <ion-item *ngFor="let device of routines">
        <ion-label>{{device.alias}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <i class="icon-temperature CDRi"></i>
      <span class="CDRspan">Temperaturas</span>
      <ion-item *ngFor="let device of temperatureDevices">
        <ion-label>{{device.name}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list>
      <i class="icon-thermostat CDRi"></i>
      <span class="CDRspan">Termostatos</span>
      <ion-item *ngFor="let device of thermostatDevices">
        <ion-label>{{device.name}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <i class="icon-switch-on CDRi"></i>
      <span class="CDRspan">Interruptores</span>
      <ion-item *ngFor="let device of switchDevices">
        <ion-label>{{device.name}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <i class="icon-panic CDRi"></i>
      <span class="CDRspan">Botones de pánico</span>
      <ion-item *ngFor="let device of panicDevices">
        <ion-label>{{device.name}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <i class="icon-lockDoor CDRi"></i>
      <span class="CDRspan">Cerraduras Inteligentes</span>
      <ion-item *ngFor="let device of lockDoorDevices">
        <ion-label>{{device.name}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <i class="icon-outerDoor CDRi"></i>
      <span class="CDRspan">portones exteriores</span>
      <ion-item *ngFor="let device of outerDoorDevices">
        <ion-label>{{device.name}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <i class="icon-valve CDRi"></i>
      <span class="CDRspan">Válvulas</span>
      <ion-item *ngFor="let device of valveDevices">
        <ion-label>{{device.name}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list>
      <i class="icon-colorLight CDRi"></i>
      <span class="CDRspan">Otros Dispositivos</span>
      <ion-item *ngFor="let device of restDevices">
        <ion-label>{{device.name}}</ion-label>
        <ion-checkbox (ionChange)="device.checked = !device.checked;" checked="{{device.checked}}"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-item-group>
  <hr class="CDRhr">
  <ion-button color="red" class="CDRButtons buttons-AC" (click)="changeDevicesRoom()">Aceptar</ion-button>
  <ion-button color="red" class="CDRButtons" (click)="closeWindow()">Cancelar</ion-button> 
</ion-content>