
.CDRi {
    font-size: 2em;
}
.CDRspan {
    font-size: 1.6rem;
    font-weight: 500;
}
.CDRButtons {
    background-color: transparent !important;
    color: #488aff !important;
    --box-shadow:none;
    float: right;
}
.CDRhr {
    margin-top: 0px !important;
}
.devicesList {
    max-height: 82%;
    overflow-y: scroll;
}

.blue-color {
    background: webkit-linear-gradient(left, #2bd2dd 0%, #3a8cf6 100%) !important;
    background: linear-gradient(to right, #2bd2dd 0%, #3a8cf6 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.purple-color {
    background: webkit-linear-gradient(left, #807bec 0%, #b45fe6 100%) !important;
    background: linear-gradient(to right, #807bec 0%, #b45fe6 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.buttons-AC{
    box-shadow: 0px 0px 0px 0px #121212;
}