#userAvatar {
    width: 35px !important;
    height: 35px !important;
    margin-left: 16px;
    margin-right: -16px;
    border: 1px solid #2AD8DA;
    border-radius: 50%;
    z-index: 1;

    img {
        border-radius: 50%;
    }
}

#userOptions {
    font-size: 1.7em;
    margin-right: 16px;
}

.userImage {
    width: 30px;
    border-radius: 50%;
}

.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabsImage {
    border-radius: 50%;
    height: 40px;
}

.myProfileCaption {
    font-size: 10px;
    width: 45px;
    margin-left: -14%;
    color: #3F75FF;
}

.locationCaption {
    font-size: 16px;
    color: #3F75FF;
}



@media only screen and (min-width: 601px) {
    
    .tabStyle {
        box-shadow: 0px -2px 4px grey !important;
        border-radius: 30px 30px 0 0;
        height: 75px;
       // --color-selected: red;
       width: 37vw;
       left: 48.90%;
        position: fixed;
        bottom: -38px; //antes72px
        transform: translate(-50%, -50%);
        
    }

    #navBarDesktop {
        display: block !important;
    }

    .mobileHeader {
        display: none !important;
    }
    .addBackground {
        display:none !important;
    }
    
}


@media only screen and (max-width: 600px) {
    
    .mobileHeader {
        display: block !important;
    }

    #navBarDesktop {
        display: none !important;
    }
    
    .backButton2{
        position: fixed;
        bottom: -35px;
    }

    .tabStyle {
        box-shadow: 0px -2px 4px grey !important;
        border-radius: 30px 30px 0 0;
        height: 75px;
        position: relative;
        bottom:0vw !important;
        display: flex !important;
    }
    .myProfileCaption {
        margin-left: 0%;     
    }
   
}







#homeTabsContent {
    --background: #F4F8F8;
}

.verticalLine {
    width: 2px;
    height: 50px;
    background: #F4F8F8;
    position: relative;
}





.headerIcon {
    font-size: 2em;
}




.logoStyle {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-left: 15px;
}
.logoPosition {
    height: 105%;
    object-fit: cover;
    object-position: center center;
    margin-top: 5px;
}

.headerBarStyle {
    position: relative;
    margin-top: 1%;
    margin-left: 3%;
    padding-right: 3%;
}

.noOutline {
    outline: none ;
}



.iconSeparator {
    margin-top: 13px !important;
    margin-left: -6px;
}
.personIconStyle {
    display: inline;
    vertical-align: bottom;
    position: relative;
    top: -5px;
    right: 25%;
}
.ih-logo-new {
    width: 100px !important;
    margin-left: 50px;
    margin-top: -95px;
}
.ih-logo{
    margin-top: -113px!important  
}

.subBackground {
    background: transparent;
}
.bar1Position {
    display: flex;
    justify-content: center;
}

.headerListStyle {
    position: relative;
    margin-left: 8%;
    margin-right: 8%;
}
.withoutHover:hover {
    background: transparent;
}


.ih-icon-top-separator {
    margin-top: 15px;
}

.ih-icon-top-separator-main-nav {
    margin-top: 0px;

}
.myProfileContainer {
    outline: none;
    float: right;
}
.ih-loggedUserImage-desk {
    display: inline;
    vertical-align: middle;
    width: 40px;  //bryan 
    height: 40px;  //bryan
    border-radius: 50% !important;
}
.ih-tu-perfil-text {
    position: relative;
    top: 19px;
    right: 35px;
    font-size: 16px !important;
    font-family: Montserrat;
    color: #aaaaaa;
    font-weight: 100;
    margin-right: 8px;
}
.ih-tu-perfil-plus{
    position: relative;
    top: 18px;
    right: 70px;
    font-size: 22px !important;
    font-family: Montserrat;
    color: #aaaaaa;
    font-weight: 100;
}

.ih-tu-perfil-text:hover {
    color: #3f75ff !important;
}
.loginText {
    position: relative;
    top: 20px;
    left: 30%;
}

nav {
    background: white;
    border-radius: 0;
    position: relative;
    z-index: 2;
    height: 84px;
    box-shadow: 1px 1px 5px gray;
}
img {
    vertical-align: middle;
}




.carText {
    position: absolute;
    top: 25%;
    left: -3%;
    color: #aaaaaa;
    font-weight: 100;
}

.carText:hover {
    color: #3f75ff !important;
}

.homeText {
    position: absolute;
    top: 25%;
    left: -18%;
    width: max-content;
    color: #aaaaaa;
    font-weight: 100;
}

.homeText:hover {
    color: #3f75ff !important;
}

#switchNavigationUserAccountDesktopIMG {
    border: none;
    position: absolute;
    margin-top: 7px;
    height: 35px;
    width: 35px;
    right: 53px;
    object-fit: cover;
}
@media screen and (min-width: 0px) and (max-width: 900px) {

    /* meny */
    .ih-logo-new {
        display: none;
    }

}
.subscriptionStyle {
    margin-bottom: 0 !important;
    height: 100% !important;
}
.colorSelectedFav{
    --color-selected: #3f75ff;
}
.colorSelectedConf{
    --color-selected: #c23fff;
}
.colorSelectedSec{
    --color-selected: #ff553f;
}
.colorSelectedEnerg{
    --color-selected: #139730;
}





