<ion-content class="">
    <div *ngIf="from == 'locations'">
        <ion-item lines="none">
            <ion-label class="blueText">Mi Casa</ion-label>
            <ion-icon class="redText" slot="end" name="close-outline" (click)="closeModal()"></ion-icon>
        </ion-item>

        <ion-item class="editLocationButton" (click)="adaptModal('invite')">
            <div slot="start" style="margin-right: 10px;">
                <ion-icon style="font-size: 1.6em;" name="person-add-outline"></ion-icon>
            </div>
            <div>
                <ion-label class="editLocationTitle"><b>Invitar personas a este hogar</b></ion-label>
            </div>
            <div class="fullWidth">
                <ion-icon class="floatRight" style="font-size: 1.6em;" name="chevron-forward-outline"></ion-icon>
            </div>
        </ion-item>

        <ion-item class="editLocationButton" (click)="adaptModal('changeName')">
            <div slot="start" style="margin-right: 10px;">
                <ion-icon style="font-size: 1.6em;" name="pencil-outline"></ion-icon>
            </div>
            <div>
                <ion-label class="editLocationTitle"><b>Cambiar nombre</b></ion-label>
            </div>
            <div class="fullWidth">
                <ion-icon class="floatRight" style="font-size: 1.6em;" name="chevron-forward-outline"></ion-icon>
            </div>
        </ion-item>

        <ion-item class="deleteLocationButton" (click)="adaptModal('deleteLocation')">
            <div slot="start" style="margin-right: 10px;">
                <ion-icon style="font-size: 1.6em;" name="close-circle-outline"></ion-icon>
            </div>
            <div>
                <ion-label class="editLocationTitle"><b>Eliminar este hogar</b></ion-label>
            </div>
            <div class="fullWidth">
                <ion-icon class="floatRight" style="font-size: 1.6em;" name="chevron-forward-outline"></ion-icon>
            </div>
        </ion-item>
    </div>

    <div *ngIf="from == 'deleteLocation' || from == 'userPassword' || from == 'invite' || from == 'changeName' || from == 'userName' || from == 'userEmail' || from == 'userPhoneNumber1' || from == 'userPhoneNumber2'|| from == 'userMainPhone' "
        class="{{(from == 'deleteLocation' || from == 'userPassword') ? 'deleteLocationTile ion-padding' : 'ion-padding'}}"
        style="text-align: center;">
        <ion-label class="blueText">{{modalTitle}}</ion-label>

        <div style="margin-top: 13%;">
            <figure class="figureCaption">
                <ion-icon slot="start" name="{{modalIcon}}" class="figIcon"></ion-icon>
                <figcaption>{{modalIconText}}</figcaption>
            </figure>
            <ion-item *ngIf="from != 'deleteLocation' && from != 'userPassword' " class="roundedInput">
                <ion-input (keyup.enter)="acceptInviteDeleteButton()" placeholder="{{inputPlaceholder}}" type="email"
                    [(ngModel)]="inputValue"></ion-input>
            </ion-item>
        </div>

        <div>
            <ion-item lines="none" class="transparent positionLeft" (click)="closeModal()">
                <button class="cancelButton">
                    <ion-label class="editLocationTitle"><b>Cancelar</b></ion-label>
                </button>
            </ion-item>

            <ion-item lines="none" class="transparent positionRight" (click)="acceptInviteDeleteButton()">
                <button class="{{(from == 'deleteLocation') ? 'deleteButton' : 'acceptButton'}}">
                    <ion-label size="small" class="editLocationTitle">
                        <b>{{(from == 'deleteLocation') ? 'Eliminar' : (from == 'invite') ? 'Invitar' : 'Aceptar'}}</b>
                    </ion-label>
                </button>
            </ion-item>
        </div>
    </div>

    <div *ngIf="from == 'changeAlarmMode'">
        <ion-item lines="none">
            <ion-label class="alarmModeTitle">Alarma de Intrusos</ion-label>
        </ion-item>

        <ion-item lines="none" class="alarmModeDeactivate" (click)="changeAlarmMode('deactivate')">
            <i class="icon-lock-off alarmModeIcon figIcon"></i>
            <ion-label class="alarmModeText figIcon">Apagar</ion-label>
        </ion-item>
        <ion-item lines="none" class="alarmModeNightMode" (click)="changeAlarmMode('nightMode')">
            <img class="alarmModeIcon yellowText" src="../../../assets/imgs/nightMode.png" alt="nightMode">
            <ion-label class="alarmModeText yellowText">Modo noche</ion-label>
        </ion-item>
        <ion-item lines="none" class="alarmModeActivate" (click)="changeAlarmMode('activate')">
            <i class="icon-lock-on alarmModeIcon redText"></i>
            <ion-label class="alarmModeText redText">Encender</ion-label>
        </ion-item>
    </div>

    <div *ngIf="from == 'generalModal'" class="deleteLocationTile">
        <ion-label class="blueText">{{modalTitle}}</ion-label>
        <div>
            <ion-item lines="none" class="transparent positionLeft" (click)="closeModal()">
                <button class="cancelButton">
                    <ion-label class="editLocationTitle"><b>Cancelar</b></ion-label>
                </button>
            </ion-item>

            <ion-item lines="none" class="transparent positionRight" (click)="closeModal('accept')">
                <button class="acceptButton">
                    <ion-label size="small" class="editLocationTitle"><b>Aceptar</b></ion-label>
                </button>
            </ion-item>
        </div>
    </div>

    <div *ngIf="from == 'userDevices'">

        <ion-item lines="none" class="backgroundColor">
            <ion-label class="blueText whiteSpaceNormal">Dispositivos de {{userId}}</ion-label>
            <ion-icon class="redText" slot="end" name="close-outline" (click)="closeModal()"></ion-icon>
        </ion-item>

        <div class="userDevicesContent" *ngFor="let device of userDevices; let i = index">
            <span class="userDevicesCounter">{{i+1}}</span>
            <ion-icon class="cardIconStart" name="call-outline"></ion-icon>
            <ion-label class="userDevicesName">{{device.device.manufacturer}} {{device.device.model}}</ion-label>
            <ion-icon class="cardIconEnd" name="trash-outline" (click)="deleteUserDevice(device.pushToken)"></ion-icon>
        </div>

    </div>

    <div *ngIf="from == 'locationDevices'">

        <ion-item lines="none" class="backgroundColor">
            <ion-label class="blueText whiteSpaceNormal">Dispositivos de mi hogar</ion-label>
            <ion-icon class="redText" slot="end" name="close-outline" (click)="closeModal()"></ion-icon>
        </ion-item>
        <div class="userMailContainer">
            <ion-label class="blueText">Usuarios activos: <b
                    [ngClass]="{'redText': currentLocationUsers > myPlanUsers}">{{currentLocationUsers}}</b> /
                {{myPlanUsers}}</ion-label>
            <ion-icon class="greenText" [ngClass]="{'redText': currentLocationUsers > myPlanUsers}" slot="end"
                name="{{currentLocationUsers > myPlanUsers ? 'close-circle-outline' : 'checkmark-circle-outline'}}">
            </ion-icon>

            <br>
            <ion-label class="blueText">Dispositivos activos: <b
                    [ngClass]="{'redText': phonesNumber > myPlanPhones}">{{phonesNumber}}</b> / {{myPlanPhones}}
            </ion-label>
            <ion-icon class="greenText" [ngClass]="{'redText': phonesNumber > myPlanPhones}" slot="end"
                name="{{phonesNumber > myPlanPhones ? 'close-circle-outline' : 'checkmark-circle-outline'}}"></ion-icon>
        </div>

        <div style="margin-bottom: 7%;" class="blueText" *ngFor="let user of locationUsers; let j = index">
            <div class="userMailContainer">
                <ion-label>{{user.userId}}</ion-label>
                <ion-icon class="cardDeleteUser" name="trash-outline" (click)="deleteUser(user.userId)"></ion-icon>
            </div>
            <!-- <div [hidden]="user.userId != device.user" class="userDevicesContent" *ngFor="let device of locationDevices; let i = index"> -->
            <div class="userDevicesContent" *ngFor="let device of locationUsers[j].devices; let i = index">
                <span class="userDevicesCounter">{{i+1}}</span>
                <ion-icon class="cardIconStart" name="call-outline"></ion-icon>
                <ion-label class="userDevicesName">{{device.device.manufacturer}} {{device.device.model}}</ion-label>
                <ion-icon class="cardIconEnd" name="trash-outline" (click)="deleteUserDevice(device.pushToken)">
                </ion-icon>
            </div>
        </div>

        <div style="margin-bottom: 7%;" class="blueText">
            <div class="userMailContainer">
                <ion-label>Otros dispositivos:</ion-label>
            </div>
            <div class="userDevicesContent" *ngFor="let device of devicesWithNoUser; let i = index">
                <span class="userDevicesCounter">{{i+1}}</span>
                <ion-icon class="cardIconStart" name="call-outline"></ion-icon>
                <ion-label class="userDevicesName">{{device.device.manufacturer}} {{device.device.model}}</ion-label>
                <ion-icon class="cardIconEnd" name="trash-outline" (click)="deleteUserDevice(device.pushToken)">
                </ion-icon>
            </div>
        </div>

    </div>

</ion-content>
