ion-content {
    --background: #F4F8F8;
}

.backgroundColor {
    --background: #F4F8F8;
}

.editLocationButton {
    --background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    --border-radius: 10px;
    width: 86%;
    color: white;
    margin-left: 7%;
    margin-bottom: 10px;
}

.deleteLocationButton {
    --background: linear-gradient(90deg, #E1004E 0%, #FFAF3B 100%);
    --border-radius: 10px;
    width: 86%;
    color: white;
    margin-left: 7%;
    margin-bottom: 10px;
}

.acceptButton {
    height: 36px;
    background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    border-radius: 10px;
    color: white;
    width: 90px;
}

.deleteButton {
    height: 36px;
    background: linear-gradient(90deg, #E1004E 0%, #FFAF3B 100%);
    border-radius: 10px;
    color: white;
    width: 90px;
}

.cancelButton {
    height: 36px;
    background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    border-radius: 10px;
    color: white;
    width: 90px;
}

.editLocationTitle {
    font-weight: 600;
    font-size: 14px;
}

.fullWidth {
    width: 100%;
}

.floatRight {
    float: right;
}

.blueText {
    font-weight: 600;
    font-size: 16px;
    color: #3F75FF;
    text-align: center;
}

.whiteSpaceNormal {
    white-space: normal;
}

.greenText {
    color: green;
    margin-left: 2%;
}

.redText {
    color: #E61F4B;
}

.yellowText {
    color: #F9893F;
}

.alarmModeIcon {
    font-size: 2.3em;
    position: absolute;
    width: 1em;
}

.alarmModeText {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.alarmModeTitle {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #f14336;
}

.alarmModeDeactivate {
    // --background: #3f75ff;
    --border-radius: 10px;
    width: 86%;
    margin-left: 7%;
    margin-bottom: 10px;
    border: 1px solid #3F75FF;
    border-radius: 10px;
}

.alarmModeNightMode {
    // --background: #F9893F;
    --border-radius: 10px;
    width: 86%;
    margin-left: 7%;
    margin-bottom: 10px;
    border: 1px solid #F9893F;
    border-radius: 10px;
}

.alarmModeActivate {
    // --background: #F14336;
    --border-radius: 10px;
    width: 86%;
    margin-left: 7%;
    margin-bottom: 10px;
    border: 1px solid #F14336;
    border-radius: 10px;
}

.roundedInput {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 38px;
    left: 3%;
    width: 80%;
}

.figureCaption {
    margin: 0;
    float: left;
    font-size: 12px;
    text-align: center;
}

.figIcon {
    color: #3F75FF;
}

.loginButton {
    width: 292px;
    height: 52px;
    background: linear-gradient(90deg, #3F75FF 10.42%, #24F4D0 86.46%);
    border-radius: 10px;
    color: white;
}

.transparent {
    --ion-item-background: transparent;
    color: white;
}

.positionLeft {
    position: absolute;
    bottom: 0;
    left: -10px;
}
.positionRight {
    position: absolute;
    bottom: 0;
    right: -10px;
}

.deleteLocationTile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.cardIconStart {
    background: #2AD8DA;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    padding: 4px;
    color: #ffffff;
    margin-right: 2%;
}
.cardIconEnd {
    background: #2AD8DA;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    padding: 4px;
    color: #ffffff;
    position: absolute;
    right: 7%;
}

.cardDeleteUser {
    background: #2AD8DA;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    padding: 3px;
    color: #ffffff;
    position: absolute;
    margin: 0 0 0 1%;
}

.userDevicesContent {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #FFFFFF;
    margin: 0 4% 4% 4%;
    display: flex;
    align-items: center;
    padding: 2%;
}

.userDevicesCounter {
    font-weight: bold;
    font-size: 24px;
    color: #3F75FF;
    margin: 0 6% 0 2%;
}

.userDevicesName {
    color: #3F75FF;
    font-weight: 600;
    font-size: 14px;
}

.userMailContainer {
    text-align: start;
    font-size: 0.9em;
    margin: 0 0 3% 5%;
}

.selectContainer {
    width: 80%;
    left: 10%;
    margin-top: 10%;
    border-radius: 10px;
}