<ion-content style="background: #000d37" padding>
  <div id="icon-container">
      <i id="iconItem" class="icon-center" [ngClass]="'icon-house-' + frame + ' ' + gradient"></i>
  </div>
</ion-content>