#icon-container {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 7em;
    width: 7em;
    margin-left: -3.5em;
    margin-top: -3.5em;

    .icon-center {
        font-size: 7em;
    }
}

.blue-color {
    background: webkit-linear-gradient(left, #2bd2dd 0%, #3a8cf6 100%) !important;
    background: linear-gradient(to right, #2bd2dd 0%, #3a8cf6 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.purple-color {
    background: webkit-linear-gradient(left, #807bec 0%, #b45fe6 100%) !important;
    background: linear-gradient(to right, #807bec 0%, #b45fe6 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.orange-color {
    background: webkit-linear-gradient(left, #fa933e 0%, #ef4f45 100%) !important;
    background: linear-gradient(to right, #fa933e 0%, #ef4f45 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.green-color {
    background: webkit-linear-gradient(left, #afe56c 0%, #4bad62 100%) !important;
    background: linear-gradient(to right, #afe56c 0%, #4bad62 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}