<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
        <ion-icon name="close" class="closeIcon" (click)="closeWindow()"></ion-icon>
    </ion-buttons>
    <ion-title>Ordenar Habitaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="background-locations" padding>
  <ion-card *ngFor="let room of rooms; let i = index">
    <ion-item>
      <h2>{{room.roomAlias}}</h2>
      <ion-icon [ngStyle]="{visibility: (i != 0) ? 'visible' : 'hidden'}" (click)="orderRoom('up', room)"
        name="arrow-up-outline" large slot="end">&nbsp;</ion-icon>
      <ion-icon [ngStyle]="{visibility: (i != rooms.length - 1) ? 'visible' : 'hidden'}"
        (click)="orderRoom('down', room)" name="arrow-down-outline" large slot="end"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>