#background-locations {
    --background: url(../../../assets/imgs/background.png) 0 0/100% 100% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.closeIcon {
    font-size: 25px;
}