.floating-windows {
    // width: 100%;
    // height: 100%;
}

.selectedColor {
    background: #28CA00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 23px;
    height: 23px;
    border-radius: 50%;
    margin-top: 3%;
}

.deviceTitle {
    color: #5C8FF0;
    font-weight: 600;
    font-size: 1.1em;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 3%;
}

.close-button {
    color: red;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
}

.colorLightIcon {
    font-size: 3em;
    color: black;
}

.floating-background {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background-color: rgba(0, 0, 0, 0.6);
    // z-index: 900;
    /* -webkit-transition: all .5s;
    transition: all .5s;*/
}
.thermo-container {
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // margin-left: -119px;
    // margin-top: -119px;
    // width: 238px !important;
    // height: 238px !important;
    //--background: url(../../../assets/imgs/nest_238.png) 0 0/100% 100% no-repeat;
    // background-image: url("../../../assets/imgs/nest_238.png");
}
.thermo-title {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // width: 110px;
    // margin-top: -95px;
    // margin-left: -55px;
    // font-size: 1em;
    // color: white;
    // text-align: center;
    // z-index: 10;
    // line-height: 12px;
}

#colorWheel {
    // position: absolute;
    // top: 22.4%;
    // left: 22%;
}
