<ion-content padding>
  <!-- <div class='floating-background'>
    <div class='thermo-container'>
      <div class='thermo-title color-title'>{{device.alias}}</div>
      <div id="colorWheel" class='color-picker'></div>
      <div class='close-button' (click)="closeWindow()">
        <span style='font-weight: bold;'>&times;</span>
      </div>
    </div>
  </div> -->

  <ion-card style="margin: 0;">
    <div style="display: flex">
      <i class="icon-colorLight-on colorLightIcon"></i>
      <div class="selectedColor"></div>
    </div>
    <div class="deviceTitle">
      <ion-label>{{device.alias}}</ion-label>
    </div>
    <div class='close-button' (click)="closeWindow()">
      <span style='font-weight: bold;'>&times;</span>
    </div>
    <div id="colorWheel" class='color-picker'></div>
  </ion-card>
</ion-content>