<ion-header>
</ion-header>


<ion-content class="content">

  <!-------------Icon------------------------->
  <div class="centerContent titleBackground">
    <img src="../../assets/imgs/intelihogar_general.png" class="img-intelihogar">
  </div>
  <div class="centerContent titleBackground2 font-montserrat">
    <ion-label>Tu hogar inteligente</ion-label>
  </div>

  <!--#region-->
  <ion-list class="transparent form-content" lines="none">

    <!-- Email -->
    <ion-item class="roundedInput">
      <ion-input placeholder="Correo electronico" type="email" [(ngModel)]="email"
        (ngModelChange)="clearInputs($event)"></ion-input>
    </ion-item>

    <!-- -----------Password----------------------- -->
    <ion-item class="roundedInput">
      <ion-input (keyup.enter)="login()" placeholder="Contraseña" [type]="passwordType" [(ngModel)]="password" (ionChange)="updateUI()"
        (keyup)="onKey($event.keyCode)">
      </ion-input>
      <ion-icon slot="end" [name]="passwordIcon" (click)='showHideTextPass()' style="font-size:32px; color:white;">
      </ion-icon>
    </ion-item>

    <!-- -----------Checkbox----------------------- -->
    <ion-item class="rememberData" no-lines>
      <ion-label>
        Recordar Datos
      </ion-label>
      <ion-checkbox slot="start" [(ngModel)]="saveSession" (ionChange)="updateUI()"></ion-checkbox>
    </ion-item>

    <!-- -----------Button----------------------- -->
    <div class="centerContent">
      <ion-item class="transparent">
        <button class="loginButton" (click)="login()" [disabled]="email=='' || password==''">
          <ion-label style="font-weight: 600; font-size: 20px; font-family: 'montserrat'">Iniciar sesión</ion-label>
        </button>
      </ion-item>
    </div>

    <!-- -----------Providers----------------------- -->
    <ion-item lines="none" class="accessWithLabel">
      <ion-label>Acceder con</ion-label>
    </ion-item>
    <ion-item class="roundedInput" (click)="loginWithGoogle()">
      <div>
        <ion-item style="margin-top: -7px;">
          <img slot="start" src="../../../assets/imgs/google-logo.png" class="googleIcon">
          <ion-label class="socialLabels">Google</ion-label>
        </ion-item>
      </div>
      <ion-icon class="socialButtonsArrowIcon" slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item class="roundedInput" (click)="loginWithFacebook()">
      <div>
        <ion-item style="margin-top: -7px;">
          <ion-icon slot="start" name='logo-facebook' class="socialIcons" style="color:#475993"></ion-icon>
          <ion-label class="socialLabels">Facebook</ion-label>
        </ion-item>
      </div>
      <ion-icon class="socialButtonsArrowIcon" slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item *ngIf="userPlatforms.includes('ios')" class="roundedInput" (click)="loginWithApple()">
      <div>
        <ion-item style="margin-top: -7px;">
          <ion-icon slot="start" name='logo-apple' class="socialIcons" style="color:#000000"></ion-icon>
          <ion-label class="socialLabels">Apple</ion-label>
        </ion-item>
      </div>
      <ion-icon class="socialButtonsArrowIcon" slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <!-- -----------Reg----------------------- -->
  </ion-list>
  <div *ngIf="!isKeyboardShowing" class="transparent" style="position: absolute; bottom: 0px; left: calc(50% - 106px);">
    
  </div>
  <ion-item lines="none" (click)="showNewUserPrompt()" class="ion-text-center" class="transparent">
    <ion-label class="newAcount">Crear cuenta nueva</ion-label>
  </ion-item>
  <ion-item lines="none" (click)="showEmailPrompt()" class="ion-text-center" class="transparent">
    <ion-label class="forgotPass">¿Olvidaste tu contraseña?</ion-label>
    <ion-button (click)="openPasswordModal(); $event.stopPropagation()">OPEN PASSWORD MODAL</ion-button>
  </ion-item>
  <!--#endregion-->
</ion-content>  