#background-locations {
    // --background: url(../../../assets/imgs/background.png) 0 0/100% 100% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    --background: #F4F8F8;
    // --background: #333333;
}

.action-location { 
    margin-left: 24px;
    bottom: 33px;
    float: right;
}

#profileAvatar {
    width: 30px !important;
    height: 30px !important;
    margin-left: 16px;
    margin-right: -16px;
    border: 1px solid #2AD8DA;
    border-radius: 50%;
    top: -10%;
    position: absolute;

    img {
        border-radius: 50%;
    }
}

.userAvatar {
    width: 72px !important;
    height: 72px !important;
    border-radius: 50%;
}

.welcomeUser {
    color: #3F75FF;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.fullWidth {
    width: 100%;
}

.lineDivider {
    width: 94%;
    margin-left: 3%;
    padding-left: 10px;
    color: #3f75ff;
    font-weight: 600;
    font-size: 12px;
}

.accessLocationButton {
    --background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    --border-radius: 10px;
    width: 92%;
    color: white;
    margin-left: 4%;
}


.accessLocationTitle {
    font-weight: 600;
    font-size: 0.8rem;
}

.accessLocationSubtitle {
    font-size: 12px;
    width: 100%;
}

.noLocationsContainer {
    box-shadow: none;
    height: 10em;
}

.noLocationsLabelContainer {
    position: absolute;
    height: 100%;
    width: 100%;
}

.noLocationsLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 17px;
}

.noLocationsIcon {
    color: rgba(63, 117, 255, 0.1);
    font-size: 7em;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.subscriptionButton {
    --background: #ffffff;
    border-radius: 10px;
    border: 0.5px solid #3F75FF;
    width: 92%;
    color: #8B8B8B;
    margin-left: 4%;
    margin-top: 5px;
    cursor:pointer;
}

.subscriptionSubtitle {
    font-size: 0.6rem;
}

.modifySubscriptionTextContainer {
    width: 50%;
}

.modifySubscriptionText {
    font-weight: 500;
    font-size: 0.7rem;
    width: auto;
    white-space: break-spaces;
    text-align: end;
}

.centerSubscriptionButton {
    margin: 0 0 0 5px;
}

.blueColor {
    color: #3F75FF;
}

.redColor {
    color: #ff0000;
}

.selectedTab {
    --color: #3F75FF;
    font-weight: bold;
}

.backgroundColor {
    height: 9.2%;
    width: 100%;
    background: #F4F8F8;
    position: absolute;
    bottom: 0;
    left: 0;
}


.cardNotificationIcon {
    background: #F9893F;
    border-radius: 50%;
    height: 19px;
    width: 19px;
    padding: 10px;    
    margin-left: 2%;
    color: #ffffff;
}

.cardLocationName {
    color: #3F75FF;
    font-weight: 600;
    font-size: 16px;
}

.myProfileCaption {
    font-size: 10px;
    width: 45px;
    margin-left: -26%;
    color: #3F75FF;
}

.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background: #ffffff;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.disabled-location {
    background: rgba(155, 153, 153, 0.767) !important;
    pointer-events: none;

    ion-item {
        background: rgba(155, 153, 153, 0.767) !important;

        h2 {
            color: #666;
        }
    }
}

.tabItem img {
    height: 30%;
}

.locationIconSize {
    margin-bottom: 10px;
    font-size: min(27vw, 400px);
}


@media only screen and (max-width: 600px) {
.tabContent {
    display: flex;
    margin: 0;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 30px 30px 0px 0px;
    height: 75px;
}
.locationIconSize {
    font-size: min(38vw, 400px) !important;
}

}

@media only screen and (min-width: 601px) {

    .locationsMobileHeader {
        display: none !important;
    }
    
    .tabContent {
        display: none !important;
    }
}

.marginLogoutButton {
    margin: 7% 0 3% 0;
}

.editUserMargin {
    margin-left: 5px;
}

.transparent {
    --ion-item-background: transparent;
    color: white;
}

.logoutButton {
    width: 292px;
    height: 52px;
    background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    border-radius: 10px;
    color: white;
}


.emailIcon {
    color: #3F75FF;
}

.emailIconText {
    color: #8B8B8B;
    font-weight: 500;
    font-size: 12px;
}

.emailText {
    color: #000000;
    text-decoration-line: underline;
    font-weight: 600;
    font-size: 13px;
}

.personalInfoText {
    font-weight: 600;
    font-size: 12px;
    color: #3F75FF;
    margin-left: 9%;
    font-family: var(--ion-font-family, inherit);
}
.locationsFooterStyle{
    position: absolute;
        padding-top: 10px !important;
        //padding-left: 5%;
        width: 100%;
        background: #fff;
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
        height: 61px;
        margin-top: 10%;
        right:0vw;
}
.callTextIcon{
    color: #000000;
    font-size: 9px;
    position: absolute;
    top: 41px;
}