<ion-app id="homeTabsContent">
  <ion-router-outlet>
  </ion-router-outlet>
</ion-app>
<ion-menu side="end" type="reveal" class="optionsMenu" contentId="homeTabsContent" menuId="OptionsMenu"
  swipeGesture="true">
  <ion-content>
    <ion-list class="list">

      <ion-item class="ion-text-start">
        <ion-label>{{currentUser.userName}}</ion-label>
        <!-- <ion-icon slot="end" name="locate"></ion-icon> -->
      </ion-item>

      <ion-item class="ion-text-start" (click)="openRoutingPage('locations');">
        <ion-icon slot="start" name="locate"></ion-icon>
        <ion-label>Mis hogares</ion-label>
      </ion-item>

      <!-- <ion-item class="ion-text-start configurationDisplayLocation" (click)="openRoutingPage('configurations');">
        <ion-icon slot="start" name="cog"></ion-icon>
        <ion-label>Configuraciones</ion-label>
      </ion-item> -->
      <!-- <ion-item class="ion-text-end" (click)="openRoutingPage('help');">
        <ion-label>Ayuda</ion-label>
        <ion-icon slot="end" name="help-circle"></ion-icon>
      </ion-item> -->
    </ion-list>
  </ion-content>
 
</ion-menu>