<ion-content class="backgroundColor">
    <ion-label class="fullWidth centerContent blueText mainTitle">Problema de conexión</ion-label>
    <!-- <ion-item class="actionsOptions" lines="none">
        <ion-select [(ngModel)]="actionsSelect" (ionChange)="actionsTriggered()" mode="ios" class="actionsSelect" placeholder="acciones" interface="popover" slot="end">
            <ion-select-option value="locations">Mis hogares</ion-select-option>
            <ion-select-option value="signOut">Cerrar sesión</ion-select-option>
        </ion-select>
    </ion-item> -->
    <div class="fullWidth centerContent">
        <img [src]="'../../../assets/imgs/' + (from == 'hub' ? 'hubOffline' : 'deviceOffline') + '.png'"
            class="mainImage" alt="disconnected">
    </div>
    <ion-label class="fullWidth centerContent blueText">Tu {{from == 'hub' ? 'Hogar Inteligente' : 'dispositivo móvil'}}
        no tiene conexión</ion-label>
    <br>
    <div class="reconnectingContainer">
        <ion-label class="blueText">Reconectando</ion-label>
        <img src="../../../assets/imgs/reconnecting.gif" class="reconnectingGif" alt="reconnecting">
    </div>

    <div *ngIf="from == 'hub'">
        <ion-item lines="none" class="transparent positionRight" (click)="actionsTriggered('locations')">
            <button class="locationsButton">
                <ion-label size="small" class="locationsTitle">
                    <b>Mis hogares</b>
                </ion-label>
            </button>
        </ion-item>

        <ion-item lines="none" class="transparent positionLeft" (click)="actionsTriggered('signOut')">
            <button class="logoutButton">
                <ion-label size="small" class="locationsTitle">
                    <b>Cerrar sesión</b>
                </ion-label>
            </button>
        </ion-item>
    </div>
</ion-content>