.backgroundColor {
    --background: #f4f8f8;
}

.fullWidth {
    width: 100%;
}

.mainTitle {
    margin: 4% 0 10% 0;
    font-size: large;
}

.actionsOptions {
    --background: transparent;
    color: #3F75FF;
    position: absolute;
    top: 12%;
    width: 100%;
}

.actionsSelect {
    --placeholder-color: #3F75FF;
    --placeholder-opacity: 1;
}

ion-select::part(icon) {
    color: #3F75FF;
    opacity: 1;
}

.blueText {
    color: #3F75FF;
    font-weight: bold;
}

.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainImage {
    margin-bottom: 10%;
    width: 60%;
}

.reconnectingContainer {
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: absolute;
    bottom: 2%;
}

.reconnectingGif {
    width: 7%;
    margin-left: 1%;
}

.locationsButton {
    height: 36px;
    background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    border-radius: 10px;
    color: white;
    width: 90px;
}

.logoutButton {
    height: 36px;
    background: linear-gradient(90deg, #E1004E 0%, #FFAF3B 100%);
    border-radius: 10px;
    color: white;
    width: 90px;
}

.locationsTitle {
    font-weight: 600;
    font-size: 12px;
}

.transparent {
    --ion-item-background: transparent;
    color: white;
}

.positionLeft {
    position: absolute;
    bottom: 0;
    left: -10px;
}

.positionRight {
    position: absolute;
    bottom: 0;
    right: -10px;
}