#background-userProfile {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    --background: #F4F8F8;
}

#profileAvatar {
    width: 30px !important;
    height: 30px !important;
    margin-left: 16px;
    margin-right: -16px;
    border: 1px solid #2AD8DA;
    border-radius: 50%;
    top: -10%;
    position: absolute;

    img {
        border-radius: 50%;
    }
}


 
    

.myProfileCaption {
    font-size: 10px;
    width: 45px;
    margin-left: -26%;
    font-weight: bold;
    color: #3F75FF;
}

.userAvatar {
    width: 72px !important;
    height: 72px !important;
    border-radius: 50%;
}

.welcomeUser {
    color: #3F75FF;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-right: 5px;
    margin-left: 20px;
}



.emailIcon {
    color: #3F75FF;
}

.emailIconText {
    color: #8B8B8B;
    font-weight: 500;
    font-size: 12px;
}

.emailText {
    color: #000000;
    text-decoration-line: underline;
    font-weight: 600;
    font-size: 13px;
}

.personalInfoText {
    font-weight: 600;
    font-size: 12px;
    color: #3F75FF;
    margin-left: 9%;
}

.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background: #ffffff;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.fullWidth {
    width: 100%;
}

.lineDivider {
    width: 94%;
    margin-left: 3%;
    padding-left: 10px;
    color: #3f75ff;
    font-weight: 600;
    font-size: 12px;
}

.logoutButton {
    width: 292px;
    height: 52px;
    background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    border-radius: 10px;
    color: white;
}

.transparent {
    --ion-item-background: transparent;
    color: white;
}

.marginLogoutButton {
    margin: 15% 0 3% 0;
}

.tabItem img {
    height: 30%;
}

.tabContent {
    display: flex;
    margin: 0;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 30px 30px 0px 0px;
    height: 75px;
}

.selectedTab {
    --color: #3F75FF;
    font-weight: bold;
}

.backgroundColor {
    height: 9.2%;
    width: 100%;
    background: #F4F8F8;
    position: absolute;
    bottom: 0;
    left: 0;
}