
<ion-header id="background-content"  class="mobileHeader" [hidden]="!appFullyLoaded">
    <ion-toolbar text-center>
        <figure id="userAvatar" slot="start">
            <img src="{{user.userImage}}">
            <figcaption class="myProfileCaption">Mi Info</figcaption>
        </figure>
        <ion-title>
            <div class="centerContent">
                <figure style="margin: 0;">
                    <div style="text-align: center;">
                        <img class="headerImage" src="../../assets/imgs/inteliApps/inteliAppsGeneral-on.png"
                            height="31px" width="32px">
                        <i class="headerIcon"></i>
                    </div>
                    <figcaption class="locationCaption">{{selectedLocation.locationName}}</figcaption>
                </figure>

                <!-- <div>
            <img class="headerImage" src="../../assets/imgs/inteliApps/inteliAppsGeneral-on.png" height="31px" width="32px">
            <i class="headerIcon"></i>
          <br>
          <span class="locationCaption">{{selectedLocation.locationName}}</span>
        </div> -->

            </div>
        </ion-title>
        <ion-icon menuToggle ion-button style="color: #3F75FF;" name="ellipsis-vertical" id="userOptions" slot="end"
            (click)="openOpen()">
        </ion-icon>

    </ion-toolbar>
</ion-header>

<ion-tab-bar id="secondTabMobile" class="secondTabStyleMobile" slot="bottom">
    <ion-tab-button class= "colorSelectedFav" href="/hometabs/favorites">
        <!-- <ion-icon name="star"></ion-icon> -->
        <img class="tabsImageMargin" src="../../../assets/imgs/favoritesIcon.png" alt="favorites">
        <ion-label>Favoritos</ion-label>
    </ion-tab-button>
    <div class="verticalLine"></div>
    <ion-tab-button class= "colorSelectedConf"  href="/hometabs/confort">
        <!-- <ion-icon name="apps"></ion-icon> -->
        <img class="tabsImageMargin" src="../../../assets/imgs/confortIcon.png" alt="confort">
        <ion-label>Confort</ion-label>
    </ion-tab-button>
    <div class="verticalLine"></div>
    <ion-tab-button class= "colorSelectedSec" href="/hometabs/security">
        <!-- <ion-icon name="lock-closed"></ion-icon> -->
        <img class="tabsImageMargin" src="../../../assets/imgs/securityIcon.png" alt="security">
        <ion-label>Seguridad</ion-label>
    </ion-tab-button>
    <div class="verticalLine"></div>
    <ion-tab-button class= "colorSelectedEnerg" href="hometabs/energy-saving">
        <!-- <ion-icon name="leaf"></ion-icon> -->
        <img class="tabsImageMargin" src="../../../assets/imgs/energyIcon.png" alt="energy">
        <ion-label>Energía</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="user-profile" style="display: none">
<img [src]="user.userImage" alt="actualUserImage" class="tabsImage">
</ion-tab-button> -->

</ion-tab-bar>
    <nav id="navBarDesktop"  style="height: 65px; z-index: 4000;">

        <div class="row subscriptionStyle">
            <div class="col s2">
                <a href="https://www.intelihogar.com/#!" class="subBackground" ng-click="manageColors('landingPage');">
                    <!-- <img src="resources/images/inteliLogo-img.webp" alt="InteliHogar"
                    class="ih-image-inteli-desk" style="width: 34% !important; margin-top: -8px;">
                <img src="resources/images/inteli-logo2.webp" alt="InteliHogar"
                    class="ih-image-inteli-desk-letters" style="margin-top: 0% !important; margin-left: -20px !important; width: 128px !important; "> -->
                    <i class="logoStyle"><img loading="lazy" class="logoPosition" src="../../../assets/imgs/myHome.png"
                            alt="InteliHogar"></i>
                    <!-- <i><img style="height: 105%; object-fit: cover; object-position: center center; margin-top: 5px;" src="resources/images/inteliLogo-img.webp" alt="InteliHogar"></i> -->
                    <i>
                        <img loading="lazy" src="../../../assets/imgs/inteli-logo2.webp" alt="InteliHogar"
                            class="ih-logo-new ih-logo">
                    </i>
                </a>
            </div>
            <div class="col s8">
                <ul class="bar1Position">
                    <!-- BARRA 1 -->
                    <li id="barra1" class="headerBarStyle">
                        <i>
                            <svg width="2" height="38" viewBox="0 0 2 38" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <line x1="1" y1="38" x2="1" stroke="#F4F8F8" stroke-width="2" />
                            </svg>
                        </i>
                    </li>
                    <!-- TIENDA -->
                    <li id="tienda" class="headerListStyle">
                        <a href="https://www.intelihogar.com/#!/tienda" id="showWindowsProductsDesktop" class="black-text withoutHover noOutline"
                            ng-click="manageColors('products');">
                            <span class="storeText">Tienda</span>
                            <svg class="ih-icon-top-separator storeSvg iconSeparator" xmlns="http://www.w3.org/2000/svg"
                                width="31" height="29" viewBox="0 0 30 27" fill="#AAAAAA">
                                <g>
                                    <path
                                        d="M19.4614 10.3472H16.5045C15.6952 10.3472 15.0371 11.0053 15.0371 11.8145V14.0823C15.0371 14.8915 15.6952 15.5496 16.5045 15.5496H19.4614C20.2707 15.5496 20.9288 14.8915 20.9288 14.0823V11.8145C20.9288 11.0053 20.2707 10.3472 19.4614 10.3472ZM19.8616 14.0823C19.8616 14.3046 19.6793 14.4824 19.4614 14.4824H16.5045C16.2821 14.4824 16.1043 14.3001 16.1043 14.0823V11.8145C16.1043 11.5922 16.2866 11.4143 16.5045 11.4143H19.4614C19.6837 11.4143 19.8616 11.5966 19.8616 11.8145V14.0823Z" />
                                    <path
                                        d="M25.7613 6.22513C25.7613 6.13176 25.7391 6.04283 25.6901 5.96279L22.4531 0.271238C22.3597 0.106717 22.1818 0 21.9906 0H7.76621C7.57501 0 7.39715 0.10227 7.30377 0.271238L4.07114 5.96279C4.02668 6.04283 4 6.13176 4 6.22513C4 7.50129 4.76925 8.59513 5.86754 9.0798V18.4664C5.86754 18.7599 6.10765 19 6.40112 19H9.34917C9.35362 19 9.35806 19 9.36251 19H13.4978C13.5022 19 13.5067 19 13.5111 19H23.3557C23.6492 19 23.8893 18.7599 23.8893 18.4664V9.1465C23.8893 9.12427 23.8893 9.10648 23.8849 9.0887C24.9876 8.60402 25.7613 7.50573 25.7613 6.22513ZM8.07746 1.07161H21.6794L24.2095 5.52258H5.55184L8.07746 1.07161ZM19.4872 6.5853C19.3183 7.54575 18.4779 8.27498 17.4685 8.27498C16.4592 8.27498 15.6188 7.54575 15.4498 6.5853H19.4872ZM14.3159 6.5853C14.147 7.54575 13.3066 8.27498 12.2972 8.27498C11.2879 8.27498 10.4475 7.54575 10.274 6.5853H14.3159ZM5.10274 6.5853H9.14463C8.97566 7.54575 8.13082 8.27498 7.12146 8.27498C6.1121 8.27943 5.27171 7.54575 5.10274 6.5853ZM12.9642 17.9328H9.89609V12.1746C9.89609 11.7566 10.234 11.4142 10.6564 11.4142H12.2083C12.6263 11.4142 12.9686 11.7522 12.9686 12.1746V17.9328H12.9642ZM22.8221 17.9328H14.0314V12.1746C14.0314 11.1697 13.2132 10.3471 12.2038 10.3471H10.652C9.64709 10.3471 8.82448 11.1652 8.82448 12.1746V17.9373H6.93471V9.34215C6.99696 9.34659 7.05921 9.34659 7.12146 9.34659C8.19752 9.34659 9.14908 8.79967 9.70934 7.96817C10.2696 8.79967 11.2212 9.34659 12.2972 9.34659C13.3733 9.34659 14.3204 8.79967 14.8851 7.96817C15.4454 8.79967 16.3969 9.34659 17.4685 9.34659C18.5446 9.34659 19.4917 8.79967 20.052 7.96817C20.6122 8.79967 21.5638 9.34659 22.6398 9.34659C22.7021 9.34659 22.7599 9.34215 22.8221 9.34215V17.9328ZM22.6398 8.27943C21.6305 8.27943 20.7901 7.5502 20.6211 6.58975H24.663C24.4896 7.54575 23.6492 8.27943 22.6398 8.27943Z" />
                                </g>
                                <defs>
                                    <filter id="filter0_d4" x="0" y="0" width="29.7613" height="27"
                                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                        <feColorMatrix in="SourceAlpha" type="matrix"
                                            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                        <feOffset dy="4" />
                                        <feGaussianBlur stdDeviation="2" />
                                        <feColorMatrix type="matrix"
                                            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow"
                                            result="shape" />
                                    </filter>
                                </defs>
                            </svg>
                        </a>
                    </li>
                    <!-- BARRA 2 -->
                    <li id="barra2" class="headerBarStyle">
                        <i>
                            <svg width="2" height="38" viewBox="0 0 2 38" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <line x1="1" y1="38" x2="1" stroke="#F4F8F8" stroke-width="2" />
                            </svg>
                        </i>

                    </li>
                    <!-- MI HOGAR -->
                    <li id="hogar" class="headerListStyle">
                        <a class="black-text withoutHover noOutline" id="showWindowsMyHomeDesktop" href="https://www.intelihogar.com/#!/tuHogar"
                            ng-click="manageColors('myHome');">
                            <i><svg class="ih-icon-top-separator myHomeSvg iconSeparator"
                                    xmlns="http://www.w3.org/2000/svg" width="33" height="31" viewBox="0 0 31 29"
                                    fill="#AAAAAA">
                                    <g>
                                        <path
                                            d="M15.4936 3.21329C16.0197 3.21329 16.4462 2.78675 16.4462 2.26068V0.952614C16.4462 0.426543 16.0197 0 15.4936 0C14.9676 0 14.541 0.426543 14.541 0.952614V2.26068C14.541 2.78675 14.9676 3.21329 15.4936 3.21329Z" />
                                        <path
                                            d="M20.4548 4.54985C20.6112 4.63516 20.7676 4.67781 20.9382 4.67781C21.2652 4.67781 21.5922 4.50719 21.7629 4.1944L22.4169 3.05695C22.687 2.60197 22.5306 2.01902 22.0614 1.74888C21.6065 1.47874 21.0235 1.63513 20.7534 2.10433L20.0993 3.24178C19.8434 3.69676 19.9998 4.2797 20.4548 4.54985Z" />
                                        <path
                                            d="M26.8691 6.56881C26.5989 6.11383 26.016 5.95743 25.561 6.21335L24.4235 6.86739C23.9686 7.13753 23.8122 7.72047 24.0681 8.17545C24.2387 8.48825 24.5657 8.65887 24.8927 8.65887C25.0491 8.65887 25.2198 8.61622 25.3619 8.53091L26.4994 7.87687C26.9828 7.60673 27.1392 7.02379 26.8691 6.56881Z" />
                                        <path
                                            d="M6.0948 8.63041C6.42182 8.63041 6.74884 8.45979 6.91945 8.16121C7.1896 7.70623 7.0332 7.12329 6.57822 6.85314L5.44077 6.19911C4.98579 5.92896 4.40285 6.08536 4.1327 6.54034C3.86256 6.99532 4.01896 7.57827 4.47394 7.84841L5.61139 8.50244C5.76779 8.58775 5.92419 8.63041 6.0948 8.63041Z" />
                                        <path
                                            d="M9.25001 4.18011C9.42063 4.49291 9.74765 4.66353 10.0747 4.66353C10.2311 4.66353 10.4017 4.62087 10.5439 4.53556C10.9988 4.27964 11.1552 3.69669 10.8993 3.2275L10.2453 2.09005C9.98936 1.63507 9.40641 1.47867 8.93721 1.73459C8.48223 1.99052 8.32584 2.57346 8.58176 3.04266L9.25001 4.18011Z" />
                                        <path
                                            d="M16.134 4.93374C15.7644 4.60672 15.2099 4.60672 14.8544 4.93374L5.52731 13.422C5.14343 13.7774 5.11499 14.3746 5.47044 14.7727C5.8259 15.1566 6.42306 15.185 6.82116 14.8295L15.5084 6.92428L24.1957 14.8295C24.3805 15.0002 24.608 15.0713 24.8355 15.0713C25.0914 15.0713 25.3474 14.9717 25.5464 14.7585C25.9019 14.3746 25.8734 13.7632 25.4896 13.4077L16.134 4.93374Z" />
                                        <path
                                            d="M22.857 15.9956C22.331 15.9956 21.9044 16.4221 21.9044 16.9482V18.9103H9.16499V16.9482C9.16499 16.4221 8.73845 15.9956 8.21238 15.9956C7.68631 15.9956 7.25977 16.4221 7.25977 16.9482V19.8629C7.25977 20.389 7.68631 20.8155 8.21238 20.8155H22.8713C23.3973 20.8155 23.8239 20.389 23.8239 19.8629V16.9482C23.8097 16.4221 23.3831 15.9956 22.857 15.9956Z" />
                                    </g>
                                    <defs>
                                        <filter id="filter0_d5" x="0" y="0" width="31.0007" height="28.8155"
                                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                            <feColorMatrix in="SourceAlpha" type="matrix"
                                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                            <feOffset dy="4" />
                                            <feGaussianBlur stdDeviation="2" />
                                            <feColorMatrix type="matrix"
                                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                            <feBlend mode="normal" in2="BackgroundImageFix"
                                                result="effect1_dropShadow" />
                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow"
                                                result="shape" />
                                        </filter>
                                    </defs>
                                </svg></i>


                            <span class="homeText">Mi
                                Hogar</span>

                        </a>
                    </li>
                    <!-- BARRA 3 -->
                    <li id="barra3" class="headerBarStyle">
                        <i>
                            <svg width="2" height="38" viewBox="0 0 2 38" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <line x1="1" y1="38" x2="1" stroke="#F4F8F8" stroke-width="2" />
                            </svg>
                        </i>
                    </li>
                    <!-- CARRITO -->
                    <li id="carrito" class="headerListStyle">
                        <a href="https://www.intelihogar.com/#!/carrito" id="showWindowsBuyResumeDesktop" class="black-text withoutHover noOutline"
                            ng-click="manageColors('buyResume');">
                            <svg class="ih-icon-top-separator carSvg iconSeparator" xmlns="http://www.w3.org/2000/svg"
                                width="31" height="29" viewBox="0 0 32 30" fill="#AAAAAA">
                                <g>
                                    <path
                                        d="M11.7325 14.0626H11.7336C11.7345 14.0626 11.7354 14.0624 11.7363 14.0624H24.4842C24.7981 14.0624 25.074 13.8542 25.1603 13.5525L27.9727 3.70878C28.0334 3.49656 27.9909 3.26841 27.8581 3.09227C27.7252 2.91612 27.5174 2.81248 27.2967 2.81248H10.1109L9.6083 0.550595C9.53671 0.22888 9.25143 0 8.92184 0H4.70312C4.31476 0 4 0.314756 4 0.703121C4 1.09148 4.31476 1.40624 4.70312 1.40624H8.35788C8.44687 1.80706 10.7631 12.2305 10.8964 12.8301C10.1492 13.1549 9.62496 13.9 9.62496 14.7655C9.62496 15.9286 10.5712 16.8749 11.7343 16.8749H24.4842C24.8726 16.8749 25.1874 16.5601 25.1874 16.1718C25.1874 15.7834 24.8726 15.4687 24.4842 15.4687H11.7343C11.3467 15.4687 11.0312 15.1532 11.0312 14.7655C11.0312 14.3784 11.3456 14.0635 11.7325 14.0626ZM26.3645 4.21872L23.9538 12.6562H12.2983L10.4233 4.21872H26.3645Z" />
                                    <path
                                        d="M11.0312 18.9844C11.0312 20.1474 11.9775 21.0937 13.1406 21.0937C14.3037 21.0937 15.25 20.1474 15.25 18.9844C15.25 17.8213 14.3037 16.875 13.1406 16.875C11.9775 16.875 11.0312 17.8213 11.0312 18.9844ZM13.1406 18.2812C13.5282 18.2812 13.8437 18.5967 13.8437 18.9844C13.8437 19.372 13.5282 19.6875 13.1406 19.6875C12.753 19.6875 12.4375 19.372 12.4375 18.9844C12.4375 18.5967 12.753 18.2812 13.1406 18.2812Z" />
                                    <path
                                        d="M20.9688 18.9844C20.9688 20.1474 21.915 21.0937 23.0781 21.0937C24.2412 21.0937 25.1875 20.1474 25.1875 18.9844C25.1875 17.8213 24.2412 16.875 23.0781 16.875C21.915 16.875 20.9688 17.8213 20.9688 18.9844ZM23.0781 18.2812C23.4657 18.2812 23.7812 18.5967 23.7812 18.9844C23.7812 19.372 23.4657 19.6875 23.0781 19.6875C22.6905 19.6875 22.375 19.372 22.375 18.9844C22.375 18.5967 22.6905 18.2812 23.0781 18.2812Z" />
                                </g>
                                <defs>
                                    <filter id="filter0_d6" x="0" y="0" width="31.9998" height="29.0937"
                                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                        <feColorMatrix in="SourceAlpha" type="matrix"
                                            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                        <feOffset dy="4" />
                                        <feGaussianBlur stdDeviation="2" />
                                        <feColorMatrix type="matrix"
                                            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow"
                                            result="shape" />
                                    </filter>
                                </defs>
                            </svg>
                            <span class="carText">Carrito</span>
                            <div id="carProductsQuantityDesktop" class="hide-on-small-only ih-car-indicator">
                                {{differentProductsQuantity}}
                            </div>
                        </a>
                    </li>
                    <!-- BARRA 4 -->
                    <li id="barra4" class="headerBarStyle">
                        <i>
                            <svg width="2" height="38" viewBox="0 0 2 38" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <line x1="1" y1="38" x2="1" stroke="#F4F8F8" stroke-width="2" />
                            </svg>
                        </i>
                    </li>

                </ul>
            </div>
            <div class="col s2">
                <a class="black-text withoutHover myProfileContainer noOutline" 
                    id="showWindowsUserAccountDesktop" ng-click="manageColors('userAccount');">
                    <img id="switchNavigationUserAccountDesktopIMG" [hidden]="!user.userImage"
                        class="circle ih-loggedUserImage-desk" [src]="user.userImage" alt="profile">
    
                    <span [hidden]="!user.userImage" class="ih-tu-perfil-text myProfile myProfileText">+Info</span>
                    <span [hidden]="user.userMail" class="loginText">Acceder</span>
                    <i [hidden]="user.userImage"
                        class="personIconStyle material-icons center-align">person</i>
                </a>
    
            </div>

        </div>
       
    </nav>

    <ion-content  [scrollEvents]="true" (ionScroll)="scrollEvent($event)"id="background-content" class="ion-padding ionContentStyle">

        <div class="centerContent content">
        
            <ion-list lines="none" class="content ionListContent">
                <div >                 
                    <div class="centerContent fullWidth cursorPointer">
                        <div (change)="savePhoto($event)"> 
                       <div class="slide-up four col">
                            <div class="box"  (click)="openInputFile()">
                              <img id="myImg" class="userAvatar"  src="{{user.userImage}}" >    
                              <input id="inputImg" style="display: none;" type='file' onclick="this.value=null" accept=".png, .jpfg, .webp, .jpeg"  />
                        
                              <div class="overlay">
                                <ion-icon name="create" style="font-size: 20px; padding: 23px 20px 20px 23px;" ></ion-icon>
                                
                              </div>
                            </div>
                          </div>

                        </div>
                        
                    </div>
                    <div class="centerContent fullWidth cursorPointer">
                        <div class="userAccessLevel">
                            <ion-label class="userAccessLevel2">{{(accessLevel == 1) ? "Dueño" :(accessLevel == 2) ? "Usuario" :(accessLevel == 3) ? "Menor" : (accessLevel == 4) ? "Invitado" : "¿?"}}</ion-label>
                        </div>
                    </div>
                </div>
    
                <ion-item>
                    <div class="centerContent fullWidth">
                        <ion-label class="welcomeUser">¡Hola {{user.userName}}!</ion-label>
                        <ion-icon slot="end" class="cardIcon" name="create-outline" (click)="editUserInfo('name')">
                        </ion-icon>
                    </div>
                </ion-item>
    
                <ion-item-divider class="lineDivider">
                </ion-item-divider>
                <ion-card style="box-shadow: none; margin-top: 7%; ">
                    <ion-label class="personalInfoText">Información personal</ion-label>
                    <ion-item style="display: flex;">
                        <ion-icon class="emailIcon" name="mail-outline"></ion-icon>
                        <ion-label class="emailIconText" style="flex-grow: 1;">Email:</ion-label>
                        <ion-label class="emailText" style="flex-grow: 4;">{{user.userMail}}</ion-label>
                        <!--ion-icon *ngIf="user.provider == 'password'" class="cardIcon" name="create-outline" (click)="editUserInfo('email')"></--ion-icon-->
                    </ion-item>
                    <ion-item style="display: flex;">
                        <ion-icon class="emailIcon" name="lock-closed-outline"></ion-icon>
                        <ion-label class="emailIconText" style="flex-grow: 1;">Clave:</ion-label>
                        <ion-label class="emailText" style="flex-grow: 4; text-decoration-line: none;">*********</ion-label>
                        <ion-icon *ngIf="user.provider == 'password'" class="cardIcon" name="create-outline"
                            (click)="editUserInfo('password')"></ion-icon>
                    </ion-item>
                     <ion-item style="display: flex;">
                        <ion-icon class="emailIcon" name="call-outline"></ion-icon>
                        <ion-label class="emailIconText" style="flex-grow: 1;">Telefono:</ion-label>
                        <ion-label class="emailText" style="flex-grow: 4; text-decoration-line: none;">
                            {{(user.userPhone) ? 'user.userPhone' : ''}}</ion-label>
                        <ion-icon class="cardIcon" name="create-outline" (click)="editUserInfo('mainPhone')"></ion-icon>
                    </ion-item> 
                    <ion-item>
                        <ion-label  class="emailIconText"> Verificacion en dos pasos</ion-label>
                    <ion-toggle id="2faToggle" [(ngModel)]="state" (click)="smsAuth()"  ></ion-toggle>
                    <ion-button id="signInButton" style="width: 200px; height: 200px;" (click)="smsAuth()">SIGN IN</ion-button>
                   
                </ion-item>
                 
                </ion-card>
    
                <div class="centerContent fullWidth" (click)="goToUserDevices(user.userMail);">
                    <ion-icon class="cardIcon" name="call-outline"></ion-icon>
                    <ion-label style="margin-left: 10px;" class="emailIconText">Ver mis dispositivos móviles</ion-label>
                </div>
                <br>
                <br>
                <ion-label style="margin-left: calc(4% + 10px);" class="personalInfoText">Otras personas con acceso a este hogar</ion-label>
    
                <div  *ngFor="let user of allUserLocations; let i = index"
                [hidden]="user.locationId != selectedLocation.locationId || currentUser.userMail == user.userId">
                    <div class="otherUsersInfo">
                        <div class="otherUsersAvatarContainer">
                            <div class="centerContent">
                                <img class="otherUsersAvatar" [src]="user.photo ? user.photo : '../../assets/imgs/avatar_default.jpg'">
                            </div>
                            <div class="centerContent">
                                <div class="otherUsersAccessLevel">
                                    <ion-label class="otherUsersAccessLevel2">{{ user.accessLevel == '0' ? 'Instalador CIDTcor' : user.accessLevel == '1' ? 'Dueño' : user.accessLevel == '2' ? 'Usuario' : user.accessLevel == '3' ? 'Menor' : 'Invitado' }}</ion-label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <ion-label class="otherUsersName">{{user.userId}}</ion-label>
                            <!-- <div class="otherUsersEmailContainer">
                                <ion-icon class="otherUsersIcon" name="mail-outline"></ion-icon>
                                <ion-label class="otherUsersEmail">{{user.userId}}</ion-label>
                            </div> -->
                        </div>
    
                    </div>
    
                    <div class="otherUsersActionButtonsContainer">
                        <div class="otherUsersActionButtons">
                            <ion-icon class="cardIcon" name="call-outline" (click)="goToUserDevices(user.userId);" [ngClass]="{'disabled': accessLevel != 1}"></ion-icon>
                            <ion-label class="otherUsersActionButtonsLabel">Dispositivos</ion-label>
                        </div>
                        <div class="otherUsersActionButtons">
                            <ion-icon class="cardIcon" name="lock-closed-outline" (click)="changeUserAccessLevel(user);" [ngClass]="{'disabled': accessLevel != 1}"></ion-icon>
                            <ion-label class="otherUsersActionButtonsLabel">Nivel de acceso</ion-label>
                        </div>
                        <div class="otherUsersActionButtons">
                            <ion-icon class="cardIcon" name="trash-outline" (click)="deleteUser('generalModal', user, i);" [ngClass]="{'disabled': accessLevel != 1}"></ion-icon>
                            <ion-label class="otherUsersActionButtonsLabel">Eliminar</ion-label>
                        </div>
                    </div>
    
                    <div class="divDivider">
                    </div>
                </div>
    
                <ion-item class="inviteUsersButton" (click)="launchEditModal('invite')" [ngClass]="{'disabled': accessLevel != 1}">
                    <div slot="start" style="margin-right: 10px;">
                        <ion-icon style="font-size: 1.6em;" name="person-add-outline"></ion-icon>
                    </div>
                    <div>
                        <ion-label class="upgradeLocationTitle"><b>Invitar personas a este hogar</b></ion-label>
                    </div>
                    <div class="fullWidth">
                        <ion-icon class="floatRight" style="font-size: 1.6em;" name="chevron-forward-outline"></ion-icon>
                    </div>
                </ion-item>
    
                <ion-card style="" class="emergencyCall">
                    <ion-label class="personalInfoText">Más de {{selectedLocation.locationName}}</ion-label>
                    <br>
                    <br>
                    <ion-label class="emailIconText" style="margin-left: 4%">Teléfonos para emergencias:</ion-label>
    
                    <ion-item style="display: flex;">
                        <ion-icon class="emailIcon marginPhoneIcon" name="call-outline"></ion-icon>
                        <ion-label class="emailText" style="flex-grow: 4; text-decoration-line: none;">
                            {{selectedLocation.locationContacts.split(',')[0] ? selectedLocation.locationContacts.split(',')[0] : '¿Añadir?'}}</ion-label>
                        <ion-icon class="cardIcon" name="create-outline" (click)="editUserInfo('phone1')"></ion-icon>
                    </ion-item>
    
                    <ion-item style="display: flex;">
                        <ion-icon class="emailIcon marginPhoneIcon" name="call-outline"></ion-icon>
                        <ion-label class="emailText" style="flex-grow: 4; text-decoration-line: none;">
                            {{selectedLocation.locationContacts.split(',')[1] ? selectedLocation.locationContacts.split(',')[1] : '¿Añadir?'}}</ion-label>
                        <ion-icon class="cardIcon" name="create-outline" (click)="editUserInfo('phone2')"></ion-icon>
                    </ion-item>
                </ion-card>
    
                <ion-item class="upgradeLocationButton" (click)="goToStoreWebPage()">
                    <div slot="start" style="margin: 2% 10px 0 0;">
                        <i class="icon-shop upgradeLocationIcon"></i>
                    </div>
                    <div class="fullWidth alignCenter">
                        <ion-label class="upgradeLocationTitle"><b>Mejorar {{selectedLocation.locationName}}</b></ion-label>
                    </div>
                    <div>
                        <ion-icon class="floatRight" style="font-size: 1.6em;" name="chevron-forward-outline"></ion-icon>
                    </div>
                </ion-item>
    
                <ion-item class="subscriptionButton" (click)="goToSubscriptionPage()">
                    <div class="centerSubscriptionButton" slot="start">
                        <i class=" blueColor" style="margin-left: -10px; font-size: 1.4em;" [ngClass]="'icon-' + (selectedLocation.locationPlan == '10000000' ? 'subsFree'
                                        : selectedLocation.locationPlan == '10000199' || selectedLocation.locationPlan == '10000249' || selectedLocation.locationPlan == '20001990' || selectedLocation.locationPlan == '20002490' ? 'subsBasic'
                                        : selectedLocation.locationPlan == '10000349' || selectedLocation.locationPlan == '10000399' || selectedLocation.locationPlan == '20003490' || selectedLocation.locationPlan == '20003990' ? 'subsTotal'
                                        : 'subsPro')">
                        </i>
                    </div>
                    <div class="centerSubscriptionButton fullWidth">
                        <ion-label style="white-space: break-spaces;" class="accessLocationTitle blueColor">
                            <b>{{(locations.locationPlan == '10000000' ? 'Plan Gratis'
                                : locations.locationPlan == '10000199' ? 'Energía Basica'
                                : locations.locationPlan == '10000249' ? 'Seguridad
                                Basica'
                                : locations.locationPlan == '10000349' ? 'Seguridad Total'
                                : locations.locationPlan == '10000299' ? 'Energía Total'
                                : locations.locationPlan == '10000399' ? 'Basic Pro'
                                : 'Smart Pro')}}</b>
                                <b class="redColor" *ngIf="!locations.subscriptionData"><br>{{'sin Mantenimiento'}}</b>
                                <b *ngIf="locations.subscriptionData">{{' + Mantenimiento'}}</b>
                               
                        </ion-label>
                        <ion-label class="subscriptionSubtitle">{{locations.totalPlanPrice+' / Mes'}}</ion-label>
                    </div>
    
                    <div class="centerSubscriptionButton modifySubscriptionTextContainer">
                        <ion-label class="modifySubscriptionText">Modificar</ion-label>
                        <ion-label class="modifySubscriptionText">suscripción</ion-label>
                    </div>
                    <div class="centerSubscriptionButton" slot="end">
                        <ion-icon class="blueColor" style="font-size: 1.6em;" name="chevron-forward-outline"></ion-icon>
                    </div>
                </ion-item>
    
                <ion-item class="changeLocationName" (click)="launchEditModal('changeName')">
                    <div slot="start" style="margin: 2% 10px 0 0;">
                        <ion-icon class="upgradeLocationIcon" name="pencil-outline"></ion-icon>
                    </div>
                    <div class="fullWidth alignCenter">
                        <ion-label class="upgradeLocationTitle"><b>Cambiar nombre de este hogar</b></ion-label>
                    </div>
                    <div>
                        <ion-icon class="floatRight" style="font-size: 1.6em;" name="chevron-forward-outline"></ion-icon>
                    </div>
                </ion-item>
    
                <div class="centerContent marginLogoutButton">
                    <ion-item class="transparent fullWidth">
                        <button class="logoutButton" (click)="logout()">
                            <ion-label style="font-weight: 600; font-size: 14px;">Cerrar sesión</ion-label>
                        </button>
                    </ion-item>
                </div>
            </ion-list>
    
        </div>
       
        <footer class=" hide-on-small-only userProfileFooterStyle" id="userProfileFooter">
            <ion-tabs>
                <ion-tab-bar id="userProfileTabStyle" class="userTabStyle" slot="bottom">
                    <ion-tab-button class= "colorSelectedFav" href="/hometabs/favorites">
                        <!-- <ion-icon name="star"></ion-icon> -->
                        <img class="tabsImageMargin" src="../../../assets/imgs/favoritesIcon.png" alt="favorites">
                        <ion-label>Favoritos</ion-label>
                    </ion-tab-button>
                    <div class="verticalLine"></div>
                    <ion-tab-button class= "colorSelectedConf"  href="/hometabs/confort">
                        <!-- <ion-icon name="apps"></ion-icon> -->
                        <img class="tabsImageMargin" src="../../../assets/imgs/confortIcon.png" alt="confort">
                        <ion-label>Confort</ion-label>
                    </ion-tab-button>
                    <div class="verticalLine"></div>
                    <ion-tab-button class= "colorSelectedSec" href="/hometabs/security">
                        <!-- <ion-icon name="lock-closed"></ion-icon> -->
                        <img class="tabsImageMargin" src="../../../assets/imgs/securityIcon.png" alt="security">
                        <ion-label>Seguridad</ion-label>
                    </ion-tab-button>
                    <div class="verticalLine"></div>
                    <ion-tab-button class= "colorSelectedEnerg" href="hometabs/energy-saving">
                        <!-- <ion-icon name="leaf"></ion-icon> -->
                        <img class="tabsImageMargin" src="../../../assets/imgs/energyIcon.png" alt="energy">
                        <ion-label>Energía</ion-label>
                    </ion-tab-button>
                    <!-- <ion-tab-button tab="user-profile" style="display: none">
                <img [src]="user.userImage" alt="actualUserImage" class="tabsImage">
                </ion-tab-button> -->
                 
                </ion-tab-bar>
                <div class="container">
                    <div class="row noMarginBottom">
                        <div class="col s6 m3">
                            <ul>
                                <li>
                                    <img loading="lazy" src="../../../assets/imgs/landingPageIcons/help.webp"
                                        class="ih-16-x-16-user marginBottom" alt="Ayuda">
                                    <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/preguntasFrecuentes"
                                        ng-click="manageColors('default')">Preguntas
                                        Frecuentes</a>
                                </li>
                                <li>
                                    <img loading="lazy" src="../../../assets/imgs/landingPageIcons/comments.webp" class="ih-16-x-16"
                                        alt="Blog">
                                    <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/inicioBlog"
                                        ng-click="manageColors('default')">Blog</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col s6 m3">
                            <ul>
                                <li>
                                    <img loading="lazy" src="../../../assets/imgs/landingPageIcons/lock.webp"
                                        class="ih-16-x-16-user marginBottom" alt="Políticas de privacidad">
                                    <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/politicasDePrivacidad"
                                        ng-click="manageColors('default')">Política de
                                        Privacidad</a>
                                </li>
                                <li>
                                    <img loading="lazy" src="../../../assets/imgs/landingPageIcons/document.webp" class="ih-16-x-16"
                                        alt="ToS">
                                    <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/terminosCondiciones"
                                        ng-click="manageColors('default')">Términos y
                                        Condiciones</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col s6 m3">
                            <ul>
                                <li>
                                    <img loading="lazy" src="../../../assets/imgs/landingPageIcons/facebook.webp"
                                        class="ih-16-x-16-user marginBottomF" alt="Facebook">
                                    <a class="footerFonts blackColorText cursorPointer" ng-click="goToFacebook();">Siguenos
                                        en
                                        Facebook </a>
                                </li>
                                <li>
                                    <a class="footerFonts callTextIcon" href="https://www.intelihogar.com/#!/contactanos" ng-click="manageColors('default')">
                                        <i class="material-icons callIcon">call</i> Contáctanos
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col s6 m3">
                            <ul>
                                <li class="ih-footer-logo-margin">
                                    <img src="../../../assets/imgs/inteliLogo-img.webp" alt="InteliHogar" class="ih-60-x-60-casa footerImageProfile">
                                    <img src="../../../assets/imgs/inteliLogo-name.webp" alt="InteliHogar" class="ih-image-inteli-desk">
                                </li>
                                <li class="ih-footer-rm-margin">
                                    <span class="footerFonts footerFontsStyle">InteliHogar
                                        2015-2021</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ion-tabs>
           <ion-tab-bar id="secondTab" class="secondTabStyle" slot="bottom">
    <ion-tab-button class= "colorSelectedFav" href="/hometabs/favorites">
        <!-- <ion-icon name="star"></ion-icon> -->
        <img class="tabsImageMargin" src="../../../assets/imgs/favoritesIcon.png" alt="favorites">
        <ion-label>Favoritos</ion-label>
    </ion-tab-button>
    <div class="verticalLine"></div>
    <ion-tab-button class= "colorSelectedConf"  href="/hometabs/confort">
        <!-- <ion-icon name="apps"></ion-icon> -->
        <img class="tabsImageMargin" src="../../../assets/imgs/confortIcon.png" alt="confort">
        <ion-label>Confort</ion-label>
    </ion-tab-button>
    <div class="verticalLine"></div>
    <ion-tab-button class= "colorSelectedSec" href="/hometabs/security">
        <!-- <ion-icon name="lock-closed"></ion-icon> -->
        <img class="tabsImageMargin" src="../../../assets/imgs/securityIcon.png" alt="security">
        <ion-label>Seguridad</ion-label>
    </ion-tab-button>
    <div class="verticalLine"></div>
    <ion-tab-button class= "colorSelectedEnerg" href="hometabs/energy-saving">
        <!-- <ion-icon name="leaf"></ion-icon> -->
        <img class="tabsImageMargin" src="../../../assets/imgs/energyIcon.png" alt="energy">
        <ion-label>Energía</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="user-profile" style="display: none">
<img [src]="user.userImage" alt="actualUserImage" class="tabsImage">
</ion-tab-button> -->

</ion-tab-bar>
        </footer>
       
        
<ion-tab-bar class="tabContent">
    <ion-tab-button class="tabItem" (click)="openStore('store')">
        <img src="../../../assets/imgs/shop.png" alt="shop">
        <ion-label>Tienda</ion-label>
    </ion-tab-button>
    <ion-tab-button class="tabItem selectedTab">
        <img src="../../../assets/imgs/favoritesIcon.png" alt="home">
        <ion-label>Mi hogar</ion-label>
    </ion-tab-button>
    <ion-tab-button class="tabItem" (click)="openStore('cart')">
        <img src="../../../assets/imgs/cart.png" alt="cart">
        <ion-label>Carrito</ion-label>
    </ion-tab-button>
</ion-tab-bar>



