#background-content {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    --background: #F4F8F8;
}

.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background: #ffffff;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.selectedTab {
    --color: #3F75FF;
    font-weight: bold;
}
.tabItem img {
    height: 30%;
}
.myProfileText{
    position: relative;
    top: 26px;
    right: 40px;
    font-size: 16px !important;
    font-family: Montserrat;
    color: #aaaaaa;
    font-weight: 100;
}
@media only screen and (min-width: 600px){
    .secondTabStyleMobile{
        display: none;
    }

}
@media only screen and (max-width: 600px) {
.tabContent {
    display: flex;
    margin: 0;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 30px 30px 0px 0px;
    height: 75px;
    width: 101vw;
    transform: translate(-11%, 21%);
}
.secondTabStyleMobile{
    position:fixed;
    box-shadow: 0px -2px 4px grey !important;
    border-radius: 30px 30px 0 0;
    height: 75px;
   // --color-selected: red;
    width: 100%;
    left: 50%;
    bottom: -40px; //antes72px
    transform: translate(-50%, -50%);
}
.logoutButton {
    width:100% !important;
    margin-left: 0px !important;
}
.emergencyCall{
    width: 100% !important;
}
.otherUsersActionButtonsContainer {
    margin-left: -18vw !important;
    margin-right: -20vw !important;
}
.inviteUsersButton {
    width: 98% !important;
    margin: 5% 0 10px 0% !important;
}
.upgradeLocationButton{
    width: 98% !important;
    margin-left: 1% !important;
}
.subscriptionButton{
    width: 98% !important;
    margin-left: 1% !important; 
}
.changeLocationName{
    width: 98% !important;
    margin-left: 1% !important; 
}
.logoutButton{
    width: 83% !important;
    margin-left: -14px !important;
    position: fixed;
}
}

@media only screen and (min-width: 601px) {
    .tabContent {
        display: none !important;
    }
}

.fullWidth {
    width: 100%;
}

.alignCenter {
    text-align: center;
}

.subscriptionButton {
    --background: #ffffff;
    border-radius: 10px;
    border: 0.5px solid #3F75FF;
    width: 90%;
    color: #8B8B8B;
    margin-left: 5%;
    margin-top: 5px;
    cursor: pointer;
}

.centerSubscriptionButton {
    margin: 0 0 0 5px;
}

.blueColor {
    color: #3F75FF;
}

.accessLocationTitle {
    font-weight: 600;
    font-size: 0.8rem;
}

.subscriptionSubtitle {
    font-size: 0.6rem;
}

.modifySubscriptionTextContainer {
    width: 100%;
}

.modifySubscriptionText {
    font-weight: 500;
    font-size: 0.7rem;
    width: auto;
    white-space: break-spaces;
    text-align: end;
}

.userAvatar {
    width: 72px !important;
    height: 72px !important;
    border-radius: 50%;
    object-fit: cover;
}

.otherUsersInfo {
    display: flex;
    margin-top: 7%;
}

.otherUsersAvatarContainer {
    width: 25%;
}

.otherUsersAvatar {
    width: 50px !important; 
    height: 50px !important;  
    border-radius: 50%;
    object-fit: cover;
}

.otherUsersName {
    color: #3F75FF;
    font-size: 13px;
    font-weight: bold;
}

.otherUsersEmailContainer {
    display: flex;
}

.otherUsersIcon {
    color: #3F75FF;
}

.otherUsersEmail {
    color: #000000;
    text-decoration-line: underline;
    font-size: 12px;
    font-weight: bold;
    margin-left: 7px;
}

.otherUsersAccessLevel {
    margin-top: -7%;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.otherUsersAccessLevel2 {
    background: linear-gradient(90deg, #FF8D3B 0%, #F14336 100%);
    padding: 0 5%;
    border-radius: 10px;
}

.userAccessLevel {
    margin-top: -2%;
    color: #ffffff;
    font-size: 13px;
    width: 35%;
    text-align: center;
    font-weight: bold;
    position: sticky;
}

.userAccessLevel2 {
    background: linear-gradient(90deg, #FF8D3B 0%, #F14336 100%);
    padding: 0 6%;
    border-radius: 10px;
}

.otherUsersActionButtonsContainer {
    display: flex;
    justify-content: space-evenly; 
    margin-top: 4%;
    padding: 0 2%;
}

.otherUsersActionButtonsLabel {
    font-size: 12px;
    color: #717171;
}

.otherUsersActionButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeUser {
    color: #3F75FF;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-right: 5px;
    margin-left: 20px;
}



.lineDivider {
    width: 94%;
    margin-left: 3%;
}

.divDivider {
    width: 94%;
    margin-left: 3%;
    margin-top: 1%;
    background: #D2D2D2;
    height: 1px;
}

.emailIcon {
    color: #3F75FF;
}

.emailIconText {
    color: #8B8B8B;
    font-weight: 500;
    font-size: 12px;
}

.emailText {
    color: #000000;
    text-decoration-line: underline;
    font-weight: 600;
    font-size: 13px;
}

.personalInfoText {
    font-weight: 600;
    font-size: 12px;
    color: #3F75FF;
    margin-left: 4%;
}



.marginLogoutButton {
    margin: 7% 0 0 0;
}

.inviteUsersButton {
    --background: #ffffff;
    border-radius: 10px;
    border: 0.5px solid #3F75FF;
    width: 90%;
    color: #3F75FF;
    margin: 5% 0 10px 5%;
    cursor:pointer;
}

.upgradeLocationButton {
    --background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    --border-radius: 10px;
    width: 90%;
    color: white;
    margin-left: 5%;
    margin-bottom: 10px;
    cursor:pointer;
}

.changeLocationName {
    --background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    --border-radius: 10px;
    width: 90%;
    color: white;
    margin-left: 5%;
    margin-bottom: 10%;
    margin-top: 10px;
    cursor:pointer;
}

.upgradeLocationTitle {
    font-weight: 600;
    font-size: 14px;
}

.upgradeLocationIcon {
    margin-left: -30%;
    font-size: 1.3em;
}

.floatRight {
    float: right;
}

.logoutButton {
    width: 94%;
    margin-left: 2%;
    height: 45px;
    background: linear-gradient(90deg, #E1004E 0%, #FFAF3B 100%);
    border-radius: 10px;
    color: white;
}
.footerImageProfile{
    width: 50px;
    position: relative;
    top: -2px;

}

.marginPhoneIcon {
    margin-right: 5%;
}

.transparent {
    --ion-item-background: transparent;
    color: white;
}


/////////////////////////
#profileAvatar {
    width: 30px !important;
    height: 30px !important;
    margin-left: 16px;
    margin-right: -16px;
    border: 1px solid #2AD8DA;
    border-radius: 50%;
    top: -10%;
    position: absolute;

    img {
        border-radius: 50%;
    }
}

.myProfileCaption {
    font-size: 10px;
    width: 45px;
    margin-left: -4px;
    font-weight: bold;
    color: #3F75FF;
}


.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.transparent {
    --ion-item-background: transparent;
    color: white;
}

.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-info-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    color: white;

    #image-container {
        position: relative;
        left: calc(50% - 60px);
        width: 120px;
        height: 120px;

        img {
            border-radius: 50%;
            object-fit: cover;
            width: 120px !important;
            height: 120px !important;
        }
    }

    #locationUserImage-container {
        // position: fixed;
        width: 40px;
        height: 40px;

        img {
            border-radius: 50%;
            width: 40px !important;
            height: 40px !important;
        }
    }

    .profile-section {
        background: transparent;

        ion-item-divider {
            background: none;
            font-size: 1.4em;
            color: #858585;
        }

        ion-item {
            background: transparent;
            color: white;
            font-size: 1.5em;

            ion-icon {
                color: #cdd3de;
            }
        }

        .email-item {
            color: #b6b7b8 !important;
        }

        .item-button {
            background: transparent;
            color: white;
            padding-left: 0px;

            ion-label {
                font-size: 1.5em;
            }
        }
    }

    .locationUser-section {
        background: transparent;

        ion-item-divider {
            background: none;
            font-size: 1.4em;
            color: #858585;
        }

        ion-item {
            background: transparent;
            color: white;
            font-size: 1.5em;

            ion-icon {
                color: #cdd3de;
            }
        }

        .email-item {
            color: #b6b7b8 !important;
        }

        .item-button {
            background: transparent;
            color: white;
            padding-left: 0px;

            ion-label {
                font-size: 1.5em;
            }
        }
    }

    p {
        color: white;
    }
}

.access-level {
    position: relative;
    margin-top: 16px;
    // left: calc(50% - 60px);
    width: auto !important;
    color: white;
    font-size: 1.5em;
    text-align: center;
    background-color: #3e67b3;
}

.no-access-level {
    position: relative;
    margin-top: 16px;
    // left: calc(50% - 65px);
    width: 130px !important;
    color: white;
    font-size: 1.5em;
    text-align: center;
    background-color: #3e67b3;

    ion-icon {
        font-size: 1.2em;
    }
}

.devicesInfo {
    font-size: 14px;
    padding-bottom: 5px;
}

.input-wrapper {
    padding-bottom: 10px !important;
}

.disabled {
    pointer-events: none;
    background: #717171;
    --background: #717171;
    color: #ffffffaa;
    border: 0.5px solid #717171;
}
.userProfileFooterStyle{
        position: absolute;
        padding-top: 10px !important;
        //padding-left: 5%;
        width: 100%;
        background: #fff;
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
        height: 61px;
        margin-top: 10%;
        right:0vw;
}
.userTabStyle{
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 30px 30px 0 0;
    height: 75px;
   // --color-selected: red;
    width: 37vw;
    left: 49.50%;
    position: fixed;
    bottom: 33px; //antes72px
    transform: translate(-50%, -50%);

}
.myProfileContainer {
    outline: none;
    float: right;
}

.ih-tu-perfil-text-UserProf {
    position: relative;
    top: 16px;
    right: 27px;
    font-size: 16px !important;
    font-family: Montserrat;
    color: #aaaaaa;
    font-weight: 100;
    margin-right: 16px;
}
.ih-tu-perfil-plus{
    position: relative;
    top: 18px;
    right: 70px;
    font-size: 22px !important;
    font-family: Montserrat;
    color: #aaaaaa;
    font-weight: 100;
}
.secondTabStyle{
    position:fixed;
    box-shadow: 0px -2px 4px grey !important;
    border-radius: 30px 30px 0 0;
    height: 75px;
   // --color-selected: red;
    width: 37vw;
    left: 48.8%;
    bottom: -36px; //antes72px
    transform: translate(-50%, -50%);

}
.userFooterStyle{
    position: absolute;
    left:0vw;
    padding-top: 10px !important;
    //padding-left: 5%;
    width: 100%;
    background: #fff!important;
    box-shadow: -2px -2px 6px grey;
    height: 61px;
    margin-top: 10%;
    
}
.redColor {
    color: #ff0000;
}
    .callTextIcon{
    color: #000000;
    font-size: 9px;
    position: absolute;
    top: 44px;
}
.emergencyCall{
    box-shadow: none;
    margin-top: 7%; 
    width: 37%;
}

.ih-16-x-16-user {
    width: 16px !important;
    height: 16px !important;
    border-radius: 0px 0px 0px 0px !important;
    right: 2px;
    bottom: 2px;
    position: relative;
}

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table; 
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/* GENERAL STYLES FOR BOX AND OVERLAY */

.box {
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.overlay{
  
  width: 100%;
  height:100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  
}
/* SLIDE UP */
.slide-up .overlay{
    background-color: #3dcbe8;
  
    width: 72px !important;
    height: 72px !important;
    border-radius: 50%;

    color: #fff;
    transform: translateY(100%);
    -webkit-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
  }
  
  .slide-up .box:hover .overlay{
    transform: translateY(0);
  }
  
  