.contenido{
    --background: url(../../../assets/imgs/background.png) 0 0/100% 100% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.item-button {
    background: transparent;
    // color: white;
    padding-left: 0px;

    ion-label {
        font-size: 1.5em;
    }
}