<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="publishSavedConfigEvent()">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Configuraciones</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="contenido">
  <ion-card class="transparentar">

    <ion-list no-lines>

      <!--ACCESOS DIRECTOS-->
      <ion-item-group>
        <ion-item>
          <button class="item-button" ion-item (click)="showInputDevicesAlert('shortcuts')">
            <h2>
              <ion-icon name="apps-outline"></ion-icon>&nbsp;&nbsp;Favoritos
            </h2>
          </button>
        </ion-item>

        <!--ESCENAS-->
        <ion-item style="display: none">
          <button class="item-button" ion-item (click)="openSceneOptions()">
            <h2>
              <ion-icon name="copy-outline"></ion-icon>&nbsp;&nbsp;Escenas
            </h2>
          </button>
        </ion-item>
        <ion-item [ngStyle]="{'display': (showSceneOpt) ? 'block' : 'none'}">
          <button class="item-button" ion-item>
            <h3>&nbsp;&nbsp;<ion-icon name="add-circle-outline"></ion-icon>&nbsp;&nbsp;Crear escena</h3>
          </button>
        </ion-item>
        <ion-item [ngStyle]="{'display': (showSceneOpt) ? 'block' : 'none'}">
          <button class="item-button" ion-item>
            <h3>&nbsp;&nbsp;<ion-icon name="remove-circle-outline"></ion-icon>&nbsp;&nbsp;Eliminar escena</h3>
          </button>
        </ion-item>

        <!--RUTINAS-->
        <ion-item style="display: none">
          <button class="item-button" ion-item (click)="openRoutineOptions()">
            <h2>
              <ion-icon name="repeat-outline"></ion-icon>&nbsp;&nbsp;Rutinas
            </h2>
          </button>
        </ion-item>
        <!-- <ion-item [ngStyle]="{'display': (showRoutOpt) ? 'block' : 'none'}">
          <button class="item-button" ion-item (click)="createRoutine()">
            <h3>&nbsp;&nbsp;<ion-icon name="add-circle-outline"></ion-icon>&nbsp;&nbsp;Crear rutina</h3>
          </button>
        </ion-item> -->
        <!-- <ion-item [ngStyle]="{'display': (showRoutOpt) ? 'block' : 'none'}">
          <button class="item-button" ion-item (click)="deleteRoutine()">
            <h3>&nbsp;&nbsp;<ion-icon name="remove-circle-outline"></ion-icon>&nbsp;&nbsp;Eliminar rutina</h3>
          </button>
        </ion-item> -->

        <!--HABITACIONES-->
        <ion-item>
          <button class="item-button" ion-item (click)="openRoomOptions()">
            <h2>
              <ion-icon name="albums-outline"></ion-icon>&nbsp;&nbsp;Habitaciones
            </h2>
          </button>
        </ion-item>
        <ion-item [ngStyle]="{'display': (showRoomOpt) ? 'block' : 'none'}">
          <button class="item-button" ion-item (click)="showRoomOrderWindow()">
            <h3>&nbsp;&nbsp;<ion-icon name="home"></ion-icon>&nbsp;&nbsp;Ordenar habitaciones</h3>
          </button>
        </ion-item>
        <ion-item [ngStyle]="{'display': (showRoomOpt) ? 'block' : 'none'}">
          <button class="item-button" ion-item (click)="showRoomNamePrompt()">
            <h3>&nbsp;&nbsp;<ion-icon name="add-circle-outline"></ion-icon>&nbsp;&nbsp;Agregar habitación</h3>
          </button>
        </ion-item>
        <ion-item [ngStyle]="{'display': (showRoomOpt) ? 'block' : 'none'}">
          <button class="item-button" ion-item (click)="showInputDevicesAlert('deleteRoom')">
            <h3>&nbsp;&nbsp;<ion-icon name="remove-circle-outline"></ion-icon>&nbsp;&nbsp;Eliminar habitación</h3>
          </button>
        </ion-item>

        <!--NOTIFICACIONES-->
        <ion-item>
          <button class="item-button" ion-item (click)="showInputDevicesAlert('notifications')">
            <h2>
              <ion-icon name="notifications-outline"></ion-icon>&nbsp;&nbsp;Notificaciones
            </h2>
          </button>
        </ion-item>
        <!--DISPOSITIVOS OCULTOS-->
        <ion-item>
          <button class="item-button" ion-item (click)="showInputDevicesAlert('hiddenDevices')">
            <h2>
              <ion-icon name="eye-off-outline"></ion-icon>&nbsp;&nbsp;Dispositivos ocultos
            </h2>
          </button>
        </ion-item>

      </ion-item-group>

    </ion-list>
  </ion-card>

</ion-content>