<ion-header>
  <ion-toolbar text-center>
      <ion-title>
          <img src="../../assets/imgs/inteliApps/inteliAppsGeneral-on.png" height="20px" width="20px">&nbsp;&nbsp;
          InteliHogar
      </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
<p class="createAccountText">Crear una cuenta InteliHogar</p>
<!-- <img src="../../assets/imgs/intelihogar_general.png" alt="ih_general"> -->
  <p class="acceptText">Pulse los vínculos a continuación y lea los términos atentamente. Si continúa, usted confirma que ha leído y acepta los siguientes términos.</p>
  <ion-item>
    <ion-label><a href="https://www.intelihogar.com/#!/terminosCondiciones">Términos y Condiciones.</a></ion-label>
    <ion-checkbox id="checkAcceptAllTos" (click)="checkAcceptAll('tos')"></ion-checkbox>
  </ion-item>
  <ion-item>
    <!-- <ion-label>Política de privacidad de InteliHogar.</ion-label> -->
    <ion-label><a href="https://www.intelihogar.com/#!/politicasDePrivacidad">Política de privacidad de InteliHogar.</a></ion-label>
    <ion-checkbox id="checkAcceptAllPp" (click)="checkAcceptAll('pp')"></ion-checkbox>
  </ion-item>
  <br>
  <hr>
  <ion-item>
    <ion-label>Acepto todo.</ion-label>
    <ion-checkbox id="checkAcceptAllAccept" (click)="checkAcceptAll('accept')"></ion-checkbox>
  </ion-item>
<br>  
<br>
<br>
  <ion-button id="btnAcceptTerms" class="buttons accept" style="padding:0px !important" (click)="acceptTerms()" disabled>Acepto</ion-button>
  <button class="buttons" (click)="logout()">Rechazar</button>
</ion-content>

<!-- <ion-footer class="linksFooter">
  <a href="https://www.intelihogar.com/#!/terminosCondiciones" class="termsText">términos y condiciones.</a>
  <span class="copyrightText">© CIDTcor.</span>
  <a href="https://www.intelihogar.com/#!/politicasDePrivacidad" class="privacyText">políticas de privacidad.</a>
</ion-footer> -->
