#userOptions {
    font-size: 1.7em;
}

.createAccountText {
    font-size: 32px;
    text-align: center;
}

.acceptText {
    padding-left: 20px;
}

.buttons {
    width: 100%;
    margin-bottom: 10px;
    min-height: 3.125em;
    min-width: 180px;
    padding: .5em 1.5em;
    background: transparent;
    border: 1px solid #e1e1e1;
    border-radius: .5em;
    color: #000;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.2;
    letter-spacing: .01em;
    word-break: break-word;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
}

.accept {
    background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    color: rgb(255, 255, 255);
}

.termsText {
    float: left;
    height: 2px;
    width: 95px;
    margin-left: 65px;
}

.privacyText {
    float: right;
    height: 45px;
    width: 85px;
    left: -75px;
    position: relative;
}

.copyrightText {
    position: relative;
    top: 50px;
    right: -140px;
}

.item-md.item-block .item-inner,
.item-ios.item-block item-inner {
    border-bottom: none;
}

.linksFooter {
    height: 100px;
    padding-top: 10px;
}


@media only screen and (max-width: 350px) {
    .termsText {
        float: left;
        height: 2px;
        width: 90px !important;
        margin-left: 65px;
    }

    .privacyText {
        float: right;
        height: 45px;
        width: 85px;
        left: -75px;
        position: relative;
    }

    .copyrightText {
        position: relative;
        top: 50px;
        right: 45px !important;
    }

    .linksFooter {
        height: 90px !important;
    }
}

@media screen and (max-width: 375px) and (min-width: 351px) {
    .copyrightText {
        position: relative;
        top: 50px;
        right: 10px !important;
    }

    .linksFooter {
        height: 90px !important;
    }
}

@media screen and  (max-width: 400px) and (min-width: 376px) {
    .termsText {
        float: left;
        height: 2px;
        width: 95px;
        margin-left: 65px;
    }

    .privacyText {
        float: right;
        height: 45px;
        width: 85px;
        left: -75px;
        position: relative;
    }

    .copyrightText {
        position: relative;
        top: 50px;
        right: 35px !important;
    }

    .linksFooter {
        height: 90px !important;
    }
}

// @media screen and  (min-width: 401px) and (max-width:560) {
@media (min-width: 401px) {
    .termsText {
        float: left;
        height: 2px;
        width: 95px;
        margin-left: 65px;
    }

    .privacyText {
        float: right;
        height: 45px;
        width: 85px;
        left: -55px;
        position: relative;
    }

    .copyrightText {
        position: relative;
        top: 50px;
        right: -15px !important;
    }

    .linksFooter {
        height: 90px !important;
    }
}

@media (min-width: 567px) {
    .termsText {
        float: left;
        height: 2px;
        width: 95px;
        margin-left: 65px;
    }

    .privacyText {
        float: right;
        height: 45px;
        width: 85px;
        left: -55px;
        position: relative;
    }

    .copyrightText {
        position: relative;
        top: 50px;
        right: -95px !important;
    }

    .linksFooter {
        height: 90px !important;
    }
}

@media (min-width: 630px) {
    .termsText {
        float: left;
        height: 2px;
        width: 95px;
        margin-left: 65px;
    }

    .privacyText {
        float: right;
        height: 45px;
        width: 85px;
        left: -55px;
        position: relative;
    }

    .copyrightText {
        position: relative;
        top: 50px;
        right: -135px !important;
    }

    .linksFooter {
        height: 90px !important;
    }
}

@media screen and (min-width: 561px) and (max-width: 580) {
    .termsText {
        float: left;
        height: 2px;
        width: 95px;
        margin-left: 65px;
    }z

    .privacyText {
        float: right;
        height: 45px;
        width: 85px;
        left: -55px;
        position: relative;
    }

    .copyrightText {
        position: relative;
        top: 50px;
        right: -85px !important;
    }

    .linksFooter {
        height: 90px !important;
    }
}

@media only screen and (max-width: 729px) and (min-width: 661px) {
    .termsText {
        float: left;
        height: 30px;
        width: 200px;
        margin-left: 65px;
    }

    .privacyText {
        float: right;
        height: 45px;
        width: 180px;
        left: -50px;
        position: relative;
    }

    .copyrightText {
        position: relative;
        top: 50px;
        right: -55px !important;
    }
}

@media only screen and (max-width: 850px) and (min-width: 730px) {
    .termsText {
        float: left;
        height: 30px;
        width: 200px;
        margin-left: 65px;
    }

    .privacyText {
        float: right;
        height: 45px;
        width: 180px;
        left: -50px;
        position: relative;
    }

    .copyrightText {
        position: relative;
        top: 50px;
        right: -90px !important;
    }
}


@media only screen and (max-width: 1050px) and (min-width: 851px) {
    .termsText {
        float: left;
        height: 30px;
        width: 200px;
        margin-left: 65px;
    }

    .privacyText {
        float: right;
        height: 45px;
        width: 180px;
        left: -75px;
        position: relative;
    }

    .copyrightText {
        position: relative;
        top: 50px;
        right: -210px !important;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 1350px) {
    .termsText {
        float: left;
        height: 30px;
        width: 200px;
        margin-left: 65px;
    }

    .privacyText {
        float: right;
        height: 45px;
        width: 180px;
        left: -75px;
        position: relative;
    }

    .copyrightText {
        position: relative;
        top: 50px;
        right: -420px !important;
    }
}