#background-content {
    // --background: url(../../../../assets/imgs/background.png) 0 0/100% 100% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    --background: #f4f8f8;
}

.cardContent {
    border: 1px solid #AAAAAA;
    border-radius: 10px;
    margin: 0 0 22px 0;
}

.alarmTitle {
    font-weight: bold;
    font-size: 1.3em;
    color: green; 
    margin: 1% 0;
}

.alarmDevicesTitle {
    font-weight: bold;
    font-size: 1.3em;
    color: green; 
    margin: 1% 0;
}

.alarmSubIcon {
    position: absolute;
    top: 3%;
    left: 2%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: black;
    font-size: min(35px, 8vw);
}



.noAccess {
    background: #eeeeee;
}




.contenedor {
    padding-top: calc(var(--padding-top) + var(--offset-top));
}

.alarmNotInstalled {
    color: #AAAAAA;
}

.lineDivider {
    height: 1px;
    width: 90%;
    margin-left: 5%;
    background: linear-gradient(90deg, #00835C 0%, #D8FC6F 100%);
}

.cardTitleContent {
    background: #aaaaaa;
    border-radius: 10px;
    padding-top: 8px;
}

.cardTitle1 {
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
    color: white;
}

.cardTitle2 {
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
    color: white;
}

.cardTitleIcon {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 45px;
    color: #464646;
    font-weight: bold;
}

.cardGraphIcon {
    font-size: 11em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #464646;
    padding: 20px 0;
}

.cardCornerIcon {
    font-size: 5em;
    position: absolute;
    color: #464646;
    margin: 10px 0 0 10px;
}

.batteryContent {
    margin: 0 0 5% 0;
}

.batteryInfo {
    display: flex;
    align-items: center;
    height: 80%;
    justify-content: center;
}

.batteryIcon {
    font-size: clamp(20px,18vw,100px) !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.batteryLevel {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #000000;
}

.batteryLineDivider {
    width: 94%;
    height: 2px;
    margin-left: 3%;
    background: linear-gradient(90deg, #00835C 0%, #D8FC6F 100%);
    position: relative;
}

.batteryName {
    text-align: center;
    color: green;
    font-weight: bold;
    margin: 2% 0 1% 0;
}

.greenColor {
    color: #00835C;
}

.orangeColor {
    color: #F9893F;
}

.redColor {
    color: #E1004E;
}

.energy-tile {
    position: relative;
    width: 100%;
    height: 140px !important;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid darkblue;
    background: #000d37 !important;
    color: #cdd3de;
    border-radius: 9px;
}



.energy-device-container {
    position: relative;
    width: 100%;
    height: 140px !important;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #cdd3de;
    background: #000d37 !important;
    color: #cdd3de;
    border-radius: 9px;

    .power-value-container {
        float: left;
        margin-right: 10px;
        margin-top: 10px;
        margin-left: -10px;

        .icon-type {
            font-size: 5em;
            margin-left: 20px;
        }

        .value-text {
            margin-left: 30px;
            margin-top: 10px;
            font-size: 1.4em;
        }
    }

    // .info-container {
    //     p {
    //         font-size: 1.5em !important;
    //         font-weight: bold;
    //     }
    // }

    .values-container {
        #current {
            float: left;
            margin-left: 10px;
            margin-top: -5px;
        }

        #energy {
            float: left;
            margin-left: 30px;
            margin-top: -5px;
        }

        #voltage {
            float: left;
            margin-left: 30px;
            margin-top: -5px;
        }
    }
}

.energy-sample {
    background: gray !important;
    border: gray;
    text-shadow: 2px 2px 2px black;

    ion-icon {
        color: #cdd3de;
    }
}

.house-mode {
    margin-top: -30px;
    font-size: 1.4em;
    font-style: italic;
    text-shadow: none !important
}

.voltageSample {
    margin-top: -15px;
    margin-left: 90px;
}

.low-battery {
    border: 2px solid firebrick;

    i {
        color: firebrick;
    }
}

.medium-battery {
    border: 2px solid rgb(139, 156, 43);

    i {
        color: rgb(139, 156, 43);
    }
}

.full-battery {
    border: 2px solid green;

    i {
        color: green;
    }
}

.ripple {
    position: relative;
    overflow: hidden;

    &:after {
        content: "";
        background: rgba(255, 255, 255, 0.3);
        display: block;
        position: absolute;
        border-radius: 50%;
        padding-top: 240%;
        padding-left: 240%;
        margin-top: -120%;
        margin-left: -120%;
        opacity: 0;
        transition: all 1s;
    }

    &:active:after {
        padding-top: 0;
        padding-left: 0;
        margin-top: 0;
        margin-left: 0;
        opacity: 1;
        transition: 0s;
    }

}

.module-info {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-right: 20px;

    img {
        width: 100%;
        height: 100%;
    }
}

//font-size
@media only screen and (max-width: 320px) {
    .house-mode {
        font-size: 1.1em;
        font-style: italic;
        text-shadow: none !important;
    }

    .device-name {
        font-size: 1.2em !important;
        font-weight: bold;
    }

    .cardGraphIcon {
        font-size: 8rem;
    }
    
    .cardCornerIcon {
        font-size: 3rem;
    }

    .cardTitle1 {
        font-size: 0.8rem;
    }
    
    .cardTitle2 {
        font-size: 1.5rem;
    }

    .cardTitleIcon {
        font-size: 2rem;
        top: 12px;
    }

    // .secondAlarmTitle {
    //     font-size: 2.2em;
    // }

}

@media only screen and (max-width: 384px) and (min-width: 321px) {

    .house-mode {
        font-size: 1.1em;
        font-style: italic;
        text-shadow: none !important;
    }

    .device-name {
        font-size: 1.2em !important;
        font-weight: bold;
    }

    .cardGraphIcon {
        font-size: 9rem;
    }
    
    .cardCornerIcon {
        font-size: 4rem;
    }

    // .secondAlarmTitle {
    //     font-size: 2.6em;
    // }

}

@media (max-width: 599px) {
    .house-mode {
        font-size: 1.2em;
        font-style: italic;
        margin-top: -15px !important;
        text-shadow: none !important;
        margin-left: 145px !important;

    }

    .device-name {
        font-size: 1.3em !important;
        font-weight: bold;
    }

}

@media only screen and (max-width: 650px) and (min-width: 566px) {

    // .secondAlarmTitle {
    //     font-size: 4em;
    // }

}

@media only screen and (max-width: 850px) and (min-width: 639px) {
    .house-mode {
        font-size: 1.7em;
        font-style: italic;
        text-shadow: none !important;
    }

    .device-name {
        font-size: 1.8em !important;
        font-weight: bold;
    }

    // .secondAlarmTitle {
    //     font-size: 5em;
    // }

}

@media only screen and (max-width: 1050px) and (min-width: 851px) {
    .house-mode {
        font-size: 1.9em;
        font-style: italic;
        text-shadow: none !important;
        margin-top: -30px !important;
    }

    .device-name {
        font-size: 2.2em !important;
        font-weight: bold;
    }
    
    // .secondAlarmTitle {
    //     font-size: 1.3em;
    // }

}

@media only screen and (max-width: 1500px) and (min-width: 1350px) {
    .house-mode {
        font-size: 1.9em;
        font-style: italic;
        text-shadow: none !important;
        margin-top: -30px !important;
        margin-left: 145px !important;
    }

    .device-name {
        font-size: 2.1em !important;
        font-weight: bold;
    }
}
.tabStyle {
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 30px 30px 0 0;
    height: 75px;
   // --color-selected: red;
    width: 37vw;
    left: 45.95%;
    position: fixed;
    bottom: 33px; //antes72px
    transform: translate(-50%, -50%);

}

.verticalLine {
    width: 2px;
    height: 50px;
    background: #F4F8F8;
    position: relative;
}
.colorSelectedFav{
    --color-selected: #3f75ff;
    
}
.colorSelectedConf{
    --color-selected: #c23fff;
    
}
.colorSelectedSec{
    --color-selected: #ff553f;
    
}
.colorSelectedEnerg{
    --color-selected: #139730;
    
}

@media only screen and (max-width: 600px) {
    .alarmNotInstalled {
        color: #AAAAAA;
        margin-left: -1vw;
        margin-top: 3vw;
        display: flex;
    }
}
