<ion-content [scrollEvents]="true" (ionScroll)="scrollEvent($event)" id="background-content" class="ion-padding-bottom ion-padding-top">
  <div id="locationTitle" class="centerContent">
    <span class="locationNameTitle">{{selectedLocation.locationName}}</span>
</div>
  <div id="content" class="contenedor">

    <!--#region Energy Generator Devices-->
    <ion-card *ngFor="let device of energyGeneratorDevices" (click)="showGraphic(device)" class="cardContent">
      <ion-item class="cardTitleContent">
        <div class="cardTitle1">
          <ion-label>Análisis de energía consumida</ion-label>
        </div> 
        <div class="cardTitle2">
          <ion-label>Deshabilitado</ion-label>
        </div>
        <i class="cardTitleIcon icon-alarmNotInstalled"></i>
      </ion-item>
      <div>
        <i class="cardCornerIcon icon-moon"></i>
        <i class="cardGraphIcon icon-energyConsumed"></i>
      </div>
    </ion-card>

    <!-- <div *ngFor="let device of energyGeneratorDevices" class="energy-device-container ripple"
      (click)="showGraphic(device)">

      <div class="power-value-container">
        <i class="icon-type icon-{{device.type}}"></i>
        <p class="value-text" text-center><b>{{device.energy}}</b></p>
      </div>

      <div class="info-container">
        <p class="device-name">{{device.name}}</p>
      </div>

      <div class="values-container">
        <p id="voltage">{{(device.value) ? device.value.voltage.toFixed(1) : ''}} V</p>
        <p id="voltage">{{(device.value) ? device.value.power.toFixed(1) : ''}} W</p>
      </div>
    </div> -->
    <!--#endregion-->

    <!--#region Energy Meter Devices-->
      <ion-card *ngFor="let device of energyMeterDevices" (click)="showGraphic(device)" class="cardContent">
        <div class="cardTitleContent">
          <div class="cardTitle1">
            <ion-label>Análisis de energía generada</ion-label>
          </div>
          <div class="cardTitle2">
            <ion-label>Deshabilitado</ion-label>
          </div>
          <i class="cardTitleIcon icon-alarmNotInstalled"></i>
        </div>
        <div>
          <i class="cardCornerIcon icon-sun"></i>
          <i class="cardGraphIcon icon-energyGenerated"></i>
        </div>
      </ion-card>

    <!-- <div *ngFor="let device of energyMeterDevices" class="energy-device-container ripple" (click)="showGraphic(device)">

      <div class="power-value-container">
        <i class="icon-type icon-{{device.type}}"></i>
        <p class="value-text" text-center><b>{{device.energy}}</b></p>
      </div>

      <div class="info-container">
        <p class="device-name">{{device.name}}</p>
      </div>

      <div class="values-container">
        <p id="voltage">{{(device.value) ? device.value.voltage.toFixed(1) : ''}} V</p>
        <p id="voltage">{{(device.value) ? device.value.power.toFixed(1) : ''}} W</p>
      </div>
    </div> -->
    <!--#endregion-->

    <!--#region Energy Difference Devices-->
    <div *ngIf="energyMeterDevices[0]" class="energy-device-container ripple"
      (click)="showGraphic(energyDifferenceDevice)">

      <div class="power-value-container">
        <i class="icon-type icon-chart"></i>
        <p class="value-text" text-center>
          <!-- <b>{{(energyDifferenceDevice) ? energyDifferenceDevice.energy.toFixed(1) : ''}}kWh</b></p> -->
      </div>

      <div class="info-container">
        <p class="device-name">Consumo total a pagar</p>
      </div>
    </div>
    <!--#endregion-->
    
    <!--#region Sample Alarms-->
    <!-- <ion-card *ngFor="let device of sampleEnergyDevices" (click)="showNoEnergyDevicesAlert(device.type)" class="cardContent">
      <div class="cardTitleContent">
        <div class="cardTitle1">
          <ion-label>{{((device.type == 'energy') ? 'Análisis de energía consumida' : 'Análisis de energía generada')}}</ion-label>
        </div>
        <div class="cardTitle2">
          <ion-label>Deshabilitado</ion-label>
        </div>
        <i class="cardTitleIcon icon-alarmNotInstalled"></i>
      </div>
      <div style="margin: 10px 0;">
        <i class="cardCornerIcon icon-{{((device.type == 'energy') ? 'moon' : 'sun')}}"></i>
        <i class="cardGraphIcon icon-{{((device.type == 'energy') ? 'energyConsumed' : 'energyGenerated')}}"></i>
      </div>
    </ion-card> -->

    <ion-card *ngFor="let device of sampleEnergyDevices" class="alarmCard noAccess" (click)="showNoEnergyDevicesAlert(device.type)">
      
    <!--  <i class="alarmSubIcon icon-{{((device.type == 'energy') ? 'energyConsumed' : 'energyGenerated')}}"></i>-->
    <div class="alarmIconsContainer">
      <!--<i class="alarmCenterIcon icon-alarmNotInstalled"></i>-->
      <i class="alarmCenterIconEnergy icon-{{((device.type == 'energy') ? 'energyConsumed' : 'energyGenerated')}}"></i>
      
        <div class="secondAlarmTitle alarmNotInstalled">
          <ion-label>
            Deshabilitado
          </ion-label>
        </div>
      </div>

      <div class="lineDivider"></div>
      <div class="alarmTitle">
        <ion-label>
          {{((device.type == 'energy') ? 'Análisis de energía consumida' : 'Análisis de energía generada')}}
        </ion-label>
      </div>
    </ion-card>

    <!-- <div *ngFor="let device of sampleEnergyDevices" class="energy-device-container energy-sample ripple" (click)="showNoEnergyDevicesAlert()">

      <div class="power-value-container">
        <i class="icon-type icon-{{device.type}}"></i>
        <ion-icon name="lock-closed" class="alert-state-icon" style="position: relative;
        font-size: 3em;
        margin-left: -10px;
        top: 7px;
        margin-right: 10px;"></ion-icon>
      </div>

      <div class="info-container">
        <p class="device-name">{{device.alias}}</p>
      </div>

      <div class="values-container">
        <p class="voltageSample house-mode">No instalado</p>
      </div>
    </div> -->
    <!--#endregion-->

    
    <!--#region Batteries-->
      <ion-card *ngFor="let device of batteries" class="alarmCard cursorPointer">
        <div class="batteryInfo">
          <i class="batteryIcon icon-battery" [ngClass]="{'greenColor': (device.value > 25), 'orangeColor': (device.value <= 25 && device.value > 10), 'redColor': (device.value <= 10)}"></i>
          <ion-label class="batteryLevel">{{device.percent}}</ion-label>
        </div>
  
        <div class="lineDivider"></div>
        <div class="alarmDevicesTitle">
          <ion-label>{{device.alias}}</ion-label>
        </div>
      </ion-card>

    <!-- <div *ngFor="let device of batteries" class="energy-device-container ripple"
      [ngClass]="{'full-battery': device.value > 40, 'medium-battery': (device.value <= 40 && device.value > 5), 'low-battery': device.value <=5}">

      <div class="power-value-container">
        <i
          [class]="(device.value == 100) ? 'icon-type icon-battery-full' : (device.value >= 90 && device.value < 100) ? 'icon-type icon-battery-ninety' : (device.value >= 80 && device.value < 90) ? 'icon-type icon-battery-eighty' : (device.value >= 70 && device.value < 80) ? 'icon-type icon-battery-seventy' : (device.value >= 60 && device.value < 70) ? 'icon-type icon-battery-sixty' : (device.value >= 50 && device.value < 60) ? 'icon-type icon-battery-fifty' : (device.value >= 40 && device.value < 50) ? 'icon-type icon-battery-fourty' : (device.value >= 30 && device.value < 40) ? 'icon-type icon-battery-thirty' : (device.value >= 20 && device.value < 30) ? 'icon-type icon-battery-twenty' : (device.value >= 6 && device.value < 20) ? 'icon-type icon-battery-ten' : (device.value >= 1 && device.value < 6) ? 'icon-type icon-battery-low' : 'icon-type icon-battery-empty'"></i>
        <p class="value-text"><b>{{device.percent}}</b></p>
      </div>

      <div class="info-container">
        <p class="device-name">{{device.alias}}</p>
      </div>
    </div> -->
    <!--#endregion-->

  </div>
  <footer class="hide-on-small-only indexFooterStyle" id="energyFooter">
    <ion-tabs>
      <ion-tab-bar id="energyTabsNavBar" class="tabStyle" slot="bottom">
        <ion-tab-button class= "colorSelectedFav" tab="favorites">
            <!-- <ion-icon name="star"></ion-icon> -->
            <img class="tabsImageMargin" src="../../../assets/imgs/favoritesIcon.png" alt="favorites">
            <ion-label>Favoritos</ion-label>
        </ion-tab-button>
        <div class="verticalLine"></div>
        <ion-tab-button class= "colorSelectedConf" tab="confort">
            <!-- <ion-icon name="apps"></ion-icon> -->
            <img class="tabsImageMargin" src="../../../assets/imgs/confortIcon.png" alt="confort">
            <ion-label>Confort</ion-label>
        </ion-tab-button>
        <div class="verticalLine"></div>
        <ion-tab-button class= "colorSelectedSec" tab="security">
            <!-- <ion-icon name="lock-closed"></ion-icon> -->
            <img class="tabsImageMargin" src="../../../assets/imgs/securityIcon.png" alt="security">
            <ion-label>Seguridad</ion-label>
        </ion-tab-button>
        <div class="verticalLine"></div>
        <ion-tab-button class= "colorSelectedEnerg" tab="energy-saving">
            <!-- <ion-icon name="leaf"></ion-icon> -->
            <img class="tabsImageMargin" src="../../../assets/imgs/energyIcon.png" alt="energy">
            <ion-label id="labelEnergySaving" >Energía</ion-label>
        </ion-tab-button>
        <!-- <ion-tab-button tab="user-profile" style="display: none">
    <img [src]="user.userImage" alt="actualUserImage" class="tabsImage">
    </ion-tab-button> -->
    
    </ion-tab-bar>
    <div class="container">
      <div class="row noMarginBottom">
          <div class="col s6 m3">
              <ul>
                  <li>
                      <img loading="lazy" src="../../../assets/imgs/landingPageIcons/help.webp"
                          class="ih-16-x-16 marginBottom" alt="Ayuda">
                      <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/preguntasFrecuentes"
                          ng-click="manageColors('default')">Preguntas
                          Frecuentes</a>
                  </li>
                  <li>
                      <img loading="lazy" src="../../../assets/imgs/landingPageIcons/comments.webp" class="ih-16-x-16"
                          alt="Blog">
                      <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/inicioBlog"
                          ng-click="manageColors('default')">Blog</a>
                  </li>
              </ul>
          </div>
          <div class="col s6 m3">
              <ul>
                  <li>
                      <img loading="lazy" src="../../../assets/imgs/landingPageIcons/lock.webp"
                          class="ih-16-x-16 marginBottom" alt="Políticas de privacidad">
                      <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/politicasDePrivacidad"
                          ng-click="manageColors('default')">Política de
                          Privacidad</a>
                  </li>
                  <li>
                      <img loading="lazy" src="../../../assets/imgs/landingPageIcons/document.webp" class="ih-16-x-16"
                          alt="ToS">
                      <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/terminosCondiciones"
                          ng-click="manageColors('default')">Términos y
                          Condiciones</a>
                  </li>
              </ul>
          </div>
          <div class="col s6 m3">
              <ul>
                  <li>
                      <img loading="lazy" src="../../../assets/imgs/landingPageIcons/facebook.webp"
                          class="ih-16-x-16 marginBottomF" alt="Facebook">
                      <a class="footerFonts blackColorText cursorPointer" ng-click="goToFacebook();">Siguenos
                          en
                          Facebook </a>
                  </li>
                  <li>
                      <a class="footerFonts callText" href="https://www.intelihogar.com/#!/contactanos" ng-click="manageColors('default')">
                          <i class="material-icons callIcon">call</i> Contáctanos
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col s6 m3">
              <ul>
                  <li class="ih-footer-logo-margin">
                      <img src="../../../assets/imgs/inteliLogo-img.webp" alt="InteliHogar" class="ih-60-x-60-casa footerImage">
                      <img src="../../../assets/imgs/inteliLogo-name.webp" alt="InteliHogar" class="ih-image-inteli-desk">
                  </li>
                  <li class="ih-footer-rm-margin">
                      <span class="footerFonts footerFontsStyle">InteliHogar
                          2015-2021</span>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  </ion-tabs>
   
     <!--Add shortcut button-->
 
  </footer>
</ion-content>