/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'montserrat';
    src: url('./assets/fonts/Montserrat-Regular.ttf');
}

.font-montserrat {
    font-family: "montserrat";
}

* {
    font-family: 'montserrat';
}

.comfort-loader {
    .loading-wrapper {
        //background: transparent !important;
        box-shadow: #3794f3;
    }

    circle {
        stroke: #d3d3d3 !important;
        stroke-width: 8px;
    }

    .spinner-ios line {
        stroke: white;
    }

    ion-spinner {
        width: 36px;
        height: 36px;
    }
}

.md .menu-inner {
    height: 305px;
    /*378*/
    width: 220px;
    margin-top: 55px;
}

.ios .menu-inner {
    height: 302px;
    /*372*/
    width: 220px;
    margin-top: 45px;
}

.centrado {
    text-align: center;
}

.transparentar {
    background: rgba(255, 255, 255, 0.4);
}

.imagen:before {
    opacity: 0.5;
}

.st-tile {
    background-color: #000d37;
    color: #cdd3de;
    width: 180px;
    height: 180px;
    margin: 3px 3px 3px 3px;
    border-radius: 7px;
    text-align: center;
    float: left;
    position: relative;
    font-size: 2vw;
}

.flex-container {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 25vw;
    height: 25vw;
    max-width: 220px;
    max-height: 220px;
    min-width: 100px;
    min-height: 100px;
    // margin: 0 0vw 4vw 3vw;
    border-radius: 7px;
    font-size: 0.8em;
    text-align: center;
    display: flex;
    flex-direction: column;
    float: left;
    position: relative;
    cursor: pointer;
}

.device-window .modal-wrapper {
    width: 370px !important;
    height: 412px !important;
    top: calc(50% - 206px) !important;
    left: calc(50% - 185px) !important;
    border-radius: 10px !important;
    background: #F4F8F8;
}


.textStatus {
    margin-left: -10px !important;
    font-size: 4vw;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
}

#content {
    height: auto;
    min-height: 83%;
}

@media only screen and (max-width: 320px) {
    .flex-container {
        width: 100px !important;
        height: 100px !important;

    }

    .gridContainer {
        grid-template-columns: 145px 177px !important;
        grid-gap: 8px !important;
        margin-left: 21px;
        grid-template-rows: 155px 179px !important;  

    }

    .device-window .modal-wrapper {
        width: 304px !important;
        height: 346px !important;
        top: calc(50% - 173px) !important;
        left: calc(50% - 152px) !important;
    }

    .intelihogarIcon {
        font-size: 14vw;
    }

    .st-title {
        font-size: 8px !important;
    }

    .textStatus {
        font-size: 20px;
    }

    .gridContainer {
        grid-template-columns: 156px 174px !important;
        grid-gap: 20px;
        grid-template-rows: 157px 179px !important;
    }

    .flex-container {
        width: 150px !important;
        height: 150px !important
    }

    .alarmTitle {
        font-size: 1.1em !important;
    }


}

@media only screen and (max-width: 360px) and (min-width: 321px) {
    .flex-container {
        width: 45vw;
        height: 45vw;
    }

    .device-window .modal-wrapper {
        width: 304px !important;
        height: 346px !important;
        top: calc(50% - 173px) !important;
        left: calc(50% - 152px) !important;
    }
}

@media only screen and (max-width: 395px) and (min-width: 361px) {
    .flex-container {
        width: 20vw;
        height: 20vw;

    }

    .device-window .modal-wrapper {
        width: 330px !important;
        height: 372px !important;
        top: calc(50% - 186px) !important;
        left: calc(50% - 165px) !important;
    }
}

@media only screen and (max-width: 600px){
    .flex-container {
        width: 180px;
        height: 180px;
    }

    .contenedor {
        padding: 2vw 4% !important;
        margin: 2vw 0vw !important;
    }

    .st-title {
        font-size: 16px;
    }

    .textStatus {
        font-size: 30px
    }

    .backButton {
        bottom: -25px !important;

    }
    .intelihogarIcon {
        font-size: 6em !important;
    }
    #content{
        height: auto;
        min-height: 58% !important;
        margin-top: 14%;
    }
    .icon-back{
        margin-left:7px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .textStatus {
        font-size: 2.5vw;
    }
}

@media only screen and (min-width: 768px) {


    .device-window .modal-wrapper {
        width: 370px !important;
        height: 415px !important;
        top: calc(50% - 207px) !important;
        left: calc(50% - 185px) !important;
    }
}

@media only screen and (min-width: 1024px) {

    .device-window .modal-wrapper {
        width: 370px !important;
        height: 415px !important;
        top: calc(50% - 207px) !important;
        left: calc(50% - 185px) !important;
    }
}

.st-tile:active {
    transform: translateY(2px);
    /*background-color: #000d50;*/
}

.st-tile2 {
    background-color: #000d37;
    color: #cdd3de;
    width: 206px;
    height: 100px;
    margin: 3px 3px 3px 3px;
    border-radius: 7px;
    font-size: 0.8em;
    text-align: center;
    float: left;
    position: relative;
}

.inteliappContainer {
    display: flex;
    align-items: center;
    justify-content: center;

}

.inteliappImage {
    height: 65%;
    width: 60%;
}

.st-tile2:active {
    transform: translateY(2px);
}

.double {
    width: 206px;
}

.st-title {
    line-height: 16px;
    font-style: normal;
    position: relative;
    top: 3px;
    line-height: 90%;
    color: #3F75FF;
    font-weight: 600;
    font-family: 'montserrat';
    font-size: 13px;
}

.addTitle {
    color: #ffffff;
    font-family: "montserrat";
    text-align: center;
    margin-top: -5px;
}

.st-icon {
    height: 3em;
    width: 3em;
    left: 50%;
    top: 50%;
    margin-left: -1.5em;
    margin-top: -1.5em;
    position: absolute;
}

.intelihogarIcon {
    font-size: 6.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.tempAndBattContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tempAndBattIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    font-weight: 500;
    height: 100%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.addIcon {
    color: #ffffff;
    font-size: 4em;
    width: 100%;
}

.warmColor {
    height: 27px;
    width: 27px;
    background: #FFF9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin-right: 7px;
}

.coldColor {
    height: 27px;
    width: 27px;
    background: #EAFCFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin-right: 7px;
}

.flexColorContainer {
    display: flex;
    justify-content: flex-end;
   
}

.colorPickerCircle {
    margin-right: 7px;
    height: 100%;
}

.contenedor {
    padding: 2vw 0 0vh;
    /*position: relative;
    left: 50%;
    margin-left: -156px;
    width: 318px;*/
}

.gridContainer {
    padding: calc(var(--padding-top) + var(--offset-top)) 0 20px !important;
    display: grid;
    height: auto;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 20px;
    grid-template-rows: max-content;
    justify-content: center;
}

iframe {
    border: 0px;
}




.footer {
    position: absolute;
    bottom: 2px;
    left: 7px;
    font-size: 0.9em;
    color: #cdd3de;
}

.slidecontainer {
    width: 100%;
}

.slider:hover {
    opacity: 1;
}

.storeText:hover {
    color: #3f75ff !important;
}

.storeText {
    position: absolute;
    top: 25%;
    left: -4%;
    color: rgb(170, 170, 170);
    font-weight: 100;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #04009e;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #70707c;
    cursor: pointer;
}

.full-width-slider {
    display: block;
    top: 80%;
}

.helpTxt {
    position: absolute;
    top: 40%;
}

.options-container {
    position: absolute;
    top: 40%;
    left: 35%;
    font-size: 1em;
    background-color: white;
}

.option-item {
    margin: 10px;
}

.option-header {
    background-color: lightgray;
    padding: 10px;
    height: 35px;
}

.option-close {
    position: absolute;
    right: 5px;
}

.device-window {
    .modal-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.order-list {
    .modal-wrapper {
        position: relative;
        left: 0%;
        top: 0%;
        width: 80%;
        height: 80%;
        background: rgba(0, 0, 0, 0.5);
        border: 1px;
    }
}

.refresh-button {
    width: 1px;
    height: 1px;
    visibility: hidden;
}

.group-batch {
    position: relative;
    top: -50px;
    left: 20px;
    font-size: 1.5em;
    font-style: italic;
}

.alarm-alert {
    display: none;

    ion-backdrop {
        box-shadow: 1px 1px 26px red inset;
    }
}

.graphic-modal {
    background: rgba(0, 0, 0, 0.5);

    .modal-wrapper {
        position: relative;
        left: 10%;
        top: 30%;
        width: 80%;
        height: 40%;
        border: none;
    }
}

.primary-alert-button {
    background-color: #000d37 !important;
    color: white !important;
}

.inteli-toast {
    .toast-container {
        background-color: #000d37;
    }
}

///////
div.modal-wrapper {
    background: rgba(0, 0, 0, 0.5) !important;
}

app-change-device-room {
    width: 280px !important;
    height: 347px !important;
    top: calc(50% - 173.5px) !important;
    left: calc(50% - 140px) !important;
}

.editLocationModal .modal-wrapper {
    width: 342px !important;
    height: 250px !important;   //bryan
    top: calc(50% - 140.5px) !important;
    left: calc(50% - 171px) !important;
    border-radius: 10px;
    background: #F4F8F8;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 14px;
    border-radius: 8px;
    background: #437afe;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type=range].color1::-webkit-slider-thumb {
    background: var(--slider-thumb-color) !important;
}

.accessLevelCssClass .alert-radio-group button .alert-button-inner .alert-radio-icon .alert-radio-inner {
    background-color: #FFAF3B;
}

// .myCustomCssClass .alert-wrapper {
//     background: linear-gradient(90deg, #FF8D3B 0%, #F14336 100%);
// }
.accessLevelCssClass .alert-head {
    background: #f4f8f8;
}

.accessLevelCssClass .alert-title {
    color: #E1004E;
}

.accessLevelCssClass .alert-button-group {
    background: #f4f8f8;
}

.accessLevelCssClass .alert-radio-group {
    background: #f4f8f8;
}

.confortCssClass .alert-title {
    color: #5C8FF0;
}

.confortCssClass .alert-wrapper {
    max-width: none !important;
}

.deviceAccessLevelClass .alert-wrapper {
    max-width: none !important;
}

.ionContentStyle {
    --padding-start: 20%;
    --padding-end: 20%;
}

.ionListContent {
    padding: 1% 7% 10px 7%;
}

.alarmCenterIcon {
    font-size: 23vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: black;
    margin: 0 2vw 0 2vw;
}

.alarmCenterIconEnergy {
    font-size: 20vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: black;
    margin: 0 2vw 0 4vw;
}

@media only screen and (min-width: 601px) {
    .ionContentStyle {
        --padding-bottom: 70px;
    }

    .backBackground {
        display: none;
    }

    .icon-warning {
        font-size: clamp(20px, 3.5vw, 27px) !important;
        margin: -1.5vw 0 0 -2.5vw !important;
    }

    .alarmCenterIcon {
        font-size: clamp(20px,13vw,100px) !important;
        margin-left: 3vw;
    }

    .alarmCenterIconEnergy {
        font-size: clamp(20px, 10vw, 90px) !important;
    }

    .secondAlarmTitle {
        font-size: clamp(20px, 6.5vw, 50px) !important;
    }


}

@media only screen and (max-width:600px) {
    .ionContentStyle {
        --padding-start: 10%;
        --padding-end: 10%;
    }
    @media only screen and (max-width:375px){
        .flex-container{
        width:170px !important;
        height:170px !important;
        }
    }
    @media only screen and (max-width: 360px){
        .flex-container {
            width: 160px !important;
            height: 160px !important;
        }
    }

    @media only screen and (max-width: 411px){
        #content{
            height: auto;
            min-height: 58% !important;
            margin-top: 14% !important;
        }
    }

    #locationTitle {
        display: none;
    }

    .gridContainer {
        display: grid;
        padding: 2vw 0 20px !important;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        grid-template-rows: auto;
    }

    #roomsContent {
        min-height: 0 !important;
        margin-top: 14%;
    }
    .flexColorContainer{
        height: 6vw !important;
    }
    .coldColor {
        height: 5vw;
        width: 5vw;
    }
    .warmColor {
        height: 5vw;
        width: 5vw;
    }

}

.alarmCard {
    cursor: pointer;  //bryan
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important; //bryan
    text-align: center;
    box-shadow: none;
    border-radius: 10px;
    margin: 0 auto 22px auto;
    width: calc(75vw + 40px);
    height: 25vw;
    max-height: 220px;
    min-height: 100px;
    max-width: 700px; //bryan
    min-width: 288px;

}

.cardIcon {
    background: #2AD8DA;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    padding: 4px;
    color: #ffffff;
    cursor: pointer;
}

.disabled-icon {
    color: gray !important;
}

.icon-warning {
    position: absolute;
    font-size: 6vw;
    margin: -1.5vw 0 0 -4vw;
}

.alarmIconsContainer {
    height: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
}

.secondAlarmTitle {
    font-weight: bold;
    font-size: 8.5vw;
    margin-top: 3vw;
    margin-left: 3vw;//bryan
}

.indexFooterStyleWithFooter {
    margin-bottom: 50px;
}

.dontDisplay {
    display: none !important;
}

.backBackground {
    height: 76px;
    width: 50px;
    position: absolute;
    bottom: 10px;
    left: -1px;
    background: #F4F8F8;
}

.addBackground {
    height: 76px;
    width: 50px;
    position: absolute;
    bottom: 10px;
    right: -1px;
    background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    z-index: -1;
}

.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.locationNameTitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    color: #3F75FF;
    font-size: 1.5em;
}




@media only screen and (max-width: 420px) {
    .alarmCard {
        height: 45vw !important;
    }
}

@media only screen and (max-width: 600px) {


    .addNewFavorite {
        bottom: -25px !important;
        right: 0 !important;

    }
    #content{
        height: auto;
        min-height: 53% !important;
        margin-top: 14% !important;
    }

    // .gridContainer {
    //     min-height: 52% !important;
    // }

}

.indexFooterStyle {
    position: absolute;
    padding-top: 10px !important;
    //padding-left: 5%;
    width: 108%;
    background: #fff !important;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
    height: 61px;
    margin-top: 9%;

}

.noMarginBottom {
    margin-bottom: 0px !important;
}

.ih-16-x-16 {
    width: 16px !important;
    height: 16px !important;
    border-radius: 0px 0px 0px 0px !important;
    right: 2px;
    bottom: -3px;
    position: relative;
}

.marginBottom {
    margin-bottom: 2px;
}

.blackColorText {
    color: #000000;
    font-size: 9px;
}

.callIcon {
    display: inline !important;
    font-size: 1.3em !important;
    color: #3f68ff;
}
.callText{
    color: #000000;
    font-size: 9px;
    position: absolute;
    top: 44px;
}

.cursorPointer {
    cursor: pointer !important;
}

.footerFontsStyle {
    /*aqui*/
    color: #000000;
    cursor: default;
}

.ih-footer-rm-margin {
    margin-top: -15px;
    margin-left: -10px;
    font-size: 9px;
}

.ih-image-inteli-desk {
    width: 60px !important;
    padding-top: 0px;
    margin-left: -5%;
    border-radius: 0PX !important;
}

.ih-60-x-60-casa {
    padding: 3%;
}

.ih-footer-logo-margin {
    margin-top: -20px;
    margin-left: -27px;
}

.spaceToFooter {
    min-height: calc(100vh - 65px);
}

.footerImage {
    width: 50px;
    position: relative;
    top: -5px;
}

.tabsImageMargin {
    margin-bottom: 7px;
    height: 50%;
}


footer {
    font-size: .7em;
    font-family: Montserrat;
}