<ion-content [scrollEvents]="true" (ionScroll)="scrollEvent($event)" id="background-content" class="ion-padding-bottom ion-padding-top">
  <div id="locationTitle" class="centerContent locationTitleFav">
    <span class="locationNameTitle">{{selectedLocation.locationName}}</span>
</div>
  <div [hidden]="!devicesFullyLoaded" *ngIf="!favorites" class="noFavoritesLabelContainer">
    <ion-label class="noFavoritesLabel">Aún no cuentas con favoritos</ion-label>
  </div>
  <ion-icon [hidden]="!devicesFullyLoaded" *ngIf="!favorites" class="noFavoritesIcon" name="star-outline"></ion-icon>

  <div id="content" class="gridContainer">

    <!--#region DEVICES-->
    

      <!--MODES-->
      <div *ngFor="let mode of deviceList.modes" [id]="'sc_' + mode.id"
        (press)="(mode.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1) ? '' : presentActionSheet($event, mode)"
        (click)="checkIfUserHasAccess(mode, 'mode')" class="flex-container"
        [ngClass]="{'no-access': mode.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1}">
        <div class="inteliappContainer" style="flex-grow:56;">
          <img class="inteliappImage"
            [src]="'../../assets/imgs/inteliApps/' + 'routine' + ((mode.status != undefined) ? '-' + mode.status : '') + '.png'">
        </div>

        <div style="flex-grow:15;">
          <div class="lineDivider"></div>
        </div>

        <div style="flex-grow:15;" class="st-title">
          {{mode.alias}}
        </div>
      </div>

      <!--DEVICES ACTION-->
      <div *ngFor="let device of deviceList.devicesAction" [id]="'sc_'+device.id" class="flex-container"
        [ngClass]="{'no-access': device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1}"
        avoid-super-tabs="true" (click)="checkIfUserHasAccess(device, 'toggle')"
        (press)="(device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1) ? '' : presentActionSheet($event, device)">

        <ion-icon *ngIf="device.notification"
          (click)="showToast('Tienes habilitadas las notificaciones para este dispositivo'); $event.stopPropagation();"
          class="notificationsIcon" name="notifications-sharp">
        </ion-icon>

        <div
          *ngIf="device.type=='inteliAppsGeneral' || device.type=='inteliAppsMedical' || device.type=='inteliAppsSecurity' || device.type=='inteliAppsEnergy' || device.type=='routine'"
          class="inteliappContainer" style="flex-grow:56;">
          <img class="inteliappImage"
            [src]="'../../assets/imgs/inteliApps/' + device.type + ((device.status != undefined) ? '-' + device.status : '') + '.png'">
        </div>
        <i style="flex-grow:70;"
          *ngIf="device.type!='inteliAppsGeneral' && device.type!='inteliAppsMedical' && device.type!='inteliAppsSecurity' && device.type!='inteliAppsEnergy' && device.type!='routine'"
          class="intelihogarIcon"
          [ngClass]="'icon' + '-' + device.type + ((device.status != undefined) ? '-' + device.status : '')"></i>
        <span class="group-batch" *ngIf="device.group">g</span>

        <div *ngIf="device.type == 'smartBlind'" class="curtainButtonsContainer">
          <ion-icon (click)="checkIfUserHasAccess(device, 'open'); $event.stopPropagation();"
            class="curtainPlayPauseButtons" name="caret-up-outline">
          </ion-icon>
          <ion-icon (click)="checkIfUserHasAccess(device, 'pause'); $event.stopPropagation();"
            class="curtainPlayPauseButtons" name="pause-outline">
          </ion-icon>
          <ion-icon (click)="checkIfUserHasAccess(device, 'close'); $event.stopPropagation();"
            class="curtainPlayPauseButtons" name="caret-down-outline"></ion-icon>
        </div>

        <div *ngIf="device.type == 'window' || device.type == 'curtain'" class="windowButtonsContainer">
          <ion-icon (click)="checkIfUserHasAccess(device, 'open'); $event.stopPropagation();"
            class="windowPlayPauseButtons" name="caret-back-outline">
          </ion-icon>
          <ion-icon (click)="checkIfUserHasAccess(device, 'pause'); $event.stopPropagation();"
            class="windowPlayPauseButtons" name="pause-outline">
          </ion-icon>
          <ion-icon (click)="checkIfUserHasAccess(device, 'close'); $event.stopPropagation();"
            class="windowPlayPauseButtons" name="caret-forward-outline"></ion-icon>
        </div>

        <div style="flex-grow:15;" *ngIf="device.type != 'adjustableLight' && device.type != 'dimmer'">
          <div class="lineDivider"
            [ngClass]="{'windowsLineDivider': device.type == 'window' || device.type == 'curtain'}"></div>
          <label *ngIf="device.type == 'window'" class="windowsLevelLabel">{{device.level}}</label>
        </div>

        <div style="flex-grow:15;" class="full-width-slider"
          *ngIf="device.type=='adjustableLight' || device.type=='dimmer'"
          (change)=" sendCommand(device.type, device.id, device.level);">
          <input class="slider" type="range" [(ngModel)]="device.level"
            [disabled]="device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1">
          <label>{{device.level}}</label>
        </div>

        <div style="flex-grow:15;" class="st-title">
          {{device.alias}}
        </div>
      </div>

      <!--DEVICES COLOR LIGHT-->
      <div *ngFor="let device of deviceList.devicesColorLight" [id]="'sc_'+device.id" class="flex-container"
        [ngClass]="{'no-access': (device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1)}"
        (press)="(device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1) ? '' : presentActionSheet($event, device)"
        avoid-super-tabs="true">

        <ion-icon *ngIf="device.notification"
          (click)="showToast('Tienes habilitadas las notificaciones para este dispositivo'); $event.stopPropagation();"
          class="notificationsIcon" name="notifications-sharp"></ion-icon>

        <div class="flexColorContainer">
          <div class="warmColor" (click)="checkIfUserHasAccess(device, 'warmColor'); $event.stopPropagation();"></div>
          <div class="coldColor" (click)="checkIfUserHasAccess(device, 'coldColor'); $event.stopPropagation();"></div>
          <img (click)="checkIfUserHasAccess(device, 'changeColor')" class="colorPickerCircle"
            src="../../../../assets/imgs/colorPicker.png" alt="colorPicker">
        </div>

        <i style="flex-grow:40;" class="intelihogarIcon" (click)="checkIfUserHasAccess(device, 'toggle,')"
          [ngClass]="'icon-' + device.type + ((device.status != undefined) ? '-' + device.status : '')"></i>
        <span class="group-batch" *ngIf="device.group">g</span>

        <div style="flex-grow:30;" class="full-width-slider"> 
          <input [class]="'sliderMobile lineDividerMobile '+ device.type + '_' + device.id" type="range" [(ngModel)]="device.level"
            (change)="sendCommand(device.type, device.id, device.level + ''); $event.stopPropagation();"
            [disabled]="device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1">
            <label style=" font-size:  0.7em;">{{device.level}}</label>
        </div>

        <div style="flex-grow:30;" class="st-title">
          {{device.alias}}
        </div>
      </div>

      <!--DEVICES MULTI WHITE LIGHT-->
      <div *ngFor="let device of deviceList.devicesMultiWhiteLight" [id]="'sc_'+device.id" class="flex-container"
        [ngClass]="{'no-access': device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1}"
        (press)="(device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1) ? '' : presentActionSheet($event, device)"
        avoid-super-tabs="true">

        <ion-icon *ngIf="device.notification"
          (click)="showToast('Tienes habilitadas las notificaciones para este dispositivo'); $event.stopPropagation();"
          class="notificationsIcon" name="notifications-sharp"></ion-icon>

        <div class="flexColorContainer">
          <div class="warmColor" (click)="checkIfUserHasAccess(device, 'warmColor'); $event.stopPropagation();"></div>
          <div class="coldColor" (click)="checkIfUserHasAccess(device, 'coldColor'); $event.stopPropagation();"></div>
        </div>

        <i style="flex-grow:40;" class="intelihogarIcon" (click)="checkIfUserHasAccess(device, 'toggle')"
          [ngClass]="'icon-' + device.type + ((device.status != undefined) ? '-' + device.status : '')"></i>
        <span class="group-batch" *ngIf="device.group">g</span>

        <div style="flex-grow:30;" class="full-width-slider">
          <input [class]="'slider '+ device.type + '_' + device.id" type="range" [(ngModel)]="device.level"
            (change)="sendCommand(device.type, device.id, device.level + '')"
            [disabled]="device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1">
          <label>{{device.level}}</label>
        </div>

        <div style="flex-grow:30;" class="st-title">
          {{device.alias}}
        </div>
      </div>

      <!--DEVICES THERMOSTAT-->
      <div view-cached="false" *ngFor="let device of deviceList.devicesThermostat" [id]="'sc_'+device.id"
        [ngClass]="{'no-access': device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1}"
        class="flex-container" (click)="checkIfUserHasAccess(device, 'thermostat')"
        (press)="(device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1) ? '' : presentActionSheet($event, device)">

        <ion-icon *ngIf="device.notification"
          (click)="showToast('Tienes habilitadas las notificaciones para este dispositivo'); $event.stopPropagation();"
          class="notificationsIcon" name="notifications-sharp"></ion-icon>

        <i style="flex-grow:70;" class="intelihogarIcon"
          [ngClass]="'icon-' + device.type + ((device.status != undefined) ? '-' + device.status : '')"></i>

        <div style="flex-grow:15;">
          <div class="lineDivider"></div>
        </div>

        <!-- <div class='footer'>
          <i class='icon-{{device.type}}' style='font-size: 2em;'></i>
          <span>{{device.temperature}}</span>
        </div> -->

        <div style="flex-grow:15;" class="st-title">
          {{device.alias}}
        </div>
      </div>

   
    <!--#endregion -->

    <!--DEVICES STATE-->
    <div view-cached="false" *ngFor="let device of deviceList.devicesState" [id]="'sc_'+device.id"
      [ngClass]="{'no-access': device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1}"
      class="flex-container"
      (press)="(device.accessLevel < selectedLocation.accessLevel && selectedLocation.accessLevel != 1) ? '' : presentActionSheet($event, device)">

      <ion-icon *ngIf="device.notification"
        (click)="showToast('Tienes habilitadas las notificaciones para este dispositivo'); $event.stopPropagation();"
        class="notificationsIcon" name="notifications-sharp"></ion-icon>

      <div style="flex-grow:70;" class="tempAndBattContainer">
        <div class="tempAndBattIcon"
          *ngIf="device.type=='temperature' || device.type=='battery' || device.type=='lightSensor'">
          <i  class="intelihogarIcon" [ngClass]="'icon' + '-' + device.type"></i>
          <p class='textStatus'>{{device.status}}</p>
        </div>
        <i *ngIf="device.type!='temperature' || device.type!='battery' || device.type!='lightSensor' || device.type!='energy' || device.type!='power' || device.type!='humidity'"
          class="intelihogarIcon"
          [ngClass]="'icon' + '-' + device.type + ((device.status != undefined) ? '-' + device.status : '')"></i>
      </div>

      <div style="flex-grow:15;">
        <div class="lineDivider"></div>
      </div>

      <!-- <div class='footer'>
      <i *ngIf="device.type=='temperature' || device.type=='battery' || device.type=='energy' || device.type=='power' || device.type=='humidity'"
        class='icon-{{device.type}}' style='font-size: 2em;'></i>
    </div> -->

      <div style="flex-grow:15;" class="st-title">
        {{device.alias}}
      </div>
    </div>

<!--Add shortcut button-->
<div id='tabsButtonFooter' class='addNewFavorite' (click)='showInputDevicesAlert()'
[ngClass]="{'iosFixedNavigationButton': currentPlatforms.includes('ios')}">
<ion-icon name="add-sharp" class="addIcon"></ion-icon>
<div class='addTitle'>Agregar</div>
</div>
  </div>
 
  
  <footer class="hide-on-small-only indexFooterStyle" id="favoritesFooter">
    <ion-tabs>
      <ion-tab-bar id="favoritesTabStyle" class="tabStyle " slot="bottom">
          <ion-tab-button class= "colorSelectedFav" tab="favorites">
              <!-- <ion-icon name="star"></ion-icon> -->
              <img class="tabsImageMargin" src="../../../assets/imgs/favoritesIcon.png" alt="favorites">
              <ion-label  id="labelFavorites" >Favoritos</ion-label>
          </ion-tab-button>
          <div class="verticalLine"></div>
          <ion-tab-button class= "colorSelectedConf" tab="confort">
              <!-- <ion-icon name="apps"></ion-icon> -->
              <img class="tabsImageMargin" src="../../../assets/imgs/confortIcon.png" alt="confort">
              <ion-label>Confort</ion-label>
          </ion-tab-button>
          <div class="verticalLine"></div>
          <ion-tab-button  class= "colorSelectedSec" tab="security">
              <!-- <ion-icon name="lock-closed"></ion-icon> -->
              <img class="tabsImageMargin" src="../../../assets/imgs/securityIcon.png" alt="security">
              <ion-label>Seguridad</ion-label>
          </ion-tab-button>
          <div class="verticalLine"></div>
          <ion-tab-button  class= "colorSelectedEnerg" tab="energy-saving">
              <!-- <ion-icon name="leaf"></ion-icon> -->
              <img class="tabsImageMargin" src="../../../assets/imgs/energyIcon.png" alt="energy">
              <ion-label>Energía</ion-label>
          </ion-tab-button>
          <!-- <ion-tab-button tab="user-profile" style="display: none">
      <img [src]="user.userImage" alt="actualUserImage" class="tabsImage">
      </ion-tab-button> -->
      
      </ion-tab-bar>
      <div class="container">
        <div class="row noMarginBottom">
            <div class="col s6 m3">
                <ul>
                    <li>
                        <img loading="lazy" src="../../../assets/imgs/landingPageIcons/help.webp"
                            class="ih-16-x-16 marginBottom" alt="Ayuda">
                        <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/preguntasFrecuentes"
                            ng-click="manageColors('default')">Preguntas
                            Frecuentes</a>
                    </li>
                    <li>
                        <img loading="lazy" src="../../../assets/imgs/landingPageIcons/comments.webp" class="ih-16-x-16"
                            alt="Blog">
                        <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/inicioBlog"
                            ng-click="manageColors('default')">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="col s6 m3">
                <ul>
                    <li>
                        <img loading="lazy" src="../../../assets/imgs/landingPageIcons/lock.webp"
                            class="ih-16-x-16 marginBottom" alt="Políticas de privacidad">
                        <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/politicasDePrivacidad"
                            ng-click="manageColors('default')">Política de
                            Privacidad</a>
                    </li>
                    <li>
                        <img loading="lazy" src="../../../assets/imgs/landingPageIcons/document.webp" class="ih-16-x-16"
                            alt="ToS">
                        <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/terminosCondiciones"
                            ng-click="manageColors('default')">Términos y
                            Condiciones</a>
                    </li>
                </ul>
            </div>
            <div class="col s6 m3">
                <ul>
                    <li>
                        <img loading="lazy" src="../../../assets/imgs/landingPageIcons/facebook.webp"
                            class="ih-16-x-16 marginBottomF" alt="Facebook">
                        <a class="footerFonts blackColorText cursorPointer" ng-click="goToFacebook();">Siguenos
                            en
                            Facebook </a>
                    </li>
                    <li>
                        <a class="footerFonts callText" href="https://www.intelihogar.com/#!/contactanos" ng-click="manageColors('default')">
                            <i class="material-icons callIcon">call</i> Contáctanos
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col s6 m3">
                <ul>
                    <li class="ih-footer-logo-margin">
                        <img src="../../../assets/imgs/inteliLogo-img.webp" alt="InteliHogar" class="ih-60-x-60-casa footerImage">
                        <img src="../../../assets/imgs/inteliLogo-name.webp" alt="InteliHogar" class="ih-image-inteli-desk">
                    </li>
                    <li class="ih-footer-rm-margin">
                        <span class="footerFonts footerFontsStyle">InteliHogar
                            2015-2021</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </ion-tabs>
  
    
  
 <!--Add shortcut button-->
 <div id='buttonFooter' class='addNewFavoriteFooter' (click)='showInputDevicesAlert()'
 [ngClass]="{'iosFixedNavigationButton': currentPlatforms.includes('ios')}">
 <ion-icon name="add-sharp" class="addIcon"></ion-icon>
 <div class='addTitle'>Agregar</div>
 </div>
  </footer>
  

</ion-content>
  <!--<form>
    <div>
      <label for="deviceId">Device ID: </label>
      <input type="text" name="name" [(ngModel)]="deviceId">
    </div>
    <div>
      <button (click)="openSmartLock()">openSmartlock</button>
    </div>
  </form>-->
  
