#background-content {
    // --background: url(../../../../assets/imgs/background.png) 0 0/100% 100% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    --background: #F4F8F8;
}

#inteliapps-container {
    text-align: center;
    margin-bottom: 5%;
    align-items: center;
}

#intelliapps-button {
    position: relative;
    width: 250px;
    height: 50px;
    background-color: #3794f3;
    color: #ffffff;
    font-size: 2em;
    margin: auto;
}

.floating-windows {
    width: 100%;
    height: 100%;
}

.floating-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9000;
    /* -webkit-transition: all .5s;
    transition: all .5s;*/
}

.notificationsIcon {
    position: absolute;
    padding: 4%;
    font-size: 1.4em;
    color: #3f75ff;
}

.thermo-container {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -119px;
    margin-top: -119px;
    width: 238px !important;
    height: 238px !important;
    background-image: url(https://s3.amazonaws.com/intelihogar/config/dev/Nest_238.png);
}

.thermo-title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110px;
    margin-top: -104px;
    margin-left: -55px;
    font-size: 0.9em;
    color: white;
    text-align: center;
    z-index: 10;
    line-height: 12px;
}

.thermo-control {
    position: absolute;
    cursor: pointer;
    top: 90px;
    left: 87px;
}

.thermo-slider {
    background-color: transparent;
    position: relative;
    top: -43%;
    left: 18.5%;
}

.thermo-mode {
    position: relative;
    cursor: pointer;
    z-index: 10200;
    top: 30%;
    font-size: 1.2em;
    text-align: center;
    color: white;
    width: 100px;
    left: 30%;
}

.thermo-temp {
    position: relative;
    cursor: pointer;
    z-index: 10300;
    top: 30%;
    text-align: center;
    font-size: 3em;
    color: white;
    width: 100px;
    left: 30%;
}

.thermo-icon {
    z-index: 10000;
    position: relative;
    top: 27%;
    font-size: 0.7em;
    left: 45.5%;
    color: white;
}

.thermo-close {
    cursor: pointer;
    position: relative;
    color: white;
    left: 45.5%;
    top: 35%;
    font-size: 0.7em;
    z-index: 10000;
}

.thermo-close-button {
    position: fixed;
    top: 5%;
    right: 5%;
    font-size: 2em;
    color: #aaa;
    cursor: pointer;
    transition: 0.3s;
}

.curtainPlayPauseButtons {
    color: #3F75FF;
    font-size: 2.3em;
    margin: 25% 0;
}

.rs-bg-color {
    background-color: blue;
}

.rs-overlay {
    background-color: transparent !important;
}

.rs-tooltip-text {
    position: relative;
    top: -15px !important;
    left: 45% !important;
}

.color-picker {
    position: relative;
    top: 22.5%;
    left: 11.5%;
}

.color-title {
    line-height: 15px;
    margin-top: -100px;
    font-size: 1em !important;
}

.disabledTile {
    pointer-events: none;
    opacity: 0.7;
}

.slider {
    display:-webkit-inline-box;
    -webkit-appearance: none;
    height: 2px;
    width: 85%;
    background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    outline: none;
    -webkit-transition: .2s;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    
}

.hola {
    background: red;
}

.loading-state {
    animation: rotation 2s infinite linear;
}

.no-access {
    background: #eeeeee;
    // pointer-events: none;
    // color: #ffffffaa;
}

.noFavoritesContainer {
    box-shadow: none;
    height: 10em;
}

.noFavoritesLabelContainer {
    position: absolute;
    height: 100%;
    width: 100%;
}

.noFavoritesLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 17px;
}

.noFavoritesIcon {
    color: rgba(63, 117, 255, 0.1);
    font-size: 7em;
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.lineDivider {
    width: 86%;
    height: 2px;
    margin-left: 10px;
    background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    position: relative;
}

.windowsLineDivider {
    float: left;
    width: 81%;
    margin-top: 7%;
}

.windowsLevelLabel {
    top: 20%;
    position: relative;
}

.windowButtonsContainer {
    position: relative;
    margin: -15% 0 0 0;
    top: 4%;
}

.curtainButtonsContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5%;
    top: 5%;
}

.windowPlayPauseButtons {
    color: #3F75FF;
    font-size: 2.3em;
    margin: 0 4%;
}


.addNewFavorite {
    position: fixed;
    bottom: 0px;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    right: 17px;
    background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    height: 82px;
    width: 50px;
    font-size: 0.6em;
    float: right;
    border-radius: 10px 0 0 0;
    cursor: pointer;

}

.addNewFavoriteFooter {
    position: absolute;
    bottom: 71px;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    left: calc(46% + 18.5vw);
    background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    height: 53px;
    width: 50px;
    font-size: 0.87em;
    float: right;
    border-radius: 0 10px 10px 0;
    cursor: pointer;

}


.iosFixedNavigationButton {
    bottom: 50px !important;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@media only screen and (max-width: 480px) {
    .st-tile {
        width: 47%;
        height: 150px;
    }

    .st-tile2 {
        width: 60.5%;
    }
}

@media only screen and (max-width: 565px) and (min-width: 481px) {
    .st-tile {
        width: 25%;
    }

    .st-tile2 {
        width: 50.5%;
    }
}

@media only screen and (max-width: 650px) and (min-width: 566px) {
    .st-tile {
        width: 20%;
    }

    .st-tile2 {
        width: 40.5%;
    }
}

@media only screen and (max-width: 850px) and (min-width: 651px) {
    .st-tile {
        width: 24%;
    }

    .st-tile2 {
        width: 32.5%;
    }
}

@media only screen and (max-width: 1050px) and (min-width: 851px) {
    .st-tile {
        width: 14%;
    }

    .st-tile2 {
        width: 28.5%;
    }
}

@media only screen and (min-width: 1051px) {
    .st-tile {
        width: 19%;
    }

    .st-tile2 {
        width: 24.5%;
    }
}


@media only screen and (min-width: 681px) {
    .thermo-container {
        margin-left: -238px;
        margin-top: -238px;
        width: 476px !important;
        height: 476px !important;
        background-image: url(https://s3.amazonaws.com/intelihogar/config/dev/Nest_476.png);
    }

    .thermo-title {
        width: 110px;
        margin-top: -104px;
        margin-left: -55px;
        font-size: 0.9em;
        line-height: 12px;
    }

    .thermo-control {
        top: 90px;
        left: 87px;
    }

    .thermo-slider {
        top: -12%;
        left: 18.5%;
    }

    .thermo-mode {
        top: 30%;
        font-size: 1.2em;
        width: 100px;
        left: 30%;
    }

    .thermo-temp {
        top: 30%;
        font-size: 3em;
        width: 100px;
        left: 30%;
    }

    .thermo-icon {
        top: 27%;
        font-size: 0.7em;
        left: 45.5%;
    }

    .thermo-close {
        left: 45.5%;
        top: 35%;
        font-size: 0.7em;
    }

    .thermo-close-button {
        top: 5%;
        right: 5%;
        font-size: 2em;
    }
}

@media only screen and (min-width: 600px) {
    .addNewFavorite {
        left: calc(48.9% + 18.5vw) !important;
        height: 53px !important;
        border-radius: 0 10px 10px 0 !important;
    }
    .sliderMobile{
        top: 1.5vw;
    }
}


@media only screen and (max-width: 600px) {

    .addNewFavorite {
        right: 0px !important;
        bottom: -25px !important;
        display: block;
    }
   
}




.tabStyle {
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 30px 30px 0 0;
    height: 75px;
    //--color-selected: red;
    width: 37vw;
    left: 46%;
    position: fixed;
    bottom: 33px; //antes72px
    transform: translate(-50%, -50%);

}

.verticalLine {
    width: 2px;
    height: 50px;
    background: #F4F8F8;
    position: relative;
}

.colorSelectedFav {
    --color-selected: #3f75ff;

}

.colorSelectedConf {
    --color-selected: #c23fff;

}

.colorSelectedSec {
    --color-selected: #ff553f;

}

.colorSelectedEnerg {
    --color-selected: #139730;

}
.locationTitleFav{     //bryan
    max-height: 30px;   
    padding-bottom: 20px; 
    padding-top: 69px;
}                    //bryan

.lineDividerMobile {
    width: 86%;
    height: 2px;
    margin-left: 10px;
    background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    position: relative;
    display: -webkit-inline-box;
}
.slidermobile {
    display:-webkit-inline-box;
    -webkit-appearance: none;
    height: 2px;
    width: 85%;
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
    outline: none;
    -webkit-transition: .2s;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    display: -webkit-inline-box;
}