#background-content {
    // --background: url(../../../../assets/imgs/background.png) 0 0/100% 100% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    --background: #f4f8f8;
}

.security-tile {
    position: relative;
    width: 100%;
    height: 140px !important;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid darkblue;
    background: #000d37 !important;
    color: #cdd3de;
    border-radius: 9px;
}

.lineDivider {
    height: 1px;
    width: 90%;
    margin-left: 5%;
    background: -webkit-gradient(linear, left top, right top, from(#ffaf3b), to(#e1004e));
    background: linear-gradient(90deg, #ffaf3b 0%, #e1004e 100%);
    position: relative;

}


.noAccess {
    background: #eeeeee;
}




.contenedor {
    padding-top: calc(var(--padding-top) + var(--offset-top));
}



.alarmActivated {
    color: #F14336;
}

.alarmFullActivated {
    color: #E1004E;
}


.alarmNightMode {
    color: #F9893F;
}

.alarmDeactivated {
    color: #3F75FF;
}

.alarmTriggered {
    color: #F9893F;
}

.alarmNotInstalled {
    color: #AAAAAA;
}

.marginNightMode {
    margin-left: 16%;
}

.alarmTitle {
    font-weight: bold;
    font-size: 1.3em;
    color: #F9893F;
    margin: 1% 0;
}

.alarmActive {
    border: 1px solid #E1004E;
}



.alarmSubtitle {
    font-size: 2.9em;
    font-weight: bold;
}

.alarmSubIcon {
    font-size: 11vw;
    position: absolute;
    top: 3%;
    left: 2%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: black;
}

.ripple {
    position: relative;
    overflow: hidden;

    &:after {
        content: "";
        background: rgba(255, 255, 255, 0.3);
        display: block;
        position: absolute;
        border-radius: 50%;
        padding-top: 240%;
        padding-left: 240%;
        margin-top: -120%;
        margin-left: -120%;
        opacity: 0;
        transition: all 1s;
    }

    &:active:after {
        padding-top: 0;
        padding-left: 0;
        margin-top: 0;
        margin-left: 0;
        opacity: 1;
        transition: 0s;
    }

}

.alarm-active {
    /*background: #ab0000 !important;*/
    border: 3px solid #ab0000;

    ion-icon {
        color: #ab0000;
    }
}

.alarm-inactive {
    background: #000d37 !important;
    border: 1px solid #000d37;
}

.security-icons {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: -10px;
    text-shadow: 2px 2px 2px black;
}

.alert-header-icon {
    font-size: 5em;
    margin-left: 20px;
}

.security-state-icon {
    position: relative;
    font-size: 3em;
    margin-left: -10px;
    top: 7px;
    margin-right: 10px;
}

.alert-state-icon {
    position: relative;
    font-size: 3em;
    margin-left: -10px;
    margin-right: 10px;
}

.security-state {
    margin-top: -10px;
}

.house-name {
    font-size: 1.9em;
    text-shadow: 2px 2px 2px black;
}

.house-mode {
    margin-top: -40px;
    font-size: 1.5em;
    font-style: italic;
}

.alarm-enabled {
    border: 3px solid #2d9c60;

    ion-icon {
        color: #2d9c60;
    }
}

.alarm-disabled {
    border: 2px solid #cdd3de;

    ion-icon {
        color: #cdd3de;
    }
}

.alarm-sample {
    background: gray !important;
    border: gray;

    ion-icon {
        color: #cdd3de;
    }
}

.st-mode {
    border-radius: 50%;
    margin-top: -60px;
    background-color: #b4bfe2;
    color: black;
    width: 80px;
    height: 80px;
    margin: 5px 20px 5px 20px;
    font-size: 1em;
    text-align: center;
    float: left;
    position: relative;
}

.securityTitle {
    float: left;
    color: white;
    font-size: 1.5em;
    margin-top: 5px;
}

.securitySlider {
    position: relative;
    height: 20px;
    margin-bottom: 10px;
    float: right;
    padding-right: 11px;
}

.modes {
    position: relative !important;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}

.securityHeaderIcon {
    font-size: 7em;
    margin-left: 10px;
}

.securityControlIcon {
    float: right;
    font-size: 2em;
    margin-right: 10px;
    margin-left: 10px;
    color: #b4bfe2;
}

.houseSecurityLevel {
    margin-top: -20px;
    font-size: 1.5em;
    font-style: italic;
    text-shadow: 1px 1px 1px black;
}

.st-modeTitle {
    color: rgb(152, 152, 218);
    font-size: 1em;
    margin-top: 80px;
    text-shadow: 1px 1px 1px black;
    width: 76px;
}

hr {
    background-color: white !important;
    width: 95%;
    margin-left: -1px;
    top: 3px;
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;
}

.st-modeIcon {
    height: 3em;
    width: 3em;
    left: 50%;
    top: 50%;
    margin-left: -1.4em;
    margin-top: -2em;
    position: absolute;
    color: black;
}

@media only screen and (max-width: 320px) {
    .st-tile {
        width: 30%;
    }

    .st-tile2 {
        width: 60.5%;
    }

    .st-mode {
        margin: 5px 6px 5px 6px;
    }

    .house-name {
        font-size: 1.2em !important;
    }

    .house-mode {
        font-size: 1.1em !important;
        margin-top: 0px;
    }

    // .secondAlarmTitle {
    //     font-size: 2.2em !important;
    // }

}

@media only screen and (max-width: 385px) and (min-width: 321px) {
    .st-tile {
        width: 30%;
    }

    .st-tile2 {
        width: 60.5%;
    }

    .st-mode {
        margin: 5px 13px 5px 13px;
    }

    // .secondAlarmTitle {
    //     font-size: 2.6em;
    // }

}

@media (max-width: 599px) {
    .house-name {
        font-size: 1.2em;
    }

    .house-mode {
        margin-top: 0px;
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 480px) and (min-width: 376px) {
    .st-tile {
        width: 30%;
    }

    .st-tile2 {
        width: 60.5%;
    }

    .st-mode {
        margin: 5px 20px 5px 20px;
    }
}

@media only screen and (max-width: 565px) and (min-width: 481px) {
    .st-tile {
        width: 25%;
    }

    .st-tile2 {
        width: 50.5%;
    }
}

@media only screen and (max-width: 650px) and (min-width: 566px) {
    .st-tile {
        width: 170px;
        height: 170px;
    }

    .st-tile2 {
        width: 42.5%;
    }

    .st-mode {
        margin: 5px 22px 5px 22px;
        width: 130px;
        height: 130px;
    }

    .st-modeIcon {
        left: 40%;
        top: 40%;
    }

    .st-innerMode {
        width: 125px;
        height: 125px;
    }

    .st-icon {
        height: 6em;
        width: 6em;
        margin-left: -3.5em;
        margin-top: -2em;
    }

    .st-title {
        font-size: 1.5em;
    }

    .st-modeTitle {
        font-size: 1.5em;
        margin-top: 135px;
    }

    .intelihogarIcon {
        font-size: 5em;
    }

    .modes {
        margin-bottom: 100px;
    }

    .house-name {
        font-size: 2.3em;
    }

    .house-mode {
        font-size: 2em;
    }

    .houseSecurityLevel {
        font-size: 2em;
        margin-left: 80px;
    }

    .security-tile {
        height: 200px !important;
    }

    .securityControlIcon {
        font-size: 4em;
    }

    .security-icons {
        margin-top: 40px;
    }

    .logs {
        height: 900px;
        font-size: 1.5em;
    }

    .slider {
        margin-left: 15px;
    }

    // .secondAlarmTitle {
    //     font-size: 4em;
    // }

}

@media only screen and (max-width: 850px) and (min-width: 651px) {
    .st-tile {
        width: 170px;
        height: 170px;
    }

    .st-tile2 {
        width: 42.5%;
    }

    .st-mode {
        margin: 5px 50px 5px 50px;
        width: 140px;
        height: 140px;
    }

    .st-modeIcon {
        left: 33%;
        top: 33%;
    }

    .st-innerMode {
        width: 135px;
        height: 135px;
    }

    .st-icon {
        height: 8em;
        width: 8em;
        margin-left: -4.5em;
        margin-top: -3.3em;
    }

    .st-title {
        font-size: 1.8em;
    }

    .st-modeTitle {
        font-size: 2em;
        margin-top: 135px;
        width: 136px;
    }

    .intelihogarIcon {
        font-size: 7em;
    }

    .modes {
        margin-bottom: 100px;
    }

    .house-name {
        font-size: 2.5em;
    }

    .house-mode {
        font-size: 2em;
    }

    .houseSecurityLevel {
        font-size: 2em;
    }

    .security-tile {
        height: 200px !important;
    }

    .securityControlIcon {
        font-size: 4em;
    }

    .houseSecurityLevel {
        margin-left: 105px;
    }

    .security-icons {
        margin-top: 40px;
    }

    .logs {
        height: 900px;
        font-size: 2em;
    }

    .slider {
        margin-left: 15px;
    }

    .securityTitle {
        font-size: 2.5em;
    }

    hr {
        top: 20px;
        margin-bottom: 40px;
    }

    // .secondAlarmTitle {
    //     font-size: 5em;
    // }


}

@media only screen and (max-width: 1050px) and (min-width: 851px) {
    .st-tile {
        width: 180px;
        height: 180px;
    }

    .st-tile2 {
        width: 42.5%;
    }

    .st-mode {
        margin: 5px 85px 5px 85px;
        width: 140px;
        height: 140px;
    }

    .st-modeIcon {
        left: 33%;
        top: 33%;
    }

    .st-innerMode {
        width: 135px;
        height: 135px;
    }

    .st-icon {
        height: 8em;
        width: 8em;
        margin-left: -4.5em;
        margin-top: -2em;
    }

    .st-title {
        font-size: 1.8em;
    }

    .st-modeTitle {
        font-size: 2em;
        margin-top: 135px;
    }

    .intelihogarIcon {
        font-size: 7em;
    }

    .modes {
        margin-bottom: 100px;
    }

    .house-name {
        font-size: 3em;
    }

    .house-mode {
        font-size: 2.5em;
    }

    .houseSecurityLevel {
        font-size: 2.5em;
    }

    .security-tile {
        height: 240px !important;
    }

    .securityControlIcon {
        font-size: 4em;
    }

    .houseSecurityLevel {
        margin-left: 105px;
    }

    .security-icons {
        margin-top: 50px;
    }

    .logs {
        font-size: 2em;
        height: 900px;
    }

    .slider {
        margin-left: 15px;
    }

    // .secondAlarmTitle {
    //     font-size: 4em;
    //     position: relative;
    //     bottom: 50px;
    // }


}


@media only screen and (min-width: 1051px) {
    .st-tile {
        width: 12%;
    }

    .st-tile2 {
        width: 24.5%;
    }

}

@media only screen and (min-width: 681px) {
    .thermo-container {
        margin-left: -238px;
        margin-top: -238px;
        width: 476px !important;
        height: 476px !important;
        background-image: url(https://s3.amazonaws.com/intelihogar/config/dev/Nest_476.png);
    }

    .thermo-title {
        width: 110px;
        margin-top: -104px;
        margin-left: -55px;
        font-size: 0.9em;
        line-height: 12px;
    }

    .thermo-control {
        top: 90px;
        left: 87px;
    }

    .thermo-slider {
        top: -12%;
        left: 18.5%;
    }

    .thermo-mode {
        top: 30%;
        font-size: 1.2em;
        width: 100px;
        left: 30%;
    }

    .thermo-temp {
        top: 30%;
        font-size: 3em;
        width: 100px;
        left: 30%;
    }

    .thermo-icon {
        top: 27%;
        font-size: 0.7em;
        left: 45.5%;
    }

    .thermo-close {
        left: 45.5%;
        top: 35%;
        font-size: 0.7em;
    }

    .thermo-close-button {
        top: 5%;
        right: 5%;
        font-size: 2em;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 1350px) {
    .house-mode {
        font-size: 1.9em;
        font-style: italic;
        text-shadow: none !important;
        margin-top: -30px !important;
        margin-left: 145px !important;
    }

    .device-name {
        font-size: 2.1em !important;
        font-weight: bold;
    }

}

@media only screen and (max-width: 600px) {


    .alarmCard {
        height: 21vh;
    }


    .alarmTitle {
        bottom: 19px;
    }

    .alarmNotInstalled {
        color: #AAAAAA;
        margin-left: -1vw;
        margin-top: 3vw;
        display: flex;
    }

}

.tabStyle {
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 30px 30px 0 0;
    height: 75px;
    // --color-selected: red;
    width: 37vw;
    left: 45.95%;
    position: fixed;
    bottom: 33px; //antes72px
    transform: translate(-50%, -50%);

}

.verticalLine {
    width: 2px;
    height: 50px;
    background: #F4F8F8;
    position: relative;
}

.colorSelectedFav {
    --color-selected: #3f75ff;

}

.colorSelectedConf {
    --color-selected: #c23fff;

}

.colorSelectedSec {
    --color-selected: #ff553f;

}

.colorSelectedEnerg {
    --color-selected: #139730;

}