<ion-content [scrollEvents]="true" (ionScroll)="scrollEvent($event)" id="background-content" class="ion-padding-bottom ion-padding-top"
  [ngStyle]="{'box-shadow': (isAlarmActive) ? '1px 1px 26px red inset' : 'initial'}">
  <div id="locationTitle" class="centerContent">
    <span class="locationNameTitle">{{selectedLocation.locationName}}</span>
</div>
  <div id="content" class="contenedor">
    <link href="../../../../assets/scss/ripple.less" rel="stylesheet">

    <!--#region Alarma de Intrusos-->
    <ion-card *ngFor="let device of modes" class="alarmCard cursorPointer" [ngClass]="{'alarmActive': device.status == 'active'}"
      (click)="changeIntrudersAlarmMode(device.type, device.id)">
      
      <!-- <i class="alarmSubIcon icon-alarmaIntrusos"></i> -->

      <div class="alarmIconsContainer">
        <!-- <i class="{{(device.status == 'completa' || device.status == 'noche') ? 'alarmCenterIcon' : alarmCenterIconOn }} icon-{{device.type}}{{device.status == 'off' ? '-off' : device.status == 'active' ? '-on' : device.status == 'on' ? '-on' : ''}}" ></i> -->
        <i class="alarmCenterIcon icon-{{device.type}}" >
          <i class="icon-warning" [hidden]="!(device.status == 'off' || device.status == 'active' || device.status == 'on')"></i>        
        </i>
        <div class="secondAlarmTitle" [ngClass]="{'alarmActivated': (device.status == 'completa'), 'alarmNightMode': (device.status == 'noche'), 'alarmDeactivated': (device.status == 'off'), 'alarmTriggered': (device.status == 'active'  && deviceCountdown > 0) , 'alarmFullActivated': (device.status == 'active')}">
          <ion-label>
            {{(device.status == 'active' && deviceCountdown > 0) ? "Se activará en " : (device.status == 'active' && deviceCountdown <= 0) ? "¡Activada!" : (device.status == 'noche') ? "Modo noche" : (device.status == 'completa') ? "Encendida" : "Apagada"}}
            <span id="countdown" style="color:#E1004E">{{(device.status == 'active' && deviceCountdown > 0) ? deviceCountdown : ""}}</span>
          </ion-label>
        </div>
      </div>
      
      <div class="lineDivider"></div>
      <div class="alarmTitle">
        <ion-label>Alarma de intrusos</ion-label>
      </div>
    </ion-card>
    
    <!-- <div *ngFor="let device of modes" class="security-tile ripple"
      (click)="changeIntrudersAlarmMode(device.type, device.id)"
      [ngClass]="{'alarm-active': device.status == 'active', 'alarm-inactive': device.status != 'active', 'alarm-enabled': device.status == 'completa' || device.status == 'noche', 'alarm-disabled': device.status == 'off'}">
      <div class="security-icons">
        <i class="alert-header-icon icon-{{device.type}}"></i>
        <ion-icon [name]="(device.status == 'off') ? 'lock-open' : (device.status == 'active') ? 'alert': 'lock-closed'" class="security-state-icon"></ion-icon>
      </div>
      <div class="security-state">
        <p class="house-name"><b>Alarma de Intrusos</b></p>
        <p class="house-mode">
          {{(device.status == 'active') ? "¡Activada!" : (device.status == 'noche') ? "Modo noche" : (device.status == 'completa') ? "Habilitada" : "Deshabilitada"}}
        </p>
      </div>
    </div> -->
    <!--#endregion-->
    
    <!--#region Alarmas-->
    
    <ion-card *ngFor="let device of devicesSecurityAction" class="alarmCard cursorPointer"
    (click)="sendCommand(device.type, device.id, 'toggle')">
    
    <!-- <i class="alarmSubIcon icon-{{device.type}}"></i> -->
    
    <div class="alarmIconsContainer" >
      <!-- <i class="alarmCenterIcon icon-{{device.type}}{{device.status == 'off' ? '-off' : device.status == 'active' ? '-on' : device.status == 'on' ? '-on' : ''}}"></i> -->
      <i class="alarmCenterIcon icon-{{device.type}}" >
        <i class="icon-warning"  [hidden]="!(device.status == 'off' || device.status == 'active')"></i>
      </i>
        <div class="secondAlarmTitle" [ngClass]="{'alarmActivated': (device.status == 'on'), 'alarmDeactivated': (device.status == 'off')}">
          <ion-label>
            {{(device.status == 'active') ? "Se activara en " : (device.status == 'on') ? "Encendida" : "Apagada"}}
          </ion-label>
         
        </div>
      </div>

      <div class="lineDivider"></div>
      <div class="alarmTitle">
        <ion-label>{{((device.type == 'simulacionPresencia') ? 'Simulación de presencia' :
          (device.type == 'alarmaAgua') ? 'Alarma de fuga de agua' :
          (device.type == 'alarmaIncendio') ? 'Alarma de incendio / CO' :
          (device.type == 'alarmaGas') ? 'Alarma de fuga de gas' : '')}}
        </ion-label>
      </div>
    </ion-card>

    <!-- <div *ngFor="let device of devicesSecurityAction" class="security-tile ripple"
      (click)="sendCommand(device.type, device.id, 'toggle')"
      [ngClass]="{'alarm-active': device.status == 'active', 'alarm-inactive': device.status != 'active', 'alarm-enabled': device.status == 'on', 'alarm-disabled': device.status == 'off'}">

      <div class="security-icons">
        <i class="alert-header-icon icon-{{device.type}}"></i>
        <ion-icon [name]="(device.status == 'off') ? 'lock-open' : (device.status == 'active') ? 'alert' : 'lock-closed'" class="alert-state-icon"></ion-icon>
      </div>

      <div class="security-state">
        <p class="house-name"><b>{{device.alias}}</b></p>
        <p class="house-mode">
          {{(device.status == 'active') ? "¡Activada!" : (device.status == 'on') ? "Habilitada" : "Deshabilitada"}}
        </p>
      </div>
    </div> -->
    <!--#endregion-->

    <!--#region Sample Alarms-->

    <ion-card *ngFor="let device of sampleAlarms" class="alarmCard noAccess" (click)="showSpam(device.type)">
      
      <!-- <i class="alarmSubIcon icon-{{device.type}}"></i> -->
      <div class="alarmIconsContainer" >
        <!-- <i class="alarmCenterIconDisabled icon-alarmNotInstalled"></i> -->
        <i class="alarmCenterIcon icon-{{device.type}} disabled-icon"  >
          <i class="icon-warning disabled-icon"></i>  
        </i>
        <div class="secondAlarmTitle alarmNotInstalled">
          <ion-label>
            Deshabilitada
          </ion-label>
        </div>
      </div>

      <div class="lineDivider"></div>
      <div class="alarmTitle">
        <ion-label>{{((device.type == 'simulacionPresencia') ? 'Simulación de presencia' :
          (device.type == 'alarmaAgua') ? 'Alarma de fuga de agua' :
          (device.type == 'alarmaIncendio') ? 'Alarma de incendio / CO' :
          (device.type == 'alarmaGas') ? 'Alarma de fuga de gas' : 'Alarma de intrusos')}}
        </ion-label>
      </div>
    </ion-card>

    <!-- <div *ngFor="let device of sampleAlarms" class="security-tile alarm-sample ripple" (click)="showSpam()">

      <div class="security-icons">
        <i class="alert-header-icon icon-{{device.type}}"></i>
        <ion-icon name="lock-closed" class="alert-state-icon"></ion-icon>
      </div>

      <div class="security-state">
        <p class="house-name"><b>{{device.alias}}</b></p>
        <p class="house-mode">
          No Instalada
        </p>
      </div>
    </div> -->
    <!--#endregion-->
  </div>
  <footer class="hide-on-small-only indexFooterStyle" id="securityFooter">
    <ion-tabs>
      <ion-tab-bar id="securityTabsNavBar" class="tabStyle" slot="bottom">
          <ion-tab-button class= "colorSelectedFav" tab="favorites">
              <!-- <ion-icon name="star"></ion-icon> -->
              <img class="tabsImageMargin" src="../../../assets/imgs/favoritesIcon.png" alt="favorites">
              <ion-label>Favoritos</ion-label>
          </ion-tab-button>
          <div class="verticalLine"></div>
          <ion-tab-button class= "colorSelectedConf" tab="confort">
              <!-- <ion-icon name="apps"></ion-icon> -->
              <img class="tabsImageMargin" src="../../../assets/imgs/confortIcon.png" alt="confort">
              <ion-label>Confort</ion-label>
          </ion-tab-button>
          <div class="verticalLine"></div>
          <ion-tab-button class= "colorSelectedSec" tab="security">
              <!-- <ion-icon name="lock-closed"></ion-icon> -->
              <img class="tabsImageMargin" src="../../../assets/imgs/securityIcon.png" alt="security">
              <ion-label id= "labelSecurity">Seguridad</ion-label>
          </ion-tab-button>
          <div class="verticalLine"></div>
          <ion-tab-button class= "colorSelectedEnerg" tab="energy-saving">
              <!-- <ion-icon name="leaf"></ion-icon> -->
              <img class="tabsImageMargin" src="../../../assets/imgs/energyIcon.png" alt="energy">
              <ion-label>Energía</ion-label>
          </ion-tab-button>
          <!-- <ion-tab-button tab="user-profile" style="display: none">
      <img [src]="user.userImage" alt="actualUserImage" class="tabsImage">
      </ion-tab-button> -->
      
      </ion-tab-bar>
      <div class="container">
        <div class="row noMarginBottom">
            <div class="col s6 m3">
                <ul>
                    <li>
                        <img loading="lazy" src="../../../assets/imgs/landingPageIcons/help.webp"
                            class="ih-16-x-16 marginBottom" alt="Ayuda">
                        <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/preguntasFrecuentes"
                            ng-click="manageColors('default')">Preguntas
                            Frecuentes</a>
                    </li>
                    <li>
                        <img loading="lazy" src="../../../assets/imgs/landingPageIcons/comments.webp" class="ih-16-x-16"
                            alt="Blog">
                        <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/inicioBlog"
                            ng-click="manageColors('default')">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="col s6 m3">
                <ul>
                    <li>
                        <img loading="lazy" src="../../../assets/imgs/landingPageIcons/lock.webp"
                            class="ih-16-x-16 marginBottom" alt="Políticas de privacidad">
                        <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/politicasDePrivacidad"
                            ng-click="manageColors('default')">Política de
                            Privacidad</a>
                    </li>
                    <li>
                        <img loading="lazy" src="../../../assets/imgs/landingPageIcons/document.webp" class="ih-16-x-16"
                            alt="ToS">
                        <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/terminosCondiciones"
                            ng-click="manageColors('default')">Términos y
                            Condiciones</a>
                    </li>
                </ul>
            </div>
            <div class="col s6 m3">
                <ul>
                    <li>
                        <img loading="lazy" src="../../../assets/imgs/landingPageIcons/facebook.webp"
                            class="ih-16-x-16 marginBottomF" alt="Facebook">
                        <a class="footerFonts blackColorText cursorPointer" ng-click="goToFacebook();">Siguenos
                            en
                            Facebook </a>
                    </li>
                    <li>
                        <a class="footerFonts callText" href="https://www.intelihogar.com/#!/contactanos" ng-click="manageColors('default')">
                            <i class="material-icons callIcon">call</i> Contáctanos
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col s6 m3">
                <ul>
                    <li class="ih-footer-logo-margin">
                        <img src="../../../assets/imgs/inteliLogo-img.webp" alt="InteliHogar" class="ih-60-x-60-casa footerImage">
                        <img src="../../../assets/imgs/inteliLogo-name.webp" alt="InteliHogar" class="ih-image-inteli-desk">
                    </li>
                    <li class="ih-footer-rm-margin">
                        <span class="footerFonts footerFontsStyle">InteliHogar
                            2015-2021</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </ion-tabs>
  
  </footer>
</ion-content>