<!-- <head>
  <link rel="stylesheet" href="assets/icon/InteliHogar/demo-files/demo.css">
  <link rel="stylesheet" href="assets/icon/InteliHogar/style.css">
</head> -->

<ion-content [scrollEvents]="true" (ionScroll)="scrollEvent($event)" class="contentBackground ion-padding ionContentStyle">
  <div class="fullWidth alignCenter">
    <ion-label class="addDevicesGeneralTitle">{{pageGeneralTitle}}</ion-label>
  </div>

  <br>
  <ion-label class="myFavorites">Mis Favoritos:</ion-label>

  <ion-item class="showAliasContainer">
    <ion-label>Mostrar nombre personalizado</ion-label>
    <ion-checkbox [(ngModel)]="showingAlias"></ion-checkbox>
  </ion-item>

  <div id="" style="margin-top: 7%">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Luces encendido / apagado:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of switchLightDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="switchLightDevices.length == 0" class="addDevicesButton" (click)="openStore('switchLight')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-switchLight"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con luces encendido / apagado.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Luces ajustables:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of adjustableLightDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="adjustableLightDevices.length == 0" class="addDevicesButton"
      (click)="openStore('adjustableLight')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-adjustableLight"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con luces ajustables.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Luces multiblanco:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of multiWhiteLightDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="multiWhiteLightDevices.length == 0" class="addDevicesButton"
      (click)="openStore('multiWhiteLight')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-colorLight"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con luces multiblanco.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>


  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Luces de color:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of colorLightDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="colorLightDevices.length == 0" class="addDevicesButton" (click)="openStore('colorLight')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-colorLight"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con luces de color.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Puertas:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of doorDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="doorDevices.length == 0" class="addDevicesButton" (click)="openStore('lockDoor')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-doorContact"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con puertas.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Ventanas:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of windowDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="windowDevices.length == 0" class="addDevicesButton" (click)="openStore('windowContact')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-windowContact"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con ventanas.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Cerraduras inteligentes:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of smartDoorDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="smartDoorDevices.length == 0" class="addDevicesButton" (click)="openStore('lockDoor')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-lockDoor"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con cerraduras inteligentes.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Ventanas inteligentes:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of smartWindowDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="smartWindowDevices.length == 0" class="addDevicesButton" (click)="openStore('window')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-window"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con ventanas inteligentes.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Persianas inteligentes:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of smartBlindDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>
    
    <ion-item *ngIf="smartBlindDevices.length == 0" class="addDevicesButton" (click)="openStore('smartBlind')">
      <div slot="start" style="margin: 0;">
        <i class="icon-smartBlind addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con persianas inteligentes.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Cortinas inteligentes:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of smartCurtainDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="smartCurtainDevices.length == 0" class="addDevicesButton" (click)="openStore('curtain')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-curtain"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con cortinas inteligentes.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Garajes inteligentes:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of garageDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="garageDevices.length == 0" class="addDevicesButton" (click)="openStore('garage')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-garage"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con garajes inteligentes.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Portones exteriores:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of outerGarageDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="outerGarageDevices.length == 0" class="addDevicesButton" (click)="openStore('outerDoor')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-outerDoor"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con portones exteriores.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Timbre exterior:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of doorbellDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="doorbellDevices.length == 0" class="addDevicesButton" (click)="openStore('doorbell')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-doorbell"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con timbre exterior.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Calefacciónes:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of heaterDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="heaterDevices.length == 0" class="addDevicesButton" (click)="openStore('heater')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-heater"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con calefacciónes.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Aires acondicionados:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of coolerDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="coolerDevices.length == 0" class="addDevicesButton" (click)="openStore('cooler')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-cooler"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con aires acondicionados.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Termostatos:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of thermostatDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="thermostatDevices.length == 0" class="addDevicesButton" (click)="openStore('thermostat')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-thermostat"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con termostatos.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Sirenas de interior:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of internalSirenDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="internalSirenDevices.length == 0" class="addDevicesButton" (click)="openStore('internalSiren')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-internalSiren"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con sirenas de interior.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Sirenas de exterior:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of externalSirenDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="externalSirenDevices.length == 0" class="addDevicesButton" (click)="openStore('externalSiren')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-externalSiren"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con sirenas de exterior.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Interruptores:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of switchDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="switchDevices.length == 0" class="addDevicesButton" (click)="openStore('switch')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-switch"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con interruptores.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Válvulas:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of valveDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="valveDevices.length == 0" class="addDevicesButton" (click)="openStore('valve')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-valve"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con válvulas.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Sensores de movimiento:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of motionSensorDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="motionSensorDevices.length == 0" class="addDevicesButton" (click)="openStore('motion')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-motion"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con sensores de movimiento.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Sensores de temperatura:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of temperatureSensorDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="temperatureSensorDevices.length == 0" class="addDevicesButton" (click)="openStore('temperature')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-temperature"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con sensores de temperatura.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Sensores de iluminación:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of lightSensorDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="lightSensorDevices.length == 0" class="addDevicesButton" (click)="openStore('lightSensor')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-lightSensor"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con sensores de iluminación.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Detectores de fuga de gas:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of monoxideSensorDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="monoxideSensorDevices.length == 0" class="addDevicesButton" (click)="openStore('monoxide')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con detectores de fuga de gas.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Botones de pánico:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of panicDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="panicDevices.length == 0" class="addDevicesButton" (click)="openStore('panic')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-panic"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con botones de pánico.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">InteliApps:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of inteliappDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-house-5 addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="inteliappDevices.length == 0" class="addDevicesButton" (click)="openStore('inteliAppsGeneral')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-inteliApp"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con inteliapps.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
  </div>

  <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Baterías:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of batteryDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{showingAlias ? device.alias : device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>

    <ion-item *ngIf="batteryDevices.length == 0" class="addDevicesButton" (click)="openStore('battery')">
      <div slot="start" style="margin: 0;">
        <i class="addDevicesIcon icon-battery"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="noDevicesTitle"><b>Aún no cuentas con baterías.</b></ion-label>
        <ion-label class="noDevicesSubtitle fullWidth alignCenter"><b>¿Añadir?</b></ion-label>
      </div>
    </ion-item>
    
  </div>

  <!-- <div id="">
    <div style="margin-bottom: 2%;">
      <ion-label class="addDevicesGeneralText">Otros:</ion-label>
    </div>

    <ion-item class="addDevicesButton" *ngFor="let device of restDevices" (click)="selectDevice(device)"
      [ngClass]="{'selectedDevice': device.checked}">
      <div slot="start" style="margin: 0;">
        <i class="icon-{{device.type}} addDevicesIcon"></i>
      </div>
      <div class="fullWidth">
        <ion-label class="addDevicesTitle"><b>{{device.name}}</b></ion-label>
      </div>
      <div>
        <ion-icon *ngIf="device.checked" class="floatRight" style="font-size: 1.6em;" name="checkmark-outline">
        </ion-icon>
      </div>
    </ion-item>
  </div> -->

  <!--Add room button-->
  <div id='addRoomButtonDevices' class='addNewFavorite'
    [ngClass]="{'confortColor': pageGeneralTitle.includes('dispositivos'), 'iosFixedNavigationButton': currentPlatforms.includes('ios')}"
    (click)="confirmDevices()">
    <ion-icon name="checkmark-sharp" class="addIcon"></ion-icon>
    <div class='addTitle'>Confirmar</div>
  </div>
 
  <!--#endregion-->
 
  <!--Backbutton-->
  <div id='backButtonDevices' class='backButton'
    [ngClass]="{'confortColor': pageGeneralTitle.includes('dispositivos'), 'iosFixedNavigationButton': currentPlatforms.includes('ios')}"
    (click)="goBack()">
    <i class='icon-back addIcon'></i>
    <div class='addTitle'>Regresar</div>
  </div>
  <div id='da_addShortCutButton' class='backButton2'>
  </div>

  <footer class="hide-on-small-only indexFooterStyle" id="addDevicesFooter">
    <ion-tabs>
      <ion-tab-bar id="addDevicesNavBar" class="tabStyle" slot="bottom">
        <ion-tab-button labelFavorites tab="favorites">
            <!-- <ion-icon name="star"></ion-icon> -->
            <img class="tabsImageMargin" src="../../../assets/imgs/favoritesIcon.png" alt="favorites">
            <ion-label>Favoritos</ion-label>
        </ion-tab-button>
        <div class="verticalLine"></div>
        <ion-tab-button class= "colorSelectedConf" tab="confort">
            <!-- <ion-icon name="apps"></ion-icon> -->
            <img class="tabsImageMargin" src="../../../assets/imgs/confortIcon.png" alt="confort">
            <ion-label >Confort</ion-label>
        </ion-tab-button>
        <div class="verticalLine"></div>
        <ion-tab-button class= "colorSelectedSec" tab="security">
            <!-- <ion-icon name="lock-closed"></ion-icon> -->
            <img class="tabsImageMargin" src="../../../assets/imgs/securityIcon.png" alt="security">
            <ion-label>Seguridad</ion-label>
        </ion-tab-button>
        <div class="verticalLine"></div>
        <ion-tab-button class= "colorSelectedEnerg" tab="energy-saving">
            <!-- <ion-icon name="leaf"></ion-icon> -->
            <img class="tabsImageMargin" src="../../../assets/imgs/energyIcon.png" alt="energy">
            <ion-label>Energía</ion-label>
        </ion-tab-button>
        <!-- <ion-tab-button tab="user-profile" style="display: none">
    <img [src]="user.userImage" alt="actualUserImage" class="tabsImage">
    </ion-tab-button> -->
    
    </ion-tab-bar>
    <div class="container">
      <div class="row noMarginBottom">
          <div class="col s6 m3">
              <ul>
                  <li>
                      <img loading="lazy" src="../../../assets/imgs/landingPageIcons/help.webp"
                          class="ih-16-x-16 marginBottom" alt="Ayuda">
                      <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/preguntasFrecuentes"
                          ng-click="manageColors('default')">Preguntas
                          Frecuentes</a>
                  </li>
                  <li>
                      <img loading="lazy" src="../../../assets/imgs/landingPageIcons/comments.webp" class="ih-16-x-16"
                          alt="Blog">
                      <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/inicioBlog"
                          ng-click="manageColors('default')">Blog</a>
                  </li>
              </ul>
          </div>
          <div class="col s6 m3">
              <ul>
                  <li>
                      <img loading="lazy" src="../../../assets/imgs/landingPageIcons/lock.webp"
                          class="ih-16-x-16 marginBottom" alt="Políticas de privacidad">
                      <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/politicasDePrivacidad"
                          ng-click="manageColors('default')">Política de
                          Privacidad</a>
                  </li>
                  <li>
                      <img loading="lazy" src="../../../assets/imgs/landingPageIcons/document.webp" class="ih-16-x-16"
                          alt="ToS">
                      <a class="footerFonts blackColorText" href="https://www.intelihogar.com/#!/terminosCondiciones"
                          ng-click="manageColors('default')">Términos y
                          Condiciones</a>
                  </li>
              </ul>
          </div>
          <div class="col s6 m3">
              <ul>
                  <li>
                      <img loading="lazy" src="../../../assets/imgs/landingPageIcons/facebook.webp"
                          class="ih-16-x-16 marginBottomF" alt="Facebook">
                      <a class="footerFonts blackColorText cursorPointer" ng-click="goToFacebook();">Siguenos
                          en
                          Facebook </a>
                  </li>
                  <li>
                      <a class="footerFonts callText" href="https://www.intelihogar.com/#!/contactanos" ng-click="manageColors('default')">
                          <i class="material-icons callIcon">call</i> Contáctanos
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col s6 m3">
              <ul>
                  <li class="ih-footer-logo-margin">
                      <img src="../../../assets/imgs/inteliLogo-img.webp" alt="InteliHogar" class="ih-60-x-60-casa footerImage">
                      <img src="../../../assets/imgs/inteliLogo-name.webp" alt="InteliHogar" class="ih-image-inteli-desk">
                  </li>
                  <li class="ih-footer-rm-margin">
                      <span class="footerFonts footerFontsStyle">InteliHogar
                          2015-2021</span>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  </ion-tabs>
   
     <!--Add shortcut button-->
  <!-- <div id='da_addShortCutButton' class='addNewFavorite' (click)='showInputDevicesAlert()'
  [ngClass]="{'iosFixedNavigationButton': currentPlatforms.includes('ios')}">
  <ion-icon name="add-sharp" class="addIcon"></ion-icon>
  <div class='addTitle'>Agregar</div>
  </div> -->
  <div id='footerBackButtonDevices' class='footerBackButton'
    [ngClass]="{'confortColor': pageGeneralTitle.includes('dispositivos'), 'iosFixedNavigationButton': currentPlatforms.includes('ios')}"
    (click)="goBack()">
    <i class='intelihogarIcon icon-back addIcon'></i>
    <div class='addTitle'>Regresar</div>
  </div>
  <div id='footerAddRoomButtonDevices' class='addNewFavoriteFooter'
    [ngClass]="{'confortColor': pageGeneralTitle.includes('dispositivos'), 'iosFixedNavigationButton': currentPlatforms.includes('ios')}"
    (click)="confirmDevices()">
    <ion-icon name="checkmark-sharp" class="addIcon"></ion-icon>
    <div class='addTitle'>Confirmar</div>
  </div>
  </footer>
</ion-content>
