.contentBackground {
    --background: #f4f8f8;
}

.addDevicesButton {
    --background: white;
    --border-radius: 10px;
    color: #3F75FF;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
    cursor: pointer;
    width: calc(75vw + 40px);
    max-width: 700px;
    margin: 0 auto;
}

.selectedDevice {
    border: 1px solid #3F75FF;
}

.iosFixedNavigationButton {
    bottom: 50px !important;
}

.addDevicesGeneralText {
    font-weight: 600;
    font-size: 16px;
    color: #3F75FF;
}

.addDevicesGeneralTitle {
    font-weight: 600;
    font-size: 18px;
    color: #3F75FF;
}

.addDevicesIcon {
    margin-left: -30%;
    font-size: 2.3em;
    color: black;
}

.fullWidth {
    width: 100%;
}

.alignCenter {
    text-align: center;
}

.addDevicesTitle {
    font-weight: 600;
    font-size: 14px;
}

.floatRight {
    float: right;
}
@media only screen and (max-width: 600px){
    .backButton {
        position: fixed;
        bottom: -25px !important;
    }
    .addNewFavorite{
        position: fixed;
        bottom: -25px !important;
    }
    .addDevicesButton {
        --background: white;
        --border-radius: 10px;
        color: #3F75FF;
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        margin-left: -7px;
    }
    
}
.backButton {
    position: fixed;
    bottom: 0px;;
    background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    height: 82px;
    width: 50px;
    font-size: 0.6em;
    float: left;
    border-radius: 0 10px 0 0;
    z-index: 1;
    cursor:pointer;
}
.footerBackButton {
    position: absolute;
    bottom: 71px;
    right: calc(52.5% + 18.5vw);
    background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    height: 53px;
    width: 50px;
    font-size: 0.8em;
    float: left;
    border-radius:10px 0 0 10px;
    cursor:pointer;
}


.addNewFavorite {
    position: fixed;
    bottom: 0px;
    right: 17px;
    background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    height: 82px;
    width: 50px;
    font-size: 0.6em;
    float: right;
    border-radius:10px 0 0 0;
    z-index: 1;
    cursor:pointer;
}
.addNewFavoriteFooter{
    position: absolute;
    bottom: 71px;
    left: calc(47.35% + 18.5vw);
    background: linear-gradient(90deg, #3F75FF 0%, #2AD8DA 100%);
    height: 53px;
    width: 50px;
    font-size: 0.8em;
    float: right;
    border-radius: 0 10px 10px 0;
    cursor:pointer;
}

.confortColor {
    background: linear-gradient(90deg, #5C8FF0 0%, #C456E5 100%);
}

.noDevicesTitle {
    font-weight: 600;
    font-size: 12px;
    color: #aaaaaa;
    text-align: center;
}

.noDevicesSubtitle {
    font-weight: 600;
    font-size: 12px;
}

.showAliasContainer {
    font-weight: 600;
    --background: transparent;
    color: #3F75FF;
}
@media only screen and (min-width: 601px) {
    
    .tabStyle {
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
        border-radius: 30px 30px 0 0;
        height: 75px;
      //--color-selected: red;
        height: 75px;
        width: 37vw;
        left: 47.35%;
        position: fixed;
        bottom: 32px;
        transform: translate(-50%, -50%);

    }
   
}

@media only screen and (min-width: 1200px) {
    .addDevicesGeneralText {
        font-weight: 600;
        font-size: 16px;
        color: #3F75FF;
        margin-left: 58px;
    }
}
.indexFooterStyle {
    position: absolute;
    padding-top: 10px !important;
    padding-left: 5%;
    width: 100%;
    background: #fff!important;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
    height: 60px;
    left:-3px;
    margin-top:10%;
    z-index:1;
}
@media only screen and (max-width: 600px){
    .backButton {
        left:0 !important;
    }

    .showAliasContainer {
        margin-top: 3% !important;
    }
    .myFavorites{
        margin-top: 9% !important;
    }
}
.colorSelectedFav{
    --color-selected: #3f75ff;
    
}
.colorSelectedConf{
    --color-selected: #c23fff;
    
}
.colorSelectedSec{
    --color-selected: #ff553f;
    
}
.colorSelectedEnerg{
    --color-selected: #139730;
    
}

@media only screen and (min-width: 600px) {
    .addNewFavorite {
        left: calc(48.9% + 18.5vw) !important;
        height: 53px !important;
        border-radius: 0 10px 10px 0 !important;
    }
    .backButton{
    right: calc(50.9% + 18.5vw);
    height: 53px !important;
        border-radius: 10px 0 0 10px !important;
    }
}

.myFavorites{
    margin-top: 4%;
    font-weight: 600;
    font-size: 15px;
    margin-left: 25vw;
    --background: transparent;
    color: #3F75FF;
    text-align: center;
    position: inherit;
    display:flex;
}